<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>
<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-search">
    <div class="row">
      <div *ngIf="bCompany" class="col-sm-3">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Type</label>
          <div class="col-sm-4">
            <select class="form-control form-control-sm" name="etype" [(ngModel)]="prtype"
              (change)="OnChange('prtype')">
              <option [value]="'PAY ROLL'">Month Wise</option>
              <option [value]="'CONSOL PAY ROLL'">Period Wise</option>
              <option [value]="'CONSOL PAY ROLL[FOR LBR RTN]'">Labour Return</option>
              <option [value]="'PROFESSIONAL TAX'">Professional Tax</option>
            </select>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Region</label>
          <div class="col-sm-4">
            <select class="form-control form-control-sm" name="eregion" [(ngModel)]="empregion">
              <option [value]="'ALL'">All</option>
              <option [value]="'SOUTH'">South</option>
              <option [value]="'NORTH'">North</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div *ngIf="prtype=='PAY ROLL'" class="form-group row">
          <label style="padding-right:0px" class="col-sm-2 col-form-label col-form-label-sm">Year</label>
          <div style="padding-right:0px;padding-left:0px" class="col-sm-3">
            <input type="number" class="col form-control form-control-sm" (blur)="OnBlur('salyear')"
              [(ngModel)]="salyear" />
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Month</label>
          <div style="padding-right:0px;padding-left:5px" class="col-sm-3">
            <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('salmonth')"
              [(ngModel)]="salmonth" />
          </div>
        </div>

        <div *ngIf="prtype !='PAY ROLL'" class="form-group row">
          <label style="padding-right:0px" class="col-sm-2 col-form-label col-form-label-sm">FromDate</label>
          <div style="padding-right:0px;padding-left:0px" class="col-sm-4">
            <app-date [inputdate]="fromdate" (ValueChanged)="fromdate=$event"></app-date>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">ToDate</label>
          <div style="padding-right:0px;padding-left:5px" class="col-sm-4">
            <app-date [inputdate]="todate" (ValueChanged)="todate=$event"></app-date>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm">Status</label>
          <div class="col-sm-5">
            <select class="form-control form-control-sm" name="estatus" [(ngModel)]="empstatus">
              <option [value]="'BOTH'">Both(Confm/UnConfm)</option>
              <option [value]="'CONFIRMED'">Confirmed</option>
              <option [value]="'UNCONFIRM'">Unconfirmed</option>
              <option [value]="'CONSULTANT'">Consultant</option>
              <option [value]="'APPRENTICE'">Apprentice</option>
            </select>
          </div>
          <label *ngIf="bCompany" class="col-sm-1 col-form-label col-form-label-sm">Branch</label>
          <div *ngIf="bCompany" class="col-5">
            <app-autocomplete #BrLov [inputdata]="BRRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
          </div>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group row">
          <div class="col-sm-12">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
            <button [disabled]="loading" *ngIf="bPrint" (click)="List('EXCEL')"
              class="btn btn-primary btn-sm">Print</button>
            <span *ngIf="bPrint && prtype=='PAY ROLL'">
              <input type="checkbox" [(ngModel)]="bSalarySheet">Salary Sheet&nbsp;
              <input type="checkbox" [(ngModel)]="bBranchSummary">Branch Summary
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th *ngIf="prtype=='PAY ROLL'||prtype=='CONSOL PAY ROLL'">BRANCH</th>
          <th>CODE</th>
          <th>NAME</th>
          <th *ngIf="prtype=='PAY ROLL'">DOJ</th>
          <th *ngIf="prtype=='PAY ROLL'">DOB</th>
          <th *ngIf="prtype=='PAY ROLL'">GRADE</th>
          <th *ngIf="prtype=='PAY ROLL'">A/C.NO</th>
          <th *ngIf="prtype=='PAY ROLL'">SALARY.MONTH</th>
          <th *ngIf="prtype=='PAY ROLL'">DESIGNATION</th>
          <th *ngIf="Recorddet.a01_visible">{{Recorddet.a01_desc}}</th>
          <th *ngIf="Recorddet.a02_visible">{{Recorddet.a02_desc}}</th>
          <th *ngIf="Recorddet.a03_visible">{{Recorddet.a03_desc}}</th>
          <th *ngIf="Recorddet.a04_visible">{{Recorddet.a04_desc}}</th>
          <th *ngIf="Recorddet.a05_visible">{{Recorddet.a05_desc}}</th>
          <th *ngIf="Recorddet.a06_visible">{{Recorddet.a06_desc}}</th>
          <th *ngIf="Recorddet.a07_visible">{{Recorddet.a07_desc}}</th>
          <th *ngIf="Recorddet.a08_visible">{{Recorddet.a08_desc}}</th>
          <th *ngIf="Recorddet.a09_visible">{{Recorddet.a09_desc}}</th>
          <th *ngIf="Recorddet.a10_visible">{{Recorddet.a10_desc}}</th>
          <th *ngIf="Recorddet.a11_visible">{{Recorddet.a11_desc}}</th>
          <th *ngIf="Recorddet.a12_visible">{{Recorddet.a12_desc}}</th>
          <th *ngIf="Recorddet.a13_visible">{{Recorddet.a13_desc}}</th>
          <th *ngIf="Recorddet.a14_visible">{{Recorddet.a14_desc}}</th>
          <th *ngIf="Recorddet.a15_visible">{{Recorddet.a15_desc}}</th>
          <th *ngIf="Recorddet.a16_visible">{{Recorddet.a16_desc}}</th>
          <th *ngIf="Recorddet.a17_visible">{{Recorddet.a17_desc}}</th>
          <th *ngIf="Recorddet.a18_visible">{{Recorddet.a18_desc}}</th>
          <th *ngIf="Recorddet.a19_visible">{{Recorddet.a19_desc}}</th>
          <th *ngIf="Recorddet.a20_visible">{{Recorddet.a20_desc}}</th>
          <th *ngIf="Recorddet.a21_visible">{{Recorddet.a21_desc}}</th>
          <th *ngIf="Recorddet.a22_visible">{{Recorddet.a22_desc}}</th>
          <th *ngIf="Recorddet.a23_visible">{{Recorddet.a23_desc}}</th>
          <th *ngIf="Recorddet.a24_visible">{{Recorddet.a24_desc}}</th>
          <th *ngIf="Recorddet.a25_visible">{{Recorddet.a25_desc}}</th>
          <th *ngIf="Recorddet.d01_visible">{{Recorddet.d01_desc}}</th>
          <th *ngIf="Recorddet.d02_visible">{{Recorddet.d02_desc}}</th>
          <th *ngIf="Recorddet.d03_visible">{{Recorddet.d03_desc}}</th>
          <th *ngIf="Recorddet.d04_visible">{{Recorddet.d04_desc}}</th>
          <th *ngIf="Recorddet.d05_visible">{{Recorddet.d05_desc}}</th>
          <th *ngIf="Recorddet.d06_visible">{{Recorddet.d06_desc}}</th>
          <th *ngIf="Recorddet.d07_visible">{{Recorddet.d07_desc}}</th>
          <th *ngIf="Recorddet.d08_visible">{{Recorddet.d08_desc}}</th>
          <th *ngIf="Recorddet.d09_visible">{{Recorddet.d09_desc}}</th>
          <th *ngIf="Recorddet.d10_visible">{{Recorddet.d10_desc}}</th>
          <th *ngIf="Recorddet.d11_visible">{{Recorddet.d11_desc}}</th>
          <th *ngIf="Recorddet.d12_visible">{{Recorddet.d12_desc}}</th>
          <th *ngIf="Recorddet.d13_visible">{{Recorddet.d13_desc}}</th>
          <th *ngIf="Recorddet.d14_visible">{{Recorddet.d14_desc}}</th>
          <th *ngIf="Recorddet.d15_visible">{{Recorddet.d15_desc}}</th>
          <th *ngIf="Recorddet.d16_visible">{{Recorddet.d16_desc}}</th>
          <th *ngIf="Recorddet.d17_visible">{{Recorddet.d17_desc}}</th>
          <th *ngIf="Recorddet.d18_visible">{{Recorddet.d18_desc}}</th>
          <th *ngIf="Recorddet.d19_visible">{{Recorddet.d19_desc}}</th>
          <th *ngIf="Recorddet.d20_visible">{{Recorddet.d20_desc}}</th>
          <th *ngIf="Recorddet.d21_visible">{{Recorddet.d21_desc}}</th>
          <th *ngIf="Recorddet.d22_visible">{{Recorddet.d22_desc}}</th>
          <th *ngIf="Recorddet.d23_visible">{{Recorddet.d23_desc}}</th>
          <th *ngIf="Recorddet.d24_visible">{{Recorddet.d24_desc}}</th>
          <th *ngIf="Recorddet.d25_visible">{{Recorddet.d25_desc}}</th>
          <th>LOP</th>
          <th>SALARY</th>
          <th>DEDUCTIONS</th>
          <th>NET</th>
          <th *ngIf="prtype=='CONSOL PAY ROLL'">GR.INCENT</th>
          <th *ngIf="prtype=='CONSOL PAY ROLL'">DEDUS.INCENT</th>
          <th *ngIf="prtype=='CONSOL PAY ROLL'">NET.INCENT</th>
          <th *ngIf="prtype=='CONSOL PAY ROLL'">PF.EMPLR</th>
          <th *ngIf="prtype=='CONSOL PAY ROLL'">ESI.EMPLR</th>
          <th *ngIf="prtype=='CONSOL PAY ROLL'">ADMIN.CHRG</th>
          <th *ngIf="prtype=='CONSOL PAY ROLL'">EDLI.CHRG</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody" *ngFor="let rec of RecordList; let i = index">
        <tr [class.active]="i == selectedRowIndex"
        (mousedown)="selectedRowIndex=i">
          <td *ngIf="prtype=='PAY ROLL'||prtype=='CONSOL PAY ROLL'">{{rec.rec_branch_code}}</td>
          <td>{{rec.sal_emp_code}}</td>
          <td>{{rec.sal_emp_name}}</td>
          <td *ngIf="prtype=='PAY ROLL'">{{rec.sal_emp_do_joining}}</td>
          <td *ngIf="prtype=='PAY ROLL'">{{rec.sal_emp_do_birth}}</td>
          <td *ngIf="prtype=='PAY ROLL'">{{rec.sal_emp_grade}}</td>
          <td *ngIf="prtype=='PAY ROLL'">{{rec.sal_emp_bank_acno}}</td>
          <td *ngIf="prtype=='PAY ROLL'">{{rec.sal_pf_mon_year}}</td>
          <td *ngIf="prtype=='PAY ROLL'">{{rec.sal_emp_designation}}</td>
          <td *ngIf="Recorddet.a01_visible">{{rec.a01}}</td>
          <td *ngIf="Recorddet.a02_visible">{{rec.a02}}</td>
          <td *ngIf="Recorddet.a03_visible">{{rec.a03}}</td>
          <td *ngIf="Recorddet.a04_visible">{{rec.a04}}</td>
          <td *ngIf="Recorddet.a05_visible">{{rec.a05}}</td>
          <td *ngIf="Recorddet.a06_visible">{{rec.a06}}</td>
          <td *ngIf="Recorddet.a07_visible">{{rec.a07}}</td>
          <td *ngIf="Recorddet.a08_visible">{{rec.a08}}</td>
          <td *ngIf="Recorddet.a09_visible">{{rec.a09}}</td>
          <td *ngIf="Recorddet.a10_visible">{{rec.a10}}</td>
          <td *ngIf="Recorddet.a11_visible">{{rec.a11}}</td>
          <td *ngIf="Recorddet.a12_visible">{{rec.a12}}</td>
          <td *ngIf="Recorddet.a13_visible">{{rec.a13}}</td>
          <td *ngIf="Recorddet.a14_visible">{{rec.a14}}</td>
          <td *ngIf="Recorddet.a15_visible">{{rec.a15}}</td>
          <td *ngIf="Recorddet.a16_visible">{{rec.a16}}</td>
          <td *ngIf="Recorddet.a17_visible">{{rec.a17}}</td>
          <td *ngIf="Recorddet.a18_visible">{{rec.a18}}</td>
          <td *ngIf="Recorddet.a19_visible">{{rec.a19}}</td>
          <td *ngIf="Recorddet.a20_visible">{{rec.a20}}</td>
          <td *ngIf="Recorddet.a21_visible">{{rec.a21}}</td>
          <td *ngIf="Recorddet.a22_visible">{{rec.a22}}</td>
          <td *ngIf="Recorddet.a23_visible">{{rec.a23}}</td>
          <td *ngIf="Recorddet.a24_visible">{{rec.a24}}</td>
          <td *ngIf="Recorddet.a25_visible">{{rec.a25}}</td>
          <td *ngIf="Recorddet.d01_visible">{{rec.d01}}</td>
          <td *ngIf="Recorddet.d02_visible">{{rec.d02}}</td>
          <td *ngIf="Recorddet.d03_visible">{{rec.d03}}</td>
          <td *ngIf="Recorddet.d04_visible">{{rec.d04}}</td>
          <td *ngIf="Recorddet.d05_visible">{{rec.d05}}</td>
          <td *ngIf="Recorddet.d06_visible">{{rec.d06}}</td>
          <td *ngIf="Recorddet.d07_visible">{{rec.d07}}</td>
          <td *ngIf="Recorddet.d08_visible">{{rec.d08}}</td>
          <td *ngIf="Recorddet.d09_visible">{{rec.d09}}</td>
          <td *ngIf="Recorddet.d10_visible">{{rec.d10}}</td>
          <td *ngIf="Recorddet.d11_visible">{{rec.d11}}</td>
          <td *ngIf="Recorddet.d12_visible">{{rec.d12}}</td>
          <td *ngIf="Recorddet.d13_visible">{{rec.d13}}</td>
          <td *ngIf="Recorddet.d14_visible">{{rec.d14}}</td>
          <td *ngIf="Recorddet.d15_visible">{{rec.d15}}</td>
          <td *ngIf="Recorddet.d16_visible">{{rec.d16}}</td>
          <td *ngIf="Recorddet.d17_visible">{{rec.d17}}</td>
          <td *ngIf="Recorddet.d18_visible">{{rec.d18}}</td>
          <td *ngIf="Recorddet.d19_visible">{{rec.d19}}</td>
          <td *ngIf="Recorddet.d20_visible">{{rec.d20}}</td>
          <td *ngIf="Recorddet.d21_visible">{{rec.d21}}</td>
          <td *ngIf="Recorddet.d22_visible">{{rec.d22}}</td>
          <td *ngIf="Recorddet.d23_visible">{{rec.d23}}</td>
          <td *ngIf="Recorddet.d24_visible">{{rec.d24}}</td>
          <td *ngIf="Recorddet.d25_visible">{{rec.d25}}</td>
          <td>{{rec.sal_lop_amt}}</td>
          <td>{{rec.sal_gross_earn}}</td>
          <td>{{rec.sal_gross_deduct}}</td>
          <td>{{rec.sal_net}}</td>
          <td *ngIf="prtype=='CONSOL PAY ROLL'">{{rec.sal_gr_incentive}}</td>
          <td *ngIf="prtype=='CONSOL PAY ROLL'">{{rec.sal_ded_incentive}}</td>
          <td *ngIf="prtype=='CONSOL PAY ROLL'">{{rec.sal_net_incentive}}</td>
          <td *ngIf="prtype=='CONSOL PAY ROLL'">{{rec.sal_pf_emplr_share}}</td>
          <td *ngIf="prtype=='CONSOL PAY ROLL'">{{rec.sal_esi_emplr}}</td>
          <td *ngIf="prtype=='CONSOL PAY ROLL'">{{rec.sal_admin_emply}}</td>
          <td *ngIf="prtype=='CONSOL PAY ROLL'">{{rec.sal_edli_emply}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>