<div *ngIf="currentTab=='DETAILS'" class="page-details">
    <div class="page-box">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">EMP.CODE</label>
                    <div class="col-4">
                        <app-autocomplete #EmpLov [inputdata]="EMPRECORD" (ValueChanged)="LovSelected($event)">
                        </app-autocomplete>
                    </div>
                    <div class="col-6">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.ded_emp_name" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group row">
                    <div class="offset-3 col-sm-9">
                        <button [disabled]="loading || lock_record" (click)="Save()"
                            class="btn btn-success btn-sm">Save</button>
                        <button [disabled]="loading" (click)="ActionHandler('LIST','','')"
                            class="btn btn-success btn-sm">Return</button>
                        <label *ngIf="mode=='EDIT'" class="col-form-label col-form-label-sm">
                            <font color="RED">
                                {{lock_record == true ? 'Details Closed, Cannot Edit' : ''}}
                            </font>
                        </label>
                        <i *ngIf="loading" class="fa fa-spinner"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>