<div class="row">
    <div class="col-sm-12">
        <div class="form-group row">
            <label class="col-sm-1 col-form-label col-form-label-sm">OTP</label>
            <div class="col-sm-3">
                <input type="number" class="col form-control form-control-sm" name="Otp" (blur)="OnBlur('opt_value')"
                    [(ngModel)]="opt_value" />
            </div>
            <label class="col-sm-1 col-form-label col-form-label-sm">Validity</label>
            <div class="col-sm-3">
                <app-date disabled [inputdate]="opt_valid_date" (ValueChanged)="opt_valid_date=$event"></app-date>
            </div>
            <div class="col-sm-4">
                <button [disabled]="loading" (click)="Save()" class="btn btn-info btn-sm mr-1">Save
                </button>
                <button [disabled]="loading" (click)="Generate()" class="btn btn-info btn-sm">Generate OTP
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>