<div class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
            <tr>
                <th>BRANCH</th>
                <th>GST-ST-CODE</th>
                <th>GST-STATE-NAME</th>
                <th>GSP-USER</th>
                <th>GSP-OTP</th>
                <th>EDIT</th>
                <th>OTP-VALID-TO</th>
                <th>GENERATE</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
                (mousedown)="selectedRowIndex=i">
                <td>{{rec.comp_name}}</td>
                <td>{{rec.comp_gstin_state_code}}</td>
                <td>{{rec.comp_gstin_state_name}}</td>
                <td>{{rec.comp_gsp_user}}</td>
                <td class="p-0">
                    <input type="text" class="form-control form-control-sm p-1" [(ngModel)]="rec.comp_gsp_otp" required
                        maxlength="10" />
                </td>
                <td class="hlink" (click)="Save(rec)"><i
                    class="fa fa-pencil fa-md pointer " aria-hidden="true"></i></td>
                <td>{{rec.comp_gsp_otp_validto_date}}</td>
                <td class="hlink" (click)="Generate(rec)">Generate OTP</td>
            </tr>
        </tbody>
    </table>
</div>




<!-- <div class="row">
    <div class="col-sm-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">OTP</label>
            <div class="col-sm-3">
                <input type="number" class="col form-control form-control-sm" name="Otp" (blur)="OnBlur('opt_value')"
                    [(ngModel)]="opt_value" />
            </div>
            <label class="col-sm-3 col-form-label col-form-label-sm">Validity</label>
            <div class="col-sm-3">
                <app-date disabled [inputdate]="opt_valid_date" (ValueChanged)="opt_valid_date=$event"></app-date>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm"></label>
            <div class="col-sm-9">
                <button [disabled]="loading" (click)="Save()" class="btn btn-info btn-sm mr-1">Save
                </button>
                <button [disabled]="loading" (click)="Generate()" class="btn btn-info btn-sm">Generate OTP
                </button>
               
            </div>
            
        </div>
    </div>
</div> -->
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>