<div class="page-details">
    <div class="col-sm-12">
        <div *ngIf="format_type=='NOM'" class="page-details">
            <div  class="row">
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-2 col-form-label col-form-label-sm">Salesman</label>
                        <div class="col-10">
                            <app-autocomplete #SmanLov [inputdata]="SALESMANRECORD"
                                (ValueChanged)="LovSelected($event)">
                            </app-autocomplete>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button [disabled]="loading" (click)="Save('SALESMAN')" class="btn btn-primary btn-sm">Update</button>
                            <button [disabled]="loading" *ngIf="bAdmin" (click)="Save('SALESMAN-ALL')" class="btn btn-primary btn-sm">Update All</button>
                            <button [disabled]="loading" (click)="Close()" class="btn btn-primary btn-sm">Close</button>
                            <i *ngIf="loading" class="fa fa-spinner"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="bAdmin" class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-2 col-form-label col-form-label-sm">Nomination</label>
                        <div class="col-10">
                            <select class="form-control form-control-sm" [(ngModel)]="nomination">
                                <option [value]="'NA'">NA</option>
                                <option [value]="'NOMINATION'">NOMINATION</option>
                                <option [value]="'MUTUAL'">MUTUAL</option>
                                <option [value]="'FREEHAND'">FREEHAND</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button [disabled]="loading" (click)="Save('NOMINATION')" class="btn btn-primary btn-sm">Update</button>
                            <button [disabled]="loading" (click)="Close()" class="btn btn-primary btn-sm">Close</button>
                            <i *ngIf="loading" class="fa fa-spinner"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="format_type=='PENDING'" class="page-details">
            <div  class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-1 col-form-label col-form-label-sm">Status</label>
                        <div class="col-3">
                            <select class="form-control form-control-sm"  [(ngModel)]="hbl_inv_status">
                                <option [value]="'P'">PENDING</option>
                                <option [value]="'NA'">NOT REQUIRED</option>
                              </select>
                        </div>
                        <label class="col-1 col-form-label col-form-label-sm">Remarks</label>
                        <div class="col-7">
                            <input type="text" class="form-control form-control-sm"
                            [(ngModel)]="hbl_inv_remarks" (blur)="OnBlur('hbl_inv_remarks')" required maxlength="100" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-1 col-sm-11">
                            <button [disabled]="loading" (click)="Save('PENDING-INVOICE')" class="btn btn-primary btn-sm">Update</button>
                            <button [disabled]="loading" (click)="Close()" class="btn btn-primary btn-sm">Close</button>
                            <i *ngIf="loading" class="fa fa-spinner"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<br />

<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>