<div *ngIf="currentTab=='PASTEDATA'">
  <App-ClipBoard2 [msg]="'Please Wait'"  [excelformat]="'BANK-RECEIPT'" (CloseClicked)="PasteDataClosed($event)"></App-ClipBoard2>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <div class="fixedTableHead" style="height:400px;scroll-behavior:auto;">

        <thead class="page-body-thead">
          <tr>
            <th>SL#</th>
            <th>DATE</th>
            <th>VALUEDATE</th>
            <th>CHQNO</th>
            <th>NARRATION</th>
            <th>COD</th>
            <th>DEBIT</th>
            <th>CREDIT</th>
            <th>BRANCH</th>
            <th>BANK</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr *ngFor="let rec of Records; let i = index">
            <td>{{i+1}}</td>
            <td>{{rec.date}}</td>
            <td>{{rec.valuedate}}</td>
            <td>{{rec.chqno}}</td>
            <td>{{rec.narration}}</td>
            <td>{{rec.cod}}</td>
            <td>{{rec.debit}}</td>
            <td>{{rec.credit}}</td>
            <td>{{rec.branch}}</td>
            <td>{{rec.bank}}</td>
            <td>{{rec.status}}</td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>


  <div class="text-center my-1">
    <button class="btn btn-primary btn-sm" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary btn-sm" (click)="save()" [disabled]="bSave">Save</button>
  </div>


</div>



<br />

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>