<div class="page-header">
  <div class="col">
    <h2>{{title}}</h2>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group row">
          <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">From Date</label>
          <div style="padding-right:0px;padding-left:0px" class="col-sm-1">
            <app-date [inputdate]="fromdate" (ValueChanged)="fromdate=$event"></app-date>
          </div>
          <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">To Date</label>
          <div style="padding-right:0px;padding-left:0px" class="col-sm-1">
            <app-date [inputdate]="todate" (ValueChanged)="todate=$event"></app-date>
          </div>
          <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">Search</label>
          <div class="col-sm-4">
            <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
          </div>
          <div class="col-sm-3">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
            <button [disabled]="loading" *ngIf="bMail&&(type=='BP'||type=='JV-BP')" (click)="Showmail(mailsent)"  class="btn btn-primary btn-sm">Mail</button>
            <button [disabled]="loading" *ngIf="bAdmin&&type=='IN-ES'" (click)="GenerateAll()" class="btn btn-primary btn-sm">Generate
              All</button>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>


      <div class="col">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
      </div>
    </div>-->

  </div>


  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th *ngIf="bMail&&(type=='BP'||type=='JV-BP')"></th>
          <th width="8%">VRNO</th>
          <th width="8%">DATE</th>
          <th width="8%">REFERENCE</th>
          <!--<th *ngIf="type=='BP'" width="32%">NARRATION</th>
          <th *ngIf="type!='BP'" width="40%">NARRATION</th>-->
          <th width="{{type == 'BP'||type=='CP' ? '30%' : '40%'}}">NARRATION</th>
          <th width="8%">DEBIT</th>
          <th width="8%">CREDIT</th>
          <th width="8%">BY</th>
          <th width="8%">DT</th>
          <th width="4%" align='center'>DOCS</th>

          <th *ngIf="type=='BP'||type=='CP'||type=='JV-BP'" width="4%">APPROVED</th>
          <th *ngIf="type=='BP'||type=='CP'||type=='JV-BP'" width="3%">BY</th>
          <th *ngIf="type=='BP'" width="3%">CHQ.PRINT</th>
          <th class="text-center" *ngIf="gs.globalVariables.user_code == 'ADMIN'">DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i">
          <td *ngIf="bMail&&(type=='BP'||type=='JV-BP')"><input type="checkbox" [disabled]="rec.rec_aprvd_status==''||rec.rec_aprvd=='Y'"
            [(ngModel)]="rec.jvh_selected" (change)="OnCheckedChange($event, rec)"></td>
          <td (click)="ActionHandler('EDIT',rec.jvh_pkid)">{{rec.jvh_docno}}</td>
          <td (click)="ActionHandler('EDIT',rec.jvh_pkid)">{{rec.jvh_date}}</td>
          <td (click)="ActionHandler('EDIT',rec.jvh_pkid)">{{rec.jvh_reference}}</td>
          <td (click)="ActionHandler('EDIT',rec.jvh_pkid)">{{rec.jvh_narration}}</td>
          <td>{{rec.jvh_debit | number : '1.2-2'}}</td>
          <td>{{rec.jvh_credit | number : '1.2-2'}}</td>
          <td>{{rec.rec_created_by}}</td>
          <td>{{rec.rec_created_date}}</td>
          <td align='center'>{{rec.jvh_docs}}</td>

          <td *ngIf="type=='BP'||type=='CP'||type=='JV-BP'" (click)="ShowApproval(approval,rec.jvh_pkid)">
            {{rec.rec_aprvd_status}}</td>
          <td *ngIf="type=='BP'||type=='CP'||type=='JV-BP'" (click)="ShowApproval(approval,rec.jvh_pkid)">
            {{rec.rec_aprvd_by}}</td>
          <td *ngIf="type=='BP'" align='center'>{{rec.jvh_chq_printed}}</td>
          <td class="text-center" *ngIf="gs.globalVariables.user_code == 'ADMIN'">
            <App-Dialog *ngIf="rec.jvh_pkid" [id]="{msg:'Delete Y/N', buttons:'yn', selected :false,id:rec.jvh_pkid,name:rec.jvh_docno}" (result)="DeleteRecord($event)"></App-Dialog>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="page-box" *ngIf="DetailTab=='LIST'">

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Vr.No</label>
          <div class="col-4">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_vrno" required
              maxlength="15" />
          </div>
          <label class="col-2 col-form-label col-form-label-sm">Date</label>
          <div class="col-4">
            <app-date [disabled]="lock_date" [inputdate]="Record.jvh_date" (ValueChanged)="Record.jvh_date=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Ref.No</label>
          <div class="col-4">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.jvh_reference" required
              maxlength="50" (focusout)="onFocusout('jvh_reference')" />
          </div>
          <label class="col-2 col-form-label col-form-label-sm">Ref.Date</label>
          <div class="col-4">
            <app-date [inputdate]="Record.jvh_reference_date" (ValueChanged)="Record.jvh_reference_date=$event">
            </app-date>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Org.Inv#</label>
          <div class="col-4">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.jvh_org_invno" maxlength="50"
              (focusout)="onFocusout('jvh_org_invno')" />
          </div>
          <label class="col-2 col-form-label col-form-label-sm">Org.Inv.Date</label>
          <div class="col-4">
            <app-date [inputdate]="Record.jvh_org_invdt" (ValueChanged)="Record.jvh_org_invdt=$event"></app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Doc.Type</label>
          <div class="col-5">
            <select disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_cc_category">
              <option value="NA">NA</option>
              <option value="SI SEA EXPORT">SI SEA EXPORT</option>
              <option value="SI SEA IMPORT">SI SEA IMPORT</option>
              <option value="SI AIR EXPORT">SI AIR EXPORT</option>
              <option value="SI AIR IMPORT">SI AIR IMPORT</option>
              <option value="MBL SEA EXPORT">MBL SEA EXPORT</option>
              <option value="MBL SEA IMPORT">MBL SEA IMPORT</option>
              <option value="MAWB AIR EXPORT">MAWB AIR EXPORT</option>
              <option value="MAWB AIR IMPORT">MAWB AIR IMPORT</option>
              <option value="GENERAL JOB">GENERAL JOB</option>
            </select>
          </div>
          <label class="col-1 col-form-label col-form-label-sm">Code</label>
          <div class="col-4">
            <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="Record.jvh_cc_code"
              (blur)="onLostFocus('jvh_cc_code')" required maxlength="30" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <button *ngIf="mode == 'EDIT'" [disabled]="loading" (click)="UpdateInvoice()"
              class="btn btn-success btn-sm">InvUpdt</button>
          </div>
          <div class="col-10">
            <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="Record.jvh_cc_name" />
          </div>
        </div>

      </div>
      <div class="col-sm-4">


        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Gst</label>
          <div class="col-3">
            <input type="checkbox" (click)="GstCheckBox()" [(ngModel)]="Record.jvh_gst">
            <span>GST</span>
          </div>
          <div class="col-3">
            <input type="checkbox" (click)="RcCheckBox()" [(ngModel)]="Record.jvh_rc">
            <span>RC</span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Party</label>
          <div class="col-5">
            <app-autocomplete #CsdLov [inputdata]="PARTYRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
          </div>

          <label class="col-2 col-form-label col-form-label-sm">Branch#</label>
          <div class="col-3">
            <app-autocomplete #CsdLov [inputdata]="PARTYADDRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Name</label>
          <div class="col-10">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_acc_name"
              (blur)="OnBlur('jvh_acc_name')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm"></label>
          <div class="col-10">
            <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.jvh_acc_br_address"
              [disabled]="true" maxlength="1000"></textarea>
          </div>
        </div>

      </div>


      <div class="col-sm-4">

        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Gst#</label>
          <div class="col-7">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.jvh_gstin"
              (blur)="OnBlur('jvh_gstin')" (focus)="OnFocus('jvh_gstin')" (change)="OnChange('jvh_gstin')" required
              maxlength="15" />
          </div>

          <div class="col-sm-3">
            <input type="checkbox" [(ngModel)]="Record.jvh_igst_exception" (change)="OnChange('jvh_igst_exception')">
            <span>IGST</span>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">State</label>
          <div class="col-3">
            <app-autocomplete #CsdLov [inputdata]="STATERECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
          </div>
          <div class="col-4">
            <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="Record.jvh_state_name" />
          </div>
          <span>{{Record.jvh_gst_type}}</span>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Currency</label>
          <div class="col-3">
            <app-autocomplete #CsdLov [inputdata]="INVCURRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete>
          </div>
          <label class="col-1 col-form-label col-form-label-sm px-0">Ex.Rate</label>
          <div class="col-3">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.jvh_exrate" required
              maxlength="15" />
          </div>
          <div class="col-sm-3">
            <input disabled type="checkbox" [(ngModel)]="Record.jvh_sez" (change)="OnChange('jvh_sez')">
            <span>SEZ</span>
          </div>
        </div>



        <div class="form-group row">

          <label class="col-2 col-form-label col-form-label-sm">Category</label>
          <div class="col-3">
            <select class="form-control form-control-sm" [(ngModel)]="Record.rec_category">
              <option value="SEA EXPORT">SEA EXPORT</option>
              <option value="AIR EXPORT">AIR EXPORT</option>
              <option value="SEA IMPORT">SEA IMPORT</option>
              <option value="AIR IMPORT">AIR IMPORT</option>
              <option value="GENERAL">GENERAL</option>
              <option value="OTHERS">OTHERS</option>
            </select>
          </div>

          <div class="col-4">
            <button [disabled]="loading" (click)="FindTotal()" class="btn btn-success btn-sm">Re-Calculate</button>
          </div>
          <div class="col-sm-3">
            <input disabled type="checkbox" [(ngModel)]="Record.jvh_is_export" (change)="OnChange('jvh_is_export')">
            <span>EXPORT</span>
          </div>

        </div>


        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Remarks</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.jvh_remarks" required
              maxlength="255" />
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="page-box">
    <div>
      <button [disabled]="loading" (click)="ActionHandlerDetail('LIST','')" class="btn btn-link">List</button>
      <button [disabled]="loading" (click)="ActionHandlerDetail('ADD','')" class="btn btn-link">Add Record</button>
    </div>
    <div *ngIf="DetailTab=='LIST'">
      <div class="page-body table-responsive">
        <table class="table table-hover table-sm table-bordered table-striped">
          <thead class="page-body-thead">
            <tr>
              <th>CODE</th>
              <th>NAME</th>
              <th>TAXABLE</th>
              <th>RCM</th>
              <th>SAC</th>
              <th>CURR</th>
              <th>AMT</th>
              <th>EX.RATE</th>
              <th>DEBIT</th>
              <th>CREDIT</th>
              <th>TAXABLE-AMT</th>
              <th>CGST</th>
              <th>SGST</th>
              <th>IGST</th>
              <th>TOTAL</th>
              <th>CGST.RT</th>
              <th>SGST.RT</th>
              <th>IGST.RT</th>
              <th>DELETE</th>
            </tr>
          </thead>
          <tbody class="page-body-tbody">
            <tr *ngFor="let rec of Record.LedgerList; let i = index">
              <td (click)="ActionHandlerDetail('EDIT',rec)">{{rec.jv_acc_code}}</td>
              <td (click)="ActionHandlerDetail('EDIT',rec)">{{rec.jv_acc_name}}</td>

              <td>{{(rec.jv_is_taxable) ? 'Y' : 'N'}}</td>
              <td>{{(rec.jv_is_rcm) ? 'Y' : 'N'}}</td>

              <td>{{rec.jv_sac_code}}</td>
              <td>{{rec.jv_curr_code}}</td>
              <td>{{rec.jv_ftotal}}</td>
              <td>{{rec.jv_exrate}}</td>
              <td>{{rec.jv_debit}}</td>
              <td>{{rec.jv_credit}}</td>
              <td>{{rec.jv_taxable_amt}}</td>
              <td>{{rec.jv_cgst_amt}}</td>
              <td>{{rec.jv_sgst_amt}}</td>
              <td>{{rec.jv_igst_amt}}</td>
              <td>{{rec.jv_net_total}}</td>
              <td>{{rec.jv_cgst_rate}}</td>
              <td>{{rec.jv_sgst_rate}}</td>
              <td>{{rec.jv_igst_rate}}</td>
              <td>
                <App-Dialog [id]="{msg:'Delete Y/N', buttons:'yn', selected :false,id:rec.jv_pkid,name:i+1}"
                  (result)="RemoveList($event)"></App-Dialog>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="DetailTab=='DETAILS'">
    <div class="page-box-entry">

      <div class="row">

        <div class="col-sm-4">

          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Code</label>
            <div class="col-10">
              <app-autocomplete #CsdLov [inputdata]="ACCRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Name</label>
            <div class="col-10">
              <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_acc_name"
                (blur)="OnBlur('jv_acc_name')" required maxlength="60" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Currency</label>
            <div class="col-4">
              <app-autocomplete #CsdLov [inputdata]="CURRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
            </div>
            <label class="col-2 col-form-label  col-form-label-sm">Ex.Rate</label>
            <div class="col-4">
              <input type="number" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_exrate"
                (focus)="OnFocus('jv_exrate')" (change)="OnChange('jv_exrate')" (blur)="OnBlur('jv_exrate')" required
                maxlength="10" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Amount</label>
            <div class="col-4">
              <input type="number" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_ftotal"
                (focus)="OnFocus('jv_ftotal')" (change)="OnChange('jv_ftotal')" (blur)="OnBlur('jv_ftotal')" required
                maxlength="20" />
            </div>
            <label class="col-2 col-form-label  col-form-label-sm">Total</label>
            <div class="col-4">
              <input type="number" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_total"
                (focus)="OnFocus('jv_total')" (change)="OnChange('jv_total')" (blur)="OnBlur('jv_total')" required
                maxlength="20" />
            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Dr/Cr</label>
            <div class="col-4">
              <select class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_drcr"
                (change)="OnChange('jv_drcr')">
                <option value="DR">DR</option>
                <option value="CR">CR</option>
              </select>
            </div>

            <label class="col-2 col-form-label  col-form-label-sm">Taxable</label>
            <div class="col-4">
              <input type="number" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_taxable_amt"
                (focus)="OnFocus('jv_taxable_amt')" (change)="OnChange('jv_taxable_amt')"
                (blur)="OnBlur('jv_taxable_amt')" required maxlength="20" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Sac</label>
            <div class="col-4">
              <app-autocomplete #LinerLov [inputdata]="SACRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>

            <label class="col-2 col-form-label  col-form-label-sm"></label>
            <div class="col-4">
              <input type="checkbox"
                [disabled]="Recorddet.jv_acc_type_name != 'INDIRECT INCOME' && Recorddet.jv_acc_type_name != 'INDIRECT EXPENSE'"
                [(ngModel)]="Recorddet.jv_gst_edited">
              <span>Edit GST</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Cgst%</label>
            <div class="col-4">
              <input [disabled]="!Recorddet.jv_gst_edited" type="number" class="form-control form-control-sm"
                [(ngModel)]="Recorddet.jv_cgst_rate" (blur)="OnBlur('jv_cgst_per')" maxlength="15" />
            </div>
            <label class="col-2 col-form-label  col-form-label-sm">Amt</label>
            <div class="col-4">
              <input type="number" [disabled]="!Recorddet.jv_gst_edited" class="form-control form-control-sm"
                [(ngModel)]="Recorddet.jv_cgst_amt" (blur)="OnBlur('jv_cgst_amt')" maxlength="15" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Sgst%</label>
            <div class="col-4">
              <input [disabled]="!Recorddet.jv_gst_edited" type="number" class="form-control form-control-sm"
                [(ngModel)]="Recorddet.jv_sgst_rate" (blur)="OnBlur('jv_sgst_per')" maxlength="15" />
            </div>
            <label class="col-2 col-form-label  col-form-label-sm">Amt</label>
            <div class="col-4">
              <input type="number" [disabled]="!Recorddet.jv_gst_edited" class="form-control form-control-sm"
                [(ngModel)]="Recorddet.jv_sgst_amt" (blur)="OnBlur('jv_sgst_amt')" maxlength="15" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Igst%</label>
            <div class="col-4">
              <input [disabled]="!Recorddet.jv_gst_edited" type="number" class="form-control form-control-sm"
                [(ngModel)]="Recorddet.jv_igst_rate" (blur)="OnBlur('jv_igst_per')" maxlength="15" />
            </div>
            <label class="col-2 col-form-label  col-form-label-sm">Amt</label>
            <div class="col-4">
              <input type="number" [disabled]="!Recorddet.jv_gst_edited" class="form-control form-control-sm"
                [(ngModel)]="Recorddet.jv_igst_amt" (blur)="OnBlur('jv_igst_amt')" maxlength="15" />
            </div>

          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Type</label>
            <div class="col-4">
              <select class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_doc_type">
                <option value="NA">NA</option>
                <option value="CHEQUE">CHEQUE</option>
                <option value="DEBIT CARD">DEBIT CARD</option>
                <option value="CREDIT CARD">CREDIT CARD</option>
                <option value="NEFT">NEFT</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Bank</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_bank"
                (blur)="OnBlur('jv_bank')" required maxlength="60" />
            </div>
            <label style="padding-left: 0%" class="col-2 col-form-label  col-form-label-sm">Branch</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_branch"
                (blur)="OnBlur('jv_branch')" required maxlength="60" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Chq.No</label>
            <div class="col-4">
              <input type="number" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_chqno"
                (blur)="OnBlur('jv_chqno')" required maxlength="60" />
            </div>

            <label class="col-2 col-form-label col-form-label-sm">Chq.Date</label>
            <div class="col-4">
              <app-date [inputdate]="Recorddet.jv_due_date" (ValueChanged)="Recorddet.jv_due_date=$event"></app-date>
            </div>

          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Pay.Reason</label>
            <div class="col-10">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_pay_reason"
                (blur)="OnBlur('jv_pay_reason')" required maxlength="60" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Supp.Docs</label>
            <div class="col-10">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_supp_docs"
                (blur)="OnBlur('jv_supp_docs')" required maxlength="60" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Paid.To</label>
            <div class="col-10">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_paid_to"
                (blur)="OnBlur('jv_paid_to')" required maxlength="100" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Remarks</label>
            <div class="col-10">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_remarks"
                (blur)="OnBlur('jv_remarks')" required maxlength="60" />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-2 pl-1">
              <button [disabled]="loading" (click)="openWebSite(Recorddet.jv_pay_link)"
                class="btn btn-link btn-sm">Pay.Link
              </button>
            </div>
            <div class="col-10">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_pay_link"
                (blur)="OnBlur('jv_pay_link')" required maxlength="100" />
            </div>
          </div>

        </div>

        <div class="col-sm-4">

          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Pan#</label>
            <div class="col-4">
              <app-autocomplete #LinerLov [inputdata]="PANRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
            <div class="col-6">
              <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_pan_name" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Tds%</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_tds_rate"
                (blur)="OnBlur('jv_tds_rate')" maxlength="15" />
            </div>
            <div class="col-6">
              <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_tds_gross_amt"
                maxlength="15" />
            </div>
          </div>

          <div class="form-group row" *ngIf="this.Recorddet.jv_acc_type_name == 'BANK'">
            <label class="col-2 col-form-label col-form-label-sm"></label>
            <div class="col-4">
              <button *ngIf="mode == 'EDIT'" [hidden]="!lock_record" [disabled]="loading||!this.Record.jvh_update_chq"
                (click)="SearchRecord('chqnoupdate')" class="btn btn-success btn-sm">Cheque Update</button>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Tan#<i
                *ngIf="this.Recorddet.jv_tan_update&&this.Recorddet.jv_acc_code == 'TDSPAID'"
                class="fa fa-edit fa-lg pointer" aria-hidden="true" (click)="SearchRecord('tanupdate')"></i></label>
            <div class="col-4">
              <app-autocomplete #LinerLov [disabled]="this.Recorddet.jv_acc_code != 'TDSPAID'" [inputdata]="TANRECORD"
                (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
            <div class="col-6">
              <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_tan_name" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Tan.Party</label>
            <div class="col-4">
              <app-autocomplete #CsdLov [disabled]="this.Recorddet.jv_acc_code != 'TDSPAID'" [inputdata]="TPRECORD"
                (ValueChanged)="LovSelected($event)"></app-autocomplete>
            </div>
            <div class="col-6">
              <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_tan_party_name"
                (blur)="OnBlur('jv_tan_party_name')" required maxlength="60" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Gross.Amt</label>
            <div class="col-4">
              <input type="text" [disabled]="this.Recorddet.jv_acc_code != 'TDSPAID'"
                class="form-control form-control-sm" [(ngModel)]="Recorddet.jv_gross_bill_amt"
                (blur)="OnBlur('jv_gross_bill_amt')" maxlength="15" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <div class="col-12">
              <app-costcentert [RecordList]="CCList" [parentid]="Recorddet.jv_pkid"></app-costcentert>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <div class="offset-2 col-10">
              <button [disabled]="loading" (click)="Ok()" class="btn btn-default btn-sm">OK</button>
              <button [disabled]="loading" (click)="ActionHandlerDetail('LIST','')"
                class="btn btn-default btn-sm">Cancel</button>
              <button [disabled]="loading" (click)="LoadPendingList(content)"
                class="btn btn-default btn-sm">Allocation</button>
              <button *ngIf="modeDetail == 'EDIT' && Record.jvh_type=='BP' && bChqprint" [disabled]="loading"
                (click)="ChequePrint()" class="btn btn-default btn-sm">Cheque Print</button>
              <button
                *ngIf="modeDetail == 'EDIT' && mode == 'EDIT' && (Record.jvh_type=='BP'||Record.jvh_type=='JV-BP')"
                [disabled]="loading" (click)="ShowMoneyTransfer(moneytransfer)" class="btn btn-default btn-sm">Fund
                Transfer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="bChqboxvisible" class="page-box-entry">
      <app-cheque [parentid]="Recorddet.jv_pkid"></app-cheque>
    </div>
  </div>

  <div *ngIf="DetailTab=='LIST'" class="page-box">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">
            <label class="col-form-label  col-form-label-sm" (click)="getNarration()"
              style=" text-decoration: underline;cursor:pointer"> Narration
            </label>
            <button *ngIf="mode == 'EDIT'" [hidden]="!lock_record" [disabled]="loading||!this.Record.jvh_update_chq"
              (click)="UpdateInvoice()" class="btn btn-success btn-sm">Update</button>
          </label>
          <div class="col-10">
            <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.jvh_narration" required
              maxlength="255"></textarea>
          </div>
        </div>
      </div>

      <div class="col-sm-8">

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">DEBIT</label>
          <label class="col-2 col-form-label  col-form-label-sm">CREDIT</label>
          <label class="col-2 col-form-label  col-form-label-sm">CGST</label>
          <label class="col-2 col-form-label  col-form-label-sm">SGST</label>
          <label class="col-2 col-form-label  col-form-label-sm">IGST</label>
          <label class="col-2 col-form-label  col-form-label-sm">DIFF.</label>
        </div>
        <div class="form-group row">
          <div class="col-2">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_debit" required
              maxlength="20" />
          </div>
          <div class="col-2">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_credit" required
              maxlength="20" />
          </div>
          <div class="col-2">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_cgst_amt" required
              maxlength="20" />
          </div>
          <div class="col-2">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_sgst_amt" required
              maxlength="20" />
          </div>
          <div class="col-2">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_igst_amt" required
              maxlength="20" />
          </div>
          <div class="col-2">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.jvh_diff" required
              maxlength="20" />
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="type == 'BP'">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm"></label>
          <div class="col-10">
            <input type="checkbox" [(ngModel)]="Record.jvh_not_over_chq">
            <span>Not Over Cheque</span>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div *ngIf="DetailTab=='LIST'" class="page-box">
    <div class="col">


      <button [hidden]="disableSave" [disabled]="disableSave || lock_record" (click)="Save()"
        class="btn btn-success btn-sm">Save</button>

      <button [disabled]="loading" *ngIf="mode == 'EDIT'" (click)="PrintVoucher(Record.jvh_pkid,'EXCEL')"
        class="btn btn-success btn-sm">Print</button>
      <button [disabled]="loading" *ngIf="mode == 'EDIT' && type=='IN-ES'"
        (click)="PrintInvoice('SUMMARY','PDF',Record.jvh_pkid)" class="btn btn-success btn-sm">Invoice</button>
      <button [disabled]="loading" *ngIf="mode == 'EDIT' && type=='IN-ES'"
        (click)="PrintInvoice('FC','PDF',Record.jvh_pkid)" class="btn btn-success btn-sm">Invoice-FC</button>
      <button [disabled]="loading" *ngIf="mode == 'EDIT' && bDocs" (click)="ShowDocuments(doc)"
        class="btn btn-success btn-sm">Documents</button>
      <button [disabled]="loading" (click)="ShowHistory(history)" class="btn btn-success btn-sm">History</button>
      <button [disabled]="loading"
        *ngIf="mode == 'EDIT' && bapprovalstatus !='' && (type=='BP'||type=='CP'||type=='JV-BP')"
        (click)="ShowApproval(approval,Record.jvh_pkid)" class="btn btn-success btn-sm">Approval</button>
      <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-success btn-sm">Return</button>
      <label *ngIf="mode=='EDIT'" class="col-form-label col-form-label-sm">
        <font color="RED">
          {{Record.jvh_allocation_found == true ? 'Cannot Edit Allocation Exists' : ''}}
        </font>
      </label>
      <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
  </div>

</div>
<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Allocation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-pendingist [RecordList]="PendingListRecords" [jv_total]="Recorddet.jv_total"
      (OkSelected)="PendingListOkSelected($event)"></app-pendingist>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #doc let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Documents</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-upload [pkid]="pkid" [type]="'ACC-LEDGER'"></app-upload>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-history [pkid]="pkid" [type]="'LEDGER'"></app-history>
  </div>
</ng-template>

<ng-template #approval let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Approval Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-approval [pkid]="pkid" [type]="type" [status]="bapprovalstatus" (ModifiedRecords)="ModifiedRecords($event)">
    </app-approval>
  </div>
</ng-template>

<ng-template #moneytransfer let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Money Transfer Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-moneytransfer [type]="type" [menuid]="''" [jvid]="this.Recorddet.jv_pkid"
      (ModifiedRecords)="ModifiedRecords($event)"></app-moneytransfer>
  </div>
</ng-template>
<ng-template #mailsent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Message Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-mail [pkid]="gs.globalVariables.user_pkid" [type]="'BP-APPROVAL'" [sHtml]="sHtml" [defaultmessage]="sMsg" [defaultsubject]="sSubject" [updateto_ids]=true  [AttachList] ="AttachList" (ModifiedRecords)="MailCallback($event)" ></app-mail>
  </div>
</ng-template>
