<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>


<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-list">
    <div class="page-search">
      <div class="row">
        <div class="col-4">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">From Date</label>
            <div class="col-8">
              <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">To Date</label>
            <div class="col-8">
              <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group row">
            <label class="col-4 col-form-label  col-form-label-sm">Sort By</label>
            <div class="col-8">
              <!--<select class="form-control form-control-sm" [(ngModel)]="type_date">
                <option [value]="'CREATED'">CREATED</option>
                <option [value]="'MBL'">MBL</option>
              </select>-->
              <select class="form-control form-control-sm" [(ngModel)]="sort_colname" >
                <option *ngFor="let rec of SortList" [value]="rec.colname">{{rec.colheadername}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label  col-form-label-sm">Category</label>
            <div class="col-8">
              <select class="form-control form-control-sm" [(ngModel)]="category">
                <option [value]="'ALL'">ALL</option>
                <option [value]="'MBL-SE'">SEA EXPORT</option>
                <option [value]="'MBL-AE'">AIR EXPORT</option>
                <option [value]="'MBL-SI'">SEA IMPORT</option>
                <option [value]="'MBL-AI'">AIR IMPORT</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Branch</label>
            <div class="col-sm-4">
              <app-autocomplete [disabled]="!bCompany" #BrLov [inputdata]="BRRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
            </div>
            <div class="col-sm-6">
              <input *ngIf="bCompany" type="checkbox" [(ngModel)]="all" (change)="OnChange('all')">
              <span *ngIf="bCompany"> All&nbsp;</span>
              <input type="checkbox" [(ngModel)]="bpending" (change)="OnChange('bpending')">
              <span>Pending Only</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm"></label>
            <div class="col-sm-10">
              <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Process Report</button>
              <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm mr-1">Excel</button>
              <button *ngIf="bAdmin" [disabled]="loading" (click)="List('MAIL')" class="btn btn-primary btn-sm">Mail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 280px);">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th *ngIf="bCompany">BRANCH</th>
          <th>CREATED</th>
          <th>AGENT</th>
          <th>CATEGORY</th>
          <th>FOLDER-NO</th>
          <th>SENT-ON</th>
          <th>MBL-NO</th>
          <th *ngIf="category=='MBL-SE'||category=='MBL-AE'">SHIPPER</th>
          <th *ngIf="category=='MBL-SE'||category=='MBL-AE'">CONSIGNEE</th>
          <th>CONTAINERS</th>
          <th *ngIf="category=='MBL-SE'">VESSEL</th>
          <th *ngIf="category=='MBL-SE'">VOYAGE</th>
          <th>SOB-DATE</th>
          <th>SOB-CONF</th>
          <th>COST-REFNO</th>
          <th>COST-DATE</th>
          <th>POSTED</th>
          <th>NO COSTING</th>
          <th>STATUS</th>
          <th>UPDATE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr  *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex" (mousedown)="selectedRowIndex=i" >
          <td *ngIf="bCompany">{{rec.rec_branch_code}}</td>
          <td>{{rec.rec_created_date}}</td>
          <td>{{rec.mbl_agent_name}}</td>
          <td>{{rec.rec_category}}</td>
          <td>{{rec.mbl_folder_no}}</td>
          <td>{{rec.mbl_folder_sent_date}}</td>
          <td>{{rec.mbl_bl_no}}</td>
          <td *ngIf="category=='MBL-SE'||category=='MBL-AE'">{{rec.exporter_name}}</td>
          <td *ngIf="category=='MBL-SE'||category=='MBL-AE'">{{rec.importer_name}}</td>
          <td style="word-break: break-all;" >{{rec.mbl_book_cntr}}</td>
          <td *ngIf="category=='MBL-SE'">{{rec.mbl_vessel_name}}</td>
          <td *ngIf="category=='MBL-SE'">{{rec.mbl_voyage_no}}</td>
          <td>{{rec.mbl_sob_date}}</td>
          <td>{{rec.mbl_pol_etd_confirm}}</td>
          <td>{{rec.cost_refno}}</td>
          <td>{{rec.cost_date}}</td>
          <td>{{rec.cost_jv_posted}}</td>
          <td>{{rec.mbl_nocosting}}</td>
          <td>{{rec.mbl_status}}</td>
          <!--<td><i class="fa fa-save fa-lg pointer" aria-hidden="true" (click)="UpdateNoCosting(rec.mbl_pkid,rec.mbl_folder_no)"></i></td>-->
          <td>
            <App-Dialog [id]="{msg:'NO COSTING Y/N', buttons:'yn', selected :false,id:rec.mbl_pkid,name:rec.mbl_folder_no}" (result)="UpdateNoCosting($event)"></App-Dialog>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <br /> -->


<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
