<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <!-- <div class="page-search">
    <div class="row">

      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="Is_Shipper" />
        <span>Shipper</span>
      </div>

      <div class="col-sm-2">
        <input type="checkbox" [(ngModel)]="Is_Foreigner" />
        <span>Foreign Shipper</span>
      </div>

      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="Is_Consignee" />
        <span>Consignee</span>
      </div>

      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="Is_Agent" />
        <span>Agent</span>
      </div>

      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="Is_Cha_Forwarder" />
        <span>Cha/Forwarder</span>
      </div>

      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="Is_Creditor" />
        <span>Creditor</span>
      </div>

      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="Is_Others" />
        <span>Others</span>
      </div>

      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="Is_Incomplete" />
        <span>Incomplete</span>
      </div>
      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="Is_Locked" />
        <span>Locked</span>
      </div>
      <div *ngIf="bAdmin2" class="col-sm-2">
        <input type="checkbox" [(ngModel)]="Last_Bill_date" />
        <span>Last Billed Date</span>
      </div>

    </div>
  </div> -->
  <div class="page-search">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group row">
          <!-- <label class="col-sm-2 col-form-label col-form-label-sm">From</label> -->
          <div class="col-sm-3">
            <select class="form-control form-control-sm" name="srchdt" [(ngModel)]="search_datetype">
              <option [value]="'CREATED-DT'">Created-Date</option>
              <option [value]="'ACQ-DT'">Acq-Date</option>
            </select>
          </div>

          <div class="col-sm-4">
            <app-date [inputdate]="fromdate" (ValueChanged)="fromdate=$event">
            </app-date>
          </div>
          <label class="col-sm-1 col-form-label col-form-label-sm">To</label>
          <div class="col-sm-4">
            <app-date [inputdate]="todate" (ValueChanged)="todate=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">Search</label>
          <div class="col-sm-9">
            <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring"
              (blur)="OnBlur('searchstring')" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group row mt-1">
          <div class="col-sm-2 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Shipper" />
            <span>Shipper</span>
          </div>
          <div class="col-sm-3 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Foreigner" />
            <span>Foreign.Shipper</span>
          </div>
          <div class="col-sm-2 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Consignee" />
            <span>Consignee</span>
          </div>
          <div class="col-sm-2 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Agent" />
            <span>Agent</span>
          </div>
          <div class="col-sm-3 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Cha_Forwarder" />
            <span>Cha/Forwarder</span>
          </div>
        </div>
        <div class="form-group row mt-1">

          <div class="col-sm-2 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Creditor" />
            <span>Creditor</span>
          </div>
          <div class="col-sm-3 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Others" />
            <span>Others</span>
          </div>

          <div class="col-sm-2 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Incomplete" />
            <span>Incomplete</span>
          </div>
          <div class="col-sm-2 pr-0">
            <input type="checkbox" [(ngModel)]="Is_Locked" />
            <span>Locked</span>
          </div>
          <div *ngIf="bAdmin2" class="col-sm-3 pr-0">
            <input type="checkbox" [(ngModel)]="Last_Bill_date" />
            <span>Last Billed Date</span>
          </div>

        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group row">
          <div class="col-sm-12">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm mr-1">Search</button>
            <button *ngIf="bAdmin2" [disabled]="loading" (click)="List('EXCEL')"
              class="btn btn-primary btn-sm mr-1">Excel</button>
            <button *ngIf="bAdmin2" [disabled]="loading" (click)="MailIncomplete()" class="btn btn-primary btn-sm">Mail
              Incomplete</button>
          </div>
        </div>
        <div *ngIf="gs.globalVariables.user_code == 'ADMIN'" class="form-group row">

          <div class="col-sm-8 input-group input-group-sm">
            <label class="col-form-label  col-form-label-sm mr-1">Email.Nos</label>
            <input type="number" class="col form-control form-control-sm mr-1" name="Search2"
              [(ngModel)]="emailPerRow" />
            <button [disabled]="loading" (click)="EmailList()" class="btn btn-primary btn-sm">Email</button>
          </div>
          <!-- <div class="col-sm-4">
            <button [disabled]="loading" (click)="EmailList()" class="btn btn-primary btn-sm">Email</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm mb-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 340px);">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>CODE</th>
          <th>NAME</th>
          <th>ACQ.DATE</th>
          <th>TYPE</th>
          <th>KYC</th>
          <th>PAN</th>
          <th>TAN</th>
          <th>AUTH</th>
          <th>GST</th>
          <th>IEC</th>
          <th>SALESMAN</th>
          <th>DOCS</th>
          <th *ngIf="bHoDocs">HO.DOCS</th>
          <th>STATUS</th>
          <th>COMPLETED</th>
          <th>COMMENTS</th>
          <th>APPROVED.BY</th>
          <th>APPROVED.DATE</th>
          <th>CREATED.BY</th>
          <th>CREATED.DATE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i">
          <td class="hlink" (click)="ActionHandler('EDIT',rec.cust_pkid)">{{rec.cust_code}}</td>
          <td>{{rec.cust_name}}</td>
          <td>{{rec.cust_acq_date}}</td>
          <td>{{rec.cust_group}}</td>
          <td>{{rec.cust_kyc_status}}</td>
          <td>{{rec.cust_pan_status}}</td>
          <td>{{rec.cust_tan_status}}</td>
          <td>{{rec.cust_auth_status}}</td>
          <td>{{rec.cust_gst_status}}</td>
          <td>{{rec.cust_iec_status}}</td>
          <td>{{rec.cust_sman_name}}</td>
          <td>{{rec.cust_docs}}</td>
          <td *ngIf="bHoDocs">{{rec.cust_ho_docs}}</td>
          <td>{{rec.rec_locked==true?'LOCKED':'UNLOCKED'}}</td>
          <td>{{rec.cust_is_complete}}</td>
          <td>{{rec.cust_incomplete_remarks}}</td>
          <td>{{rec.rec_aprvd_by}}</td>
          <td>{{rec.rec_aprvd_date}}</td>
          <td>{{rec.rec_created_by}}</td>
          <td>{{rec.rec_created_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm mb-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="currentTab=='DETAILS'" class="page-details">
  <ngb-tabset>
    <ngb-tab title="Basic Details">
      <ng-template ngbTabContent>
        <div class="page-box">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Code</label>
                <div class="col-4">
                  <input [disabled]="!Record.cust_is_editable" type="text" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_code" required maxlength="15" (blur)="OnBlur('cust_code')" />
                </div>
                <label class="col-2 col-form-label col-form-label-sm">Acq.Date</label>
                <div class="col-4">
                  <app-date [disabled]="!Record.cust_is_editable" [inputdate]="Record.cust_acq_date"
                    (ValueChanged)="Record.cust_acq_date=$event"></app-date>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">Name</label>
                <div class="col-10 input-group input-group-sm">
                  <input type="text" [disabled]="!Record.cust_is_editable" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_name" required maxlength="60" />
                  <input type="text" disabled class="form-control form-control-sm w-auto" style="max-width: 40px;"
                    [style.color]="Record.cust_name.length > (Record.cust_is_shipper?50:34) ?'red':'green'"
                    [(ngModel)]="Record.cust_name.length" required maxlength="5" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">IE-Code</label>
                <div class="col-4">
                  <input type="text" class="form-control form-control-sm" [disabled]="!Record.cust_is_editable"
                    [(ngModel)]="Record.cust_iecode" required maxlength="10" />
                </div>
                <label *ngIf="gs.globalVariables.user_code == 'ADMIN'"
                  class="col-2 col-form-label col-form-label-sm">Parent</label>
                <div *ngIf="gs.globalVariables.user_code == 'ADMIN'" class="col-4">
                  <app-autocomplete2 #parent [inputdata]="PARENTREC"
                    (ValueChanged)="LovSelected($event)"></app-autocomplete2>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">Pan No</label>
                <div class="col-4">
                  <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_panno" required
                    maxlength="15" [disabled]="!bAdmin2" /> -->
                  <input type="text" class="form-control form-control-sm" [disabled]="!Record.cust_is_editable"
                    [(ngModel)]="Record.cust_panno" required maxlength="15" />
                </div>
                <label class="col-2 col-form-label col-form-label-sm">Pan.DOI</label>
                <div class="col-4">
                  <app-date [disabled]="!Record.cust_is_editable" [inputdate]="Record.cust_pan_doi"
                    (ValueChanged)="Record.cust_pan_doi=$event"></app-date>
                </div>
              </div>



              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">Tan No</label>
                <div class="col-4">
                  <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_tanno" required
                    maxlength="15" [disabled]="!bAdmin2" /> -->
                  <input type="text" class="form-control form-control-sm" [disabled]="!Record.cust_is_editable"
                    [(ngModel)]="Record.cust_tanno" required maxlength="15" />
                </div>

                <label class="col-2 col-form-label col-form-label-sm">Type</label>
                <div class="col-4">
                  <select class="form-control form-control-sm" [disabled]="!Record.cust_is_editable"
                    [(ngModel)]="Record.cust_type">
                    <option [value]="'N'">NA</option>
                    <option [value]="'R'">Merchant</option>
                    <option [value]="'F'">Manufacturer</option>
                  </select>
                </div>
              </div>

              <div class=" form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Class</label>
                <div class="col-4">
                  <select class="form-control form-control-sm" [disabled]="!Record.cust_is_editable"
                    [(ngModel)]="Record.cust_class">
                    <option [value]="'N'">NA</option>
                    <option [value]="'P'">Private</option>
                    <option [value]="'G'">Government</option>
                  </select>
                </div>



                <label class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                  <input type="checkbox" [disabled]="!Record.cust_is_editable" [(ngModel)]="Record.cust_sepz_unit" />
                  <span>Sez Unit</span>
                </div>


              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">This Branch Only</label>
                <div class="col-sm-4">
                  <app-autocomplete [disabled]="!Record.cust_is_editable" #LinerLov [inputdata]="COMPRECORD"
                    (ValueChanged)="LovSelected($event)"></app-autocomplete>
                </div>
                <label class="col-2 col-form-label col-form-label-sm">Nomination</label>
                <div class="col-4">
                  <select [disabled]="!Record.cust_is_editable" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_nomination">
                    <option [value]="'NA'">NA</option>
                    <option [value]="'NOMINATION'">NOMINATION</option>
                    <option [value]="'MUTUAL'">MUTUAL</option>
                    <option [value]="'FREEHAND'">FREEHAND</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">Branch Comments</label>
                <div class="col-10">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_branch_remarks"
                    (blur)="OnBlur('cust_branch_remarks')" required maxlength="250" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12 col-form-label col-form-label-sm"
                  style="color:red;font-size: 12px">IEC,PAN,TAN,GST,KYC,AUTHORISATION LETTER MUST BE UPLOADED FOR
                  SHIPPER.&nbsp;<span style="color: black;">|</span>&nbsp;NAME LIMITS (SB FILING):&nbsp; <span
                    style="color: black;">SHIPPER:&nbsp;</span>50 Chars,&nbsp;&nbsp;<span
                    style="color: black;">CONSIGNEE:&nbsp;</span>34 Chars</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Credit Days</label>
                <div class="col-3">
                  <input [disabled]="!Record.cust_is_editable" type="text" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_crdays" (blur)="OnBlur('cust_crdays')" required maxlength="3" />
                </div>
                <div class="col-5">
                  <div class="form-check form-check-inline">
                    <input [disabled]="gs.globalVariables.user_code != 'ADMIN'" type="checkbox"
                      [(ngModel)]="Record.cust_iata_limit" />
                    <span class="pl-1">Iata-Limit</span>
                  </div>
                </div>


              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Credit Limit</label>
                <div class="col-8">
                  <input [disabled]="!Record.cust_is_editable" type="text" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_crlimit" (blur)="OnBlur('cust_crlimit')" required maxlength="15" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Credit-Date</label>

                <div class="col-8">
                  <app-date [disabled]="!Record.cust_is_editable" [inputdate]="Record.cust_crdate"
                    (ValueChanged)="Record.cust_crdate=$event"></app-date>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Salesman</label>
                <div class="col-8">
                  <app-autocomplete2 #sman [disabled]="!Record.cust_is_editable" [inputdata]="SMANREC"
                    (ValueChanged)="LovSelected($event)"></app-autocomplete2>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">CSD</label>
                <div class="col-8">
                  <app-autocomplete2 #csd [disabled]="!Record.cust_is_editable" [inputdata]="CSDREC"
                    (ValueChanged)="LovSelected($event)"></app-autocomplete2>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Refer By</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [disabled]="!Record.cust_is_editable"
                    [(ngModel)]="Record.cust_referdby" (blur)="OnBlur('cust_referdby')" maxlength="60" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Remarks</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [disabled]="!Record.cust_is_editable"
                    [(ngModel)]="Record.cust_remarks" (blur)="OnBlur('cust_remarks')" maxlength="100" />
                </div>
              </div>
              <div *ngIf="mode == 'EDIT'" class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Documents</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" disabled
                    [(ngModel)]="Record.cust_uploaded_docs" maxlength="500" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Case Number</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [disabled]="!Record.cust_is_editable"
                    [(ngModel)]="Record.cust_caseno" (blur)="OnBlur('cust_caseno')" maxlength="100" />
                </div>
              </div>

            </div>


            <div class="col-sm-3">
              <div class="col-sm-12">
                <!-- <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_shipper" /> 
                <span>Shipper</span> -->
                <div class="form-check form-check-inline">
                  <input [disabled]="!Record.cust_is_editable" type="checkbox" [(ngModel)]="Record.cust_is_shipper" />
                  <span>Shipper</span>
                </div>
                <div class="form-check form-check-inline">
                  <input [disabled]="!Record.cust_is_editable" type="checkbox" [(ngModel)]="Record.cust_is_ungst" />
                  <span>Unregistered</span>
                </div>
              </div>

              <div class="col-12">
                <input [disabled]="!bAdmin2||!Record.cust_is_editable" type="checkbox"
                  [(ngModel)]="Record.cust_is_foreigner" />
                <span>Foreign Shipper</span>
              </div>

              <div class="col-12">
                <input [disabled]="!Record.cust_is_editable" type="checkbox" [(ngModel)]="Record.cust_is_consignee" />
                <span>Consignee</span>
              </div>

              <div class="col-12">
                <input [disabled]="!bAdmin2||!Record.cust_is_editable" type="checkbox"
                  [(ngModel)]="Record.cust_is_agent" />
                <span>Agent</span>
              </div>

              <div class="col-12">
                <input [disabled]="!bAdmin2||!Record.cust_is_editable" type="checkbox"
                  [(ngModel)]="Record.cust_is_cha" />
                <span>Cha/Forwarder</span>
              </div>

              <div class="col-12">
                <input [disabled]="!canadd||!Record.cust_is_editable" type="checkbox"
                  [(ngModel)]="Record.cust_is_creditor" />
                <span>Creditor</span>
              </div>

              <div class="col-12">
                <input [disabled]="!bAdmin2||!Record.cust_is_editable" type="checkbox"
                  [(ngModel)]="Record.cust_is_others" />
                <span>Others</span>
              </div>

              <div class="col-12">
                <input [disabled]="!bAdmin2" type="checkbox" [(ngModel)]="Record.cust_cons_wise_sman" />
                <span>Consignee Wise Unlock</span>
              </div>
            </div>
          </div>
        </div>

        <div class="page-box">
          <div class="row">
            <div class="col-sm-6">


              <div class="form-group row">
                <div class="offset-2 col-sm-4">
                  <input [disabled]="!bAdmin2" type="checkbox" [(ngModel)]="Record.cust_is_incomplete" />
                  <!-- <span>Incomplete</span> -->
                  <label class="col-form-label col-form-label-sm">Incomplete</label>
                </div>
                <div class="col-sm-6">
                  <input *ngIf="gs.globalVariables.user_code == 'ADMIN'" type="checkbox"
                    [(ngModel)]="Record.cust_alert" />
                  <label *ngIf="gs.globalVariables.user_code == 'ADMIN'" class="col-form-label col-form-label-sm">Job
                    Alert&nbsp;</label>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">HO Comments</label>
                <div class="col-sm-10">
                  <textarea rows="4" [disabled]="!bAdmin2" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_incomplete_remarks" (blur)="OnBlur('cust_incomplete_remarks')" required
                    maxlength="250"></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-6">

              <div class="form-group row">
                <!-- <label class="col-2 col-form-label col-form-label-sm"></label> -->
                <div class="col-2">
                  <button *ngIf="mode == 'EDIT' && bCanUnLink" [disabled]="loading" (click)="Unlink(Record.cust_pkid)"
                    class="btn btn-success btn-sm">Unlink</button>
                </div>
                <div class="col-4">
                  <input [disabled]="cust_linked || !bAdmin2" type="checkbox" [(ngModel)]="Record.cust_linked" />
                  <span>Link To Accounts</span>
                </div>

                <label class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                  <!-- <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.rec_locked" /> -->
                  <input disabled type="checkbox" [(ngModel)]="Record.rec_locked" />
                  <span>Lock This Customer</span>
                </div>

              </div>

              <div>

                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-sm">A/c Group</label>
                  <div class="col-10">
                    <select [disabled]="!Record.cust_linked || !bAdmin2" class="form-control form-control-sm"
                      [(ngModel)]="Record.acc_group_id">
                      <option *ngFor="let rec of AcGrpList" [value]="rec.acgrp_pkid">{{rec.acgrp_name}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-sm">A/c Type</label>
                  <div class="col-10">
                    <select [disabled]="!Record.cust_linked || !bAdmin2" class="form-control form-control-sm"
                      [(ngModel)]="Record.acc_type_id">
                      <option *ngFor="let rec of AcTypeList" [value]="rec.actype_pkid">{{rec.actype_name}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-sm">Alloc.Against</label>
                  <div class="col-10">
                    <select [disabled]="!Record.cust_linked || !bAdmin2" class="form-control form-control-sm"
                      [(ngModel)]="Record.acc_against_invoice">
                      <option [value]="'N'">NA</option>
                      <option [value]="'D'">DEBIT</option>
                      <option [value]="'C'">CREDIT</option>
                    </select>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="page-box">
          <app-addressm #addressComponent [RecordList]="Record.AddressList" [StateList]="StateList"
            [fStateList]="fStateList" [CountryList]="CountryList" [customer_id]="pkid" [bAdmin]="bAdmin2"
            [bDelete]="bDelete" [pan_no]="Record.cust_panno" [bShipper]="Record.cust_is_shipper"
            [bForeigner]="Record.cust_is_foreigner" [bUnregistered]="Record.cust_is_ungst"></app-addressm>
        </div>

        <div class="page-box">
          <div class="col-sm-12 input-group input-group-sm">
            <button [hidden]="disableSave" [disabled]="loading" (click)="Save()"
              class="btn btn-success btn-sm mr-1">Save</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST','')"
              class="btn btn-success btn-sm mr-1">Return</button>
            <button *ngIf="mode == 'EDIT'" [disabled]="loading" (click)="ShowHistory(history)"
              class="btn btn-success btn-sm mr-1">History</button>
            <button *ngIf="mode == 'EDIT' && bCanLock && Record.rec_locked" [disabled]="loading"
              (click)="UnlockCustomer('UNLOCKED')" class="btn btn-success btn-sm mr-1">Unlock</button>
            <button *ngIf="mode == 'EDIT' && bCanLock && !Record.rec_locked" [disabled]="loading"
              (click)="UnlockCustomer('LOCKED')" class="btn btn-success btn-sm mr-1">Lock</button>
            <app-memo  *ngIf="mode == 'EDIT'" [parentid]="Record.cust_pkid" [type]="'CUSTOMER-MEMO'"></app-memo>
            <button [disabled]="loading" *ngIf="mode == 'EDIT'" class="btn btn-primary btn-sm mr-1"
              (click)="CheckCrLimit()">Check
              CR-Limit</button>
            <button [disabled]="loading||!Record.cust_is_editable" *ngIf="mode == 'EDIT'"
              class="btn btn-primary btn-sm mr-1" (click)="MailApproval(Record.cust_pkid)">Approval Request
              Mail</button>

            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>

        <div>
          <h6>Iata-Limit -> Overdue Locking will be based on IATA payment rules </h6>
        </div>

      </ng-template>
    </ngb-tab>


    <ngb-tab title="Others">
      <ng-template ngbTabContent>

        <div class="page-box">
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">DBK A/c#</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_dbkacno" required
                maxlength="50" />
            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Ad Code</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_adcode" required
                maxlength="50" />
            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Bank A/c#</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_acno" required
                maxlength="60" />

            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Forex A/c#</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_forexacno" required
                maxlength="60" />

            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Bank</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank" required
                maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Branch</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank_branch" required
                maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Address</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank_address1" required
                maxlength="60" />

            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm"></label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank_address2" required
                maxlength="60" />

            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm"></label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank_address3" required
                maxlength="60" />

            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">S/B Consignee Name</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm"
                [disabled]="!Record.cust_is_editable||mode == 'ADD'" [(ngModel)]="Record.cust_sb_name"
                (blur)="OnBlur('cust_sb_name')" required maxlength="34" />

            </div>
          </div>
          <!-- <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Address</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [disabled]="!Record.cust_is_editable||mode == 'ADD'"  [(ngModel)]="Record.cust_sb_address" (blur)="OnBlur('cust_sb_address')"  required
                maxlength="80" />

            </div>
          </div> -->

        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Documents" *ngIf="mode == 'EDIT' && bDocs">
      <ng-template ngbTabContent>
        <app-upload [pkid]="pkid" [type]="'CUSTOMER'" [canupload]="bDocsUpload"></app-upload>
      </ng-template>
    </ngb-tab>



    <ngb-tab title="Quotation" *ngIf="mode == 'EDIT'">
      <ng-template ngbTabContent>
        <app-qtn [partyid]="pkid" [type]="'SE-CLR'"></app-qtn>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="Salesman" *ngIf="mode == 'EDIT' && bAdmin2">
      <ng-template ngbTabContent>
        <div>
          <!-- <h6 style="color: red" class="my-1">SHIPPER:&nbsp;{{Record.cust_name}}</h6> -->
          <app-custdet [parentid]="pkid"></app-custdet>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="mode == 'EDIT'" title="EDI">
      <ng-template ngbTabContent>
        <div class="page-box">
          <div class="col">
            <app-xmloms [pkid]="pkid" [filename]="Record.cust_name" [type]="'CUSTOMER'"></app-xmloms>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="mode == 'EDIT'" title="Beneficiary">
      <ng-template ngbTabContent>
        <div class="page-box p-1">
          <div class="col  mx-0 px-0">
            <app-benf [parentid]="pkid" [cust_code]="Record.cust_code" [cust_name]="Record.cust_name" [type]="type">
            </app-benf>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Unlock Job" *ngIf="mode == 'EDIT' && bAdmin2">
      <ng-template ngbTabContent>
        <app-unlockjob [parentid]="pkid"></app-unlockjob>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="Legal Documents" *ngIf="mode == 'EDIT' && bLegalDocs">
      <ng-template ngbTabContent>
        <app-upload [pkid]="pkid" [type]="'LEGAL-CUSTOMER'" [canupload]="true"></app-upload>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Agent" *ngIf="mode == 'EDIT' && bAgent">
      <ng-template ngbTabContent>
        <div>
          <h6 style="color: green" class="my-1">BANK DETAILS</h6>
          <app-bankinfo2 [pkid]="pkid" [source]="'AGENT'"></app-bankinfo2>
        </div>
        <div>
          <h6 style="color: green" class="my-1">HISTORY</h6>
          <app-genremarks2 [pkid]="pkid" [type]="'CUSTOMER'" [subtype]="'AGENT'"></app-genremarks2>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="HO Documents" *ngIf="mode == 'EDIT' && bHoDocs">
      <ng-template ngbTabContent>
        <app-upload [pkid]="pkid" [type]="'HO-DOCUMENTS'" [canupload]="true"></app-upload>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<!-- <br /> -->






<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>



<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>
<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-history [pkid]="pkid" [type]="'CUSTOMER'"></app-history>
  </div>
</ng-template>

<app-crlimit [visible]="showalert" [msg]="ErrorMessage" [RecordList]="CrList" (hidealert)="showalert=$event">
</app-crlimit>