
<div class="page-list">
  <div class="page-search">
    <div class="row">
      <label class="col-1">Search</label>
      <div class="col-2">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <label class="col-1">From.Date</label>
      <div class="col-2">
        <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
      </div>
      <div class="col-6">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
        <button [disabled]="loading" (click)="Save('DOWNLOAD')" class="btn btn-primary btn-sm">Download</button>
        <button [disabled]="loading" (click)="PasteData(pastedata)" class="btn btn-primary btn-sm">Paste Data</button>
        <button *ngIf="bAdmin" [disabled]="loading" (click)="Settings()" class="btn btn-primary btn-sm">Settings</button>
        <!--<label> Location&nbsp;{{BR_ESANCHIT_LOCATIONS}}</label>-->
        <i *ngIf="loading" class="fa fa-spinner"></i>
      </div>
    </div>
  </div>
  <div *ngIf="user_admin" class="page-box">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Esanchit Email</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_ESANCHIT_EMAIL" required [maxlength]="100" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Password</label>
          <div class="col-8">
            <input type="password" class="form-control form-control-sm" [(ngModel)]="BR_ESANCHIT_EMAIL_PWD" required [maxlength]="100" />
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Branch Codes</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_ESANCHIT_LOCATIONS" (blur)="OnBlur('BR_ESANCHIT_LOCATIONS')" required [maxlength]="100" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Start Index</label>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="BR_START_INDEX" required [maxlength]="100" />
          </div>
          <div class="col-4">
            <button [disabled]="loading" (click)="Save('SAVE')" class="btn btn-success btn-sm">Save</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm mb-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a></li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div style="height: 400px;">
    <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 565px);">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th>UPLOAD DATE</th>
            <th>DRN</th>
            <th>IRN</th>
            <th>TYPE</th>
            <th>NAME</th>
            <th>ICEGATE-FILE-NAME</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr [style.color]="rec.row_colour" *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex">
            <td>{{rec.doc_upload_date}}</td>
            <td>{{rec.doc_drn}}</td>
            <td>{{rec.doc_irn}}</td>
            <td>{{rec.doc_type_code}}</td>
            <td>{{rec.doc_name}}</td>
            <td>{{rec.doc_file_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="page-pager">
      <div *ngIf="page_count">
        <ul class="pagination pagination-sm mb-1">
          <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a></li>
          <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
          <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a></li>
          <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a></li>
          <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- <br /> -->

<ng-template #pastedata let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Paste Data</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <App-PasteData [visible]="bShowPasteData" [msg]="'Please Wait'" [ExcelFormat]="''"
    (CloseClicked)="PasteDataClosed($event)"></App-PasteData>
  </div>
</ng-template>

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

