<div class="list-group" *ngFor="let rec of RecordList">
    <a style="padding: 5px" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <label style="color: brown;padding: 1px;font-weight: bold;font-size: 10px;" class="mb-1">{{rec.rec_created_by}}&nbsp;-&nbsp;{{rec.rec_created_date}} &nbsp;<i style="color: red;"
                    class="fa fa-trash pointer" aria-hidden="true" (click)="RemoveRemarks(rec.gr_uid)"></i></label>
                    <!-- <h6 style="color: brown;" class="mb-1">{{rec.rec_created_date}} &nbsp;<i style="color: red;"
                        class="fa fa-trash pointer" aria-hidden="true" (click)="RemoveRemarks(rec.gr_uid)"></i></h6> -->
        </div>
        <p class="mb-1">{{rec.gr_remarks}}</p>
    </a>
</div>
<div class="page-details p-1">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group input-group-sm">
                <input type="text" #_txtremark class="form-control form-control-sm" [(ngModel)]="remarks"
                    (blur)="OnBlur('remarks')" maxlength="300" />
                <button style="margin-left: 5px;" class="btn btn-info btn-sm mr-1" (click)="Save()"> <i
                        class="fa fa-angle-double-right fa-lg pointer" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>