<div class="hlink">
    <a (click)="GetRemarks(genremarksmodal)">{{_mremarks}}</a>
</div>
<!-- <div>
    <button [disabled]="loading" *ngIf="_btntype!='LINKBUTTON'" class="btn btn-info btn-sm"
        (click)="GetRemarks(genremarksmodal)">Remarks</button>
</div> -->
<ng-template #genremarksmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-details">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">REF# </label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm text-danger" disabled type="text"
                                            [(ngModel)]="_refno" maxlength="250" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label col-form-label-sm">REMARKS </label>
                                    <div class="col-10">
                                        <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="_remarks"
                                            (blur)="OnBlur('remarks')" maxlength="300"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-box">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('OK')">Ok</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('CLOSE')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>