<div class="page-details">
  <label>{{title}}</label>
  <!--<hr>-->
  <div class="row">
    <div class="col-sm-12">
      <div style="height: 400px; overflow-y: scroll;">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-1 col-form-label col-form-label-sm">Mail To</label>
              <div class="col-3">
                <app-autocomplete #CustLov [inputdata]="CUSTRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
              </div>
              <label style="padding-left:0;padding-right:0" class="col-1 col-form-label col-form-label-sm">Branch#</label>
              <div style="padding-left:0;" class="col-1">
                <app-autocomplete #CustAddrLov [inputdata]="CUSTADDRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
              </div>
              <div class="col-6" style="padding-left:0">
                <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="customer_name" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm">To</label>
          <div class="col-sm-11">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="to_ids" (blur)="OnBlur('to_ids')" maxlength="500" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm">Cc</label>
          <div class="col-sm-11">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="cc_ids" (blur)="OnBlur('cc_ids')" maxlength="500" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm">Bcc</label>
          <div class="col-sm-11">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="bcc_ids" (blur)="OnBlur('bcc_ids')" maxlength="500" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm">Subject</label>
          <div class="col-sm-11">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="subject" (blur)="OnBlur('subject')" maxlength="500" />
          </div>
        </div>
        <div *ngIf="AttachList.length > 0" class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm">Attachments</label>
          <div class="col-sm-11">
            <label *ngFor="let rec of AttachList">
              <button [disabled]="loading" (click)="Downloadfile(rec.filename,rec.filetype,rec.filedisplayname)" class="btn btn-link pointer">{{rec.filedisplayname}}</button>
            </label>
          </div>
        </div>
        <div *ngIf="sHtml" class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm">Message</label>
          <div class="col-sm-11">
            <div class="page-box">
              <div [innerHTML]="sHtml"></div>
            </div>
          </div>
        </div>
        <div *ngIf="sHtml" class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm"></label>
          <div class="col-sm-11">
            <textarea rows="6" class="form-control form-control-sm" [(ngModel)]="message"></textarea>
          </div>
        </div>
        <div *ngIf="sHtml==''" class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm">Message</label>
          <div class="col-sm-11">
            <textarea rows="12" class="form-control form-control-sm" [(ngModel)]="message"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="page-box">
  <div class="col-sm-12">
    <div class="offset-sm-1 col-sm-11">
      <button [disabled]="loading" (click)="SendMail()" class="btn btn-primary btn-sm">Send Mail</button>
      <button [disabled]="loading" (click)="SaveIDs()" class="btn btn-primary btn-sm">Update IDs</button>
      <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
  </div>
</div>
<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

