<div class="page-header">
    <div class="col">
      <label>{{title}}</label>
      <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
      <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
  </div>
  
  <div *ngIf="currentTab=='LIST'" class="page-list">
    <div class="page-search">
      <div class="row">
        <!-- <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Type</label>
            <div class="col-10">
              <select class="form-control form-control-sm" [(ngModel)]="format_type"  (change)="OnChange('format_type')">
                <option [value]="'TDS-PAID-DETAILS'">TDS PAID DETAILS</option>
                <option [value]="'TDS-PAID-SUMMARY'">TDS PAID SUMMARY</option>
                <option [value]="'26AS-MASTERS'">26AS MASTERS</option>
                <option [value]="'26AS-DETAILS'">26AS DETAILS</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Search</label>
            <div class="col-10">
              <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" (blur)="OnBlur('searchstring')" />
            </div>
          </div>
  
        </div> -->
        <div class="col-sm-4">
          <div class="form-group row">
            <div class="col-6">
              <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm">Process
                Report</button>
              <!-- <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th>BRANCH</th>
            <th>TYPE</th>
            <th>VRNO</th>
            <th>DATE</th>
            <th>PARTY-CODE</th>
            <th>PARTY-NAME</th>
            <th>TAN-CODE</th>
            <th>TAN-NAME</th>
            <th>CERT-NO</th>
            <th>CERT-QTR</th>
            <th>CERT-RECVD-AT</th>
            <th class="text-right">GROSS-BILL-AMT</th>
            <th class="text-right">GROSS-CERT-AMT</th>
            <th class="text-right">CERT-AMT</th>
            <th class="text-right">TDS-DR</th>
            <th class="text-right">TDS-CR</th>
            <th class="text-right">ALLOCATED</th>
            <th class="text-right">PENDING</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr>
            <td>{{rec.branch_code}}</td>
            <td>{{rec.jv_type}}</td>
            <td>{{rec.jv_vrno}}</td>
            <td>{{rec.jv_date}}</td>
            <td>{{rec.party_code}}</td>
            <td>{{rec.party_name}}</td>
            <td>{{rec.tan_code}}</td>
            <td>{{rec.tan_name}}</td>
            <td>{{rec.tds_cert_no}}</td>
            <td>{{rec.tds_cert_qtr}}</td>
            <td>{{rec.cert_recvd_at}}</td>
            <td align='right'>{{ rec.gross_bill_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.gross_cert_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.cert_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.tds_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_credit | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.cert_alloc_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.pending_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <br />
    <App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
    <div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
  </div>