<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>


<div class="page-list">

  <div class="page-search">
    <div class="row">

      <div class="col-4">

        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">From Date</label>
          <div class="col-8">
            <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">To Date</label>
          <div class="col-8">
            <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row">
          <label class="col-3 col-form-label col-form-label-sm">A/c Code</label>
          <div class="col-9">
            <app-autocomplete #CsdLov [inputdata]="ACCRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label col-form-label-sm"></label>
          <div class="col-9">
            <span>{{ACCRECORD.name}}</span>
          </div>
        </div>

      </div>

      <div class="col-4">

        <div class="form-group row">

          <label class="col-3 col-form-label col-form-label-sm">CURRENCY</label>
          <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="curr_code" />
          </div>

        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label col-form-label-sm"></label>
          <div class="col-9">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Process Report</button>
          </div>
        </div>

      </div>

    </div>

    <div class="page-pager">
      <div *ngIf="page_count">
        <ul class="pagination pagination-sm">
          <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
              (Records-{{page_rowcount}})</a></li>
          <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
          <li class="page-item"><a class="page-link" (click)="List('EXCEL')"><span
                class="fa fa-file-excel-o"></span></a></li>
        </ul>
      </div>
    </div>

    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th class="text-left">VRNO</th>
            <th class="text-left">DATE</th>

            <th class="text-left">CURR</th>
            <th class="text-right">EXRATE</th>
            <th class="text-right">DR-FC</th>
            <th class="text-right">CR-FC</th>
            <th class="text-right">BAL-FC</th>
            <th class="text-left">TYPE</th>

            <th class="text-right">DR-INR</th>
            <th class="text-right">CR-INR</th>
            <th class="text-right">BAL</th>
            <th class="text-left">TYPE</th>


            <th class="text-left">NARRATION</th>
          </tr>
        </thead>

        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr (click)="ActionHandler('EDIT',rec.acc_pkid)">
            <td align='left'>{{ rec.jv_docno }}</td>
            <td align='left'>{{ rec.jv_date }}</td>
            <td align='left'>{{ rec.curr_code }}</td>
            <td align='right'>{{ rec.exrate | number : '1.2-3'}}</td>

            <td align='right'>{{ rec.fdr | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.fcr | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.fbal | negParen }}</td>
            <td *ngIf="rec.fdrcr!=rec.jv_drcr" align='left' [style.color]="'red'">{{ rec.fdrcr}}</td>
            <td *ngIf="rec.fdrcr==rec.jv_drcr" align='left' >{{ rec.fdrcr}}</td>
            <td align='right'>{{ rec.debit | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.credit | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.bal | negParen }}</td>
            <td *ngIf="rec.fdrcr!=rec.jv_drcr" align='left' [style.color]="'red'">{{ rec.jv_drcr}}</td>
            <td *ngIf="rec.fdrcr==rec.jv_drcr" align='left' >{{ rec.jv_drcr}}</td>

            <td align='left'>{{ rec.jv_narration}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="page-pager">
      <div *ngIf="page_count">
        <ul class="pagination pagination-sm">
          <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
              (Records-{{page_rowcount}})</a></li>
          <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
          <li class="page-item"><a class="page-link" (click)="List('EXCEL')"><span
                class="fa fa-file-excel-o"></span></a></li>
        </ul>
      </div>
    </div>

  </div>

</div>

<br />

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>