<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close('CLOSE')">Close</button>
    <button class="btn btn-primary btn-sm" (click)="this.Close('RET')">Return</button>
  </div>
</div>

<div *ngIf="ms.state.currentTab=='LIST'" class="page-body">

  <div class="page-search">
    <div class="row">

      <div class="col-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Fin-Year</label>
          <div class="col-8">
            <select class="form-control form-control-sm" [(ngModel)]="ms.state.year_code">
              <option *ngFor="let rec1 of ms.state.YearList" [value]="rec1.year_code">{{rec1.year_name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group row">
          <div class="col-sm-10">
            <button (click)="ms.List('NEW')" class="btn btn-primary btn-sm">Search</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page-line-top mt-1">

  </div>

  <div class="page-pager">
    <div *ngIf="ms.state.page_count">
      <ul class="pagination pagination-sm  mb-1">
        <li class="page-item"><a class="page-link">Page {{ms.state.page_current}}/{{ms.state.page_count}}
            (Records-{{ms.state.page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span class="fa fa-backward"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive pointer">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>FIN-YEAR</th>
          <th>CAPTION</th>
          <th>SHOW-REPORT</th>
          <th>START-DATE</th>
          <th>END-DATE</th>
          <th>CREATED.BY</th>
          <th>CREATED.DT</th>
          <th>EDIT</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of ms.state.RecordList; let i = index" [class.active]="i == ms.state.selectedRowIndex"
          (mousedown)="ms.state.selectedRowIndex=i">
          <td>{{rec.sa_year_name}}</td>
          <td>{{rec.sa_remarks}}</td>
          <td>
            <div [class]="'hlink'" (click)="ShowReport(rec.sa_pkid)">
              <a>CLICK-HERE</a>
            </div>
          </td>
          <td>{{rec.sa_start_date}}</td>
          <td>{{rec.sa_end_date}}</td>
          <td>{{rec.rec_created_by}}</td>
          <td>{{rec.rec_created_date}}</td>
          <td>
            <div [class]="'hlink'" (click)="editSettings('EDIT')">
              <a>EDIT</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="ms.state.page_count">
      <ul class="pagination pagination-sm   mb-1">
        <li class="page-item"><a class="page-link">Page {{ms.state.page_current}}/{{ms.state.page_count}}
            (Records-{{ms.state.page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span class="fa fa-backward"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="ms.state.currentTab=='REPORT'" class="page-body">

  <div class="page-search">

    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">Caption</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="ms.state.dremarks" disabled />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <div class="col-sm-10">
            <button (click)="ShowReport(ms.state.pkid)" class="btn btn-primary btn-sm">Refresh</button>
            <button (click)="printProfiteport(ms.state.pkid)" class="btn btn-primary btn-sm">Print</button>
            <button (click)="ms.processProfit(ms.state.pkid)" class="btn btn-primary btn-sm">Re-Update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">Period</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="ms.state.dstart_date" disabled />
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">To</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="ms.state.dend_date" disabled />
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="page-line-top mt-1 mb-1">

  </div>

  <div class="page-body table-responsive  fixedTableHead my-0 p-0 pointer" [style.height]="'calc(100vh - 300px)'">
    <table class="table table-hover table-sm table-bordered table-striped" style="width: auto; table-layout: auto;">
      <thead class="page-body-thead">
        <tr>
          <th>SL#</th>
          <th>BRANCH</th>
          <th>NAME</th>
          <th>CATEGORY</th>
          <th class="text-right">REVENUE</th>
          <th class="text-right">CTC</th>
          <th class="text-right">OS-AMT</th>
          <th>ACHIEVED</th>
          <!-- <th class="text-right">INCENTIVE</th> -->
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of ms.state.SalesProfitList; let i = index"
          [class.active]="i == ms.state.selectedProfitRowIndex" (mousedown)="ms.state.selectedProfitRowIndex=i">
          <td>{{i+1}}</td>
          <td>{{rec.branch}}</td>
          <td>{{rec.name}}</td>
          <td>{{rec.sman_type}}</td>
          <td class="text-right">{{rec.revenue | number}}</td>
          <td class="text-right">{{rec.ctc | number}}</td>
          <td class="text-right">{{rec.os | number}}</td>
          <td class="text-center">{{rec.achieved}}</td>
          <!-- <td class="text-right">{{rec.incentive | number}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>

</div>


<div *ngIf="ms.state.showRightPanel" class="overlay-wrapper" (click)="ms.state.showRightPanel=false">

  <div class="right-overlay-panel open" (click)="$event.stopPropagation()">
    <div class="right-overlay-header">
      <span>Settings</span>
      <button type="button" class="close" (click)="ms.state.showRightPanel=false">
        <span>&times;</span>
      </button>
    </div>

    <div class="right-overlay-body">

      <div>
        <div><b>Selected Row</b></div>
        <div *ngIf="ms.state.RecordList?.length && ms.state.selectedRowIndex >= 0">
          {{ ms.state.RecordList[ms.state.selectedRowIndex]?.sa_remarks }}
          - {{ ms.state.RecordList[ms.state.selectedRowIndex]?.sa_start_date }}
        </div>
      </div>

    </div>
  </div>
</div>




<br />

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ms.state.ErrorMessage}}
</div>