<div class="page-list">
  <div class="page-search">
    <div class="row">
      <div class="col-sm-7">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Search</label>
          <div class="col-sm-6">
            <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('Search')" name="Search"
              [(ngModel)]="searchstring" />
          </div>
          <label class="col-sm-1 col-form-label col-form-label-sm">Processed</label>
          <div class="col-sm-3">
            <select class="form-control form-control-sm" [(ngModel)]="searchprocessed">
              <option [value]="'ALL'">ALL</option>
              <option [value]="'Y'">YES</option>
              <option [value]="'N'">NO</option>
              <option [value]="'E'">ERROR</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label col-form-label-sm"></label>
          <div class="col-sm-10">

            <button [disabled]="loading" (click)="DownloadData()" class="btn btn-primary btn-sm mr-1">Download
              Files</button>
            <button [disabled]="loading" (click)="ImportData()" class="btn btn-primary btn-sm mr-1">Process
              Files</button>
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm mr-1">Search</button>
            <!-- <button [disabled]="loading" (click)="AutoFill()" class="btn btn-primary btn-sm mr-1">AutoFill</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm mb-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
            (Records-{{page_rowcount}})</a></li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 360px);">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>FROM</th>
          <th>TO</th>
          <th>SUBJECT</th>
          <th>DATE</th>
          <th>TYPE</th>
          <th>FOLDER</th>
          <th>FILE NAME</th>
          <th>PROCESS</th>
          <th>SB.COUNT</th>
          <th>JSON.COUNT</th>
          <th>PDF.COUNT</th>
          <th>REMARKS</th>
          <th>PROCESSED</th>
          <th *ngIf="bDelete">REMOVE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i">
          <td>{{rec.msg_from_id}}</td>
          <td>{{rec.msg_to_id}}</td>
          <td>{{rec.msg_subject}}</td>
          <td>{{rec.msg_date}}</td>
          <td>{{rec.caption}}</td>
          <td>{{rec.file_folder}}</td>
          <td>{{rec.file_name}}</td>
          <td class="hlink" (click)="ProcessDocuments(rec.file_pkid)">FILES</td>
          <td>{{rec.sb_count}}</td>
          <td>{{rec.json_count}}</td>
          <td>{{rec.pdf_count}}</td>
          <td>{{rec.remarks}}</td>
          <td *ngIf="rec.processed!='N'">{{rec.processed}}</td>
          <td *ngIf="rec.processed=='N'" class="hlink" (click)="ImportData(rec.file_pkid)">PROCESS</td>
          <td *ngIf="bDelete">
            <span *ngIf="rec.processed=='N'||(gs.globalVariables.user_code == 'ADMIN')">
              <App-Dialog [id]="{msg:'Delete Y/N', buttons:'yn', selected :false,id:rec.file_pkid,name:rec.file_name}"
                (result)="RemoveList($event)"></App-Dialog>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm mb-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
            (Records-{{page_rowcount}})</a></li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a>
        </li>
      </ul>
    </div>
  </div>

</div>