
<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-list">
    <div class="page-search">
      <div class="row">
        <div class="col-4">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">From Date</label>
            <div class="col-8">
              <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">To Date</label>
            <div class="col-8">
              <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
            </div>
          </div>

        </div>
        <div class="col-4">

          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Currency</label>
            <div class="col-8">
              <app-autocomplete #CsdLov [inputdata]="CURRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Agent</label>
            <div class="col-8">
              <app-autocomplete #AgentAddLov [inputdata]="AGENTRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
            </div>
          </div>

        </div>
        <div class="col-4">

          <div class="form-group row">
            <!--<div *ngIf="bCompany" class="col-sm-2">
              <input type="checkbox" [(ngModel)]="all" (change)="OnChange('all')">
              <span> All</span>
            </div>-->
            <div class="col-sm-10">
              <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm">Process Report</button>
              <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 280px);">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>REFERENCE</th>
          <th>BRANCH</th>
          <th>DATE</th>
          <th>TYPE</th>
          <th>VRNO</th>
          <th>PARTICULARS</th>
          <th>CURRENCY</th>
          <th class="text-right">EX-RATE</th>
          <th class="text-right">DEBIT</th>
          <th class="text-right">CREDIT</th>
          <th>TYPE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr [style.color]="rec.rowcolor"  *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex" (mousedown)="selectedRowIndex=i">
          <td>{{rec.jvh_reference}}</td>
          <td>{{rec.branch}}</td>
          <td>{{rec.jvh_date}}</td>
          <td>{{rec.jvh_type}}</td>
          <td>{{rec.jvh_vrno}}</td>
          <td>{{rec.jvh_remarks}}</td>
          <td>{{rec.curr_code}}</td>
          <td align='right'>{{rec.jv_exrate | number : '1.2-2'}}</td>
          <td align='right'>{{rec.jv_debit | number : '1.2-2'}}</td>
          <td align='right'>{{rec.jv_credit | number : '1.2-2'}}</td>
          <td>{{rec.reccategory}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<!-- <br /> -->

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

