<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-list">
    <div class="page-search">
      <div class="row">
        <div class="col-3">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">From Date</label>
            <div class="col-8">
              <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">To Date</label>
            <div class="col-8">
              <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group row">
            <label class="col-4  col-form-label col-form-label-sm">Agent</label>
            <div class="col-8">
              <app-autocomplete #CsdLov [inputdata]="AGENTRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
            </div>
          </div>
          <div class="form-group row">
           
            <!-- <div class="col-sm-3">
              <input type="checkbox" [(ngModel)]="detail" (change)="OnChange('detial')">
              <span> Detail</span>
            </div> -->
            <div class="offset-4 col-sm-8">
              <button *ngIf="!all" [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Process
                Report</button>
              <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button>
            </div>
          </div>
        </div>

        <!-- <div class="col-2">
        </div> -->

        <div class="col-4">
          <div class="form-group row">
            <label class="col-12  col-form-label col-form-label-sm">{{AGENTRECORD.name}}</label>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div  class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 280px);">
    <table class="table  table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <!-- <th *ngIf="all">BRANCH</th> -->
          <th>STMT#</th>
          <th>REF#</th>
          <th>DATE</th>
          <th>NAME</th>
          <th>VRNO</th>
          <th>TYPE</th>
          <th>CATEGORY</th>
          <th>CURRENCY</th>
          <th class="text-right">DR</th>
          <th class="text-right">CR</th>   
          <th class="text-right">BALANCE</th>
          <th class="text-right">ALLOC-AMT</th> 
          <th>ALLOC-DATE</th>     
          <th>DAYS</th>
        </tr>
      </thead>

      <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
        <tr [style.color]="rec.rowcolor">
          <!-- <td *ngIf="all">{{rec.branch}}</td> -->
          <td>{{rec.xref_stm_no}}</td>
          <td>{{rec.jvh_reference}}</td>
          <td>{{rec.jvh_date}}</td>
          <td>{{rec.acc_name}}</td>
          <td>{{rec.jvh_vrno}}</td>
          <td>{{rec.jvh_type}}</td>
          <td>{{rec.rec_category}}</td>
          <td>{{rec.jv_curr_code}}</td>
          <td align='right'>{{rec.jv_debit | number : '1.2-2'}}</td>
          <td align='right'>{{rec.jv_credit | number : '1.2-2'}}</td>
          <td align='right'>{{rec.balance | number : '1.2-2'}}</td>
          <td align='right'>{{rec.allocation | number : '1.2-2'}}</td>
          <td>{{rec.xref_crdate}}</td>
          <td align='center'>{{rec.pending}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- <br /> -->

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>