<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div class="page-header">
  <div class="col">
    <button [disabled]="loading" (click)="currentTab='LIST'" class="btn btn-success btn-sm">GST Reports</button>
    <button [disabled]="loading" (click)="currentTab='GSTR2B'" class="btn btn-success btn-sm">GSTR2B</button>
  </div>
</div>


<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-search">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">FromDate</label>
          <div class="col-sm-4">
            <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">To</label>
          <div class="col-sm-4">
            <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Type</label>
          <div class="col-10 input-group input-group-sm">
            <select class="form-control form-control-sm" [(ngModel)]="format_type" (change)="OnChange('format_type')">
              <option [value]="'GSTR1'">GSTR1</option>
              <option [value]="'INVOICE'">INVOICE</option>
              <option [value]="'INVOICE-DETAILS'">INVOICE-DETAILS</option>
              <option [value]="'PURCHASE'">PURCHASE</option>
              <option [value]="'PURCHASE-DETAILS'">PURCHASE-DETAILS</option>
              <option [value]="'PURCHASE-RATE-WISE'">PURCHASE-RATE-WISE</option>
              <option [value]="'FORM 3B'">FORM 3B</option>
              <option [value]="'FORM 3B-RATE WISE'">FORM 3B-RATE WISE</option>
              <option [value]="'DN'">DEBIT NOTE</option>
              <option [value]="'CN'">CREDIT NOTE</option>
              <option [value]="'DI'">INWARD DEBIT NOTE</option>
              <option [value]="'CI-SUMMARY'">INWARD CREDIT NOTE</option>
              <option [value]="'CI'">INWARD CREDIT NOTE DETAILS</option>
              <option [value]="'GSTR2B'">GSTR2B</option>
              <!-- <option [value]="'RECONCILE-PURCHASE'">RECONCILE PURCHASE</option> -->
              <option [value]="'RECONCILE-GSTR2B'">RECONCILE GSTR2B</option>
              <option [value]="'GSTR-3B ITC SUMMARY'">GSTR-3B ITC SUMMARY</option>
              <option [value]="'LEDGER-SUBCODE'">LEDGER SUMMARY SUBCODE WISE</option>
              <option [value]="'LEDGER-MAINCODE'">LEDGER SUMMARY MAINCODE WISE</option>
            </select>
            <div *ngIf="format_type=='PURCHASE'||format_type=='PURCHASE-DETAILS'||format_type=='PURCHASE-RATE-WISE'"
              class="ml-1">
              <input type="checkbox" [(ngModel)]="gst_only" id="_chkgstonly">
              <label class="col-form-label col-form-label-sm" for="_chkgstonly">GST Only</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Search</label>
          <div class="col-10">
            <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
          </div>
        </div>
        <div class=" form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">State</label>
          <div class="col-sm-4">
            <app-autocomplete3
              [disabled]="format_type!='RECONCILE-PURCHASE'&&format_type!='RECONCILE-GSTR2B'&&format_type!='GSTR-3B ITC SUMMARY'"
              [controlname]="'STATE'" [tabletype]="'STATE'" [displaycolumn]="'NAME'"
              [displaydata]="reconcile_state_name" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
          <label class="col-sm-3 col-form-label col-form-label-sm">Round-Off</label>
          <div class="col-sm-3">
            <input type="number" class="col form-control form-control-sm" name="rondnum" [(ngModel)]="round_off" />
          </div>
        </div>

      </div>
      <div class="col-sm-3">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Branch
          </label>
          <div class="col-sm-10">
            <!-- <app-autocomplete [disabled]="!bCompany"  #BrLov [inputdata]="BRRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete> -->
            <app-autocompletemulti #BrLov [disabled]="!bCompany" [controlname]="controlname" [tabletype]="tabletype"
              [subtype]="subtype" [where]="where" [displaycolumn]="'NAME'" [displaydata]="displaydata"
              (ValueChanged)="LovSelected($event)">
            </app-autocompletemulti>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm"></label>
          <div class="col-10">
            <div>
              <input *ngIf="bCompany" type="checkbox" [(ngModel)]="all" (change)="OnChange('all')" id="_chkallbr">
              <label *ngIf="bCompany" class="col-form-label col-form-label-sm" for="_chkallbr"> All
                Branch&nbsp;&nbsp;</label>
              <input *ngIf="format_type=='PURCHASE-RATE-WISE'" type="checkbox" [(ngModel)]="print_new_format"
                id="_chknewformat">
              <label *ngIf="format_type=='PURCHASE-RATE-WISE'" class="col-form-label col-form-label-sm"
                for="_chknewformat">New Format</label>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-3">
        <div class="form-group row">
          <div class="col-12">
            <button [disabled]="loading" (click)="List('GSTR1')" class="btn btn-primary btn-sm mr-1">Generate
              GSTR1</button>
            <button [disabled]="loading" (click)="List('NEW-GSTR1')" class="btn btn-primary btn-sm">New GSTR1</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Process
              Report</button>
            <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button>
            <!-- <button *ngIf="bCompany&&all&&gst_only&&format_type=='PURCHASE'" [disabled]="loading"
              (click)="List('RECONCILE-EXP-DATA')" class="btn btn-primary btn-sm">Reconcile Export Data</button> -->
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="display_format_type=='GSTR1'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th *ngIf="all">BRANCH</th>
            <th>INVOICE#</th>

            <th>DATE</th>
            <th>GSTIN</th>
            <th>CUSTOMER</th>
            <th>TYPE</th>
            <th>SEZ</th>
            <th>PLACE</th>
            <th>GST-TYPE</th>
            <th>GST[Y/N]</th>
            <th>RCM</th>
            <th>INV-TYPE</th>
            <th>ECOM-GSTN</th>
            <th class="text-right">GST%</th>
            <th class="text-right">INV-AMT</th>
            <th class="text-right">TAXABLE-AMT</th>
            <th class="text-right">CESS</th>
            <th class="text-right">CGST-AMT</th>
            <th class="text-right">SGST-AMT</th>
            <th class="text-right">IGST-AMT</th>
            <th class="text-right">GST-AMT</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td *ngIf="all">{{rec.branch}}</td>
            <td>{{rec.jvh_docno}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_gstin}}</td>
            <td>{{rec.jvh_party_name}}</td>
            <td>{{rec.jvh_cc_category}}</td>
            <td>{{rec.jvh_sez}}</td>
            <td>{{rec.jvh_state_name}}</td>
            <td>{{rec.jvh_gst_type}}</td>
            <td>{{rec.jvh_gst}}</td>
            <td>{{rec.rc}}</td>
            <td>{{rec.jvh_invoice_type}}</td>
            <td>{{rec.ecomgstn}}</td>
            <td align='right'>{{ rec.jv_gst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.inv_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.cess | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="display_format_type=='INVOICE'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th *ngIf="all">BRANCH</th>
            <th>INVOICE#</th>
            <th>DATE</th>
            <th>EINV-STATUS</th>
            <th>ACK-NO</th>
            <th>ACK-DATE</th>
            <th>GSTIN</th>
            <th>CUSTOMER</th>
            <th>TYPE</th>
            <th>SEZ</th>
            <th>PLACE</th>
            <th>GST-TYPE</th>
            <th>GST[Y/N]</th>
            <th>RCM</th>
            <th>INV-TYPE</th>
            <th>EXP-INV</th>
            <th class="text-right">INV-AMT</th>
            <th class="text-right">TAXABLE-AMT</th>
            <th class="text-right">CGST-AMT</th>
            <th class="text-right">SGST-AMT</th>
            <th class="text-right">IGST-AMT</th>
            <th class="text-right">GST-AMT</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td *ngIf="all">{{rec.branch}}</td>
            <td>{{rec.jvh_docno}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_einv_status}}</td>
            <td>{{rec.ack_no}}</td>
            <td>{{rec.ack_date}}</td>
            <td>{{rec.jvh_gstin}}</td>
            <td>{{rec.jvh_party_name}}</td>
            <td>{{rec.jvh_cc_category}}</td>
            <td>{{rec.jvh_sez}}</td>
            <td>{{rec.jvh_state_name}}</td>
            <td>{{rec.jvh_gst_type}}</td>
            <td>{{rec.jvh_gst}}</td>
            <td>{{rec.rc}}</td>
            <td>{{rec.jvh_invoice_type}}</td>
            <td>{{rec.jvh_is_export}}</td>
            <td align='right'>{{ rec.jv_net_total | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="display_format_type=='INVOICE-DETAILS'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th *ngIf="all">BRANCH</th>
            <th>INVOICE#</th>
            <th>DATE</th>
            <th>EINV-STATUS</th>
            <th>ACK-NO</th>
            <th>ACK-DATE</th>
            <th>GSTIN</th>
            <th>CUSTOMER</th>
            <th>TYPE</th>
            <th>SEZ</th>
            <th>PLACE</th>
            <th>GST-TYPE</th>
            <th>GST[Y/N]</th>
            <th>RCM</th>
            <th>INV-TYPE</th>
            <th>EXP-INV</th>
            <th>SAC-CODE</th>
            <th>ACC-CODE</th>
            <th>ACC-NAME</th>
            <th class="text-right">INV-AMT</th>
            <th class="text-right">TAXABLE-AMT</th>
            <th class="text-right">CGST%</th>
            <th class="text-right">CGST-AMT</th>
            <th class="text-right">SGST%</th>
            <th class="text-right">SGST-AMT</th>
            <th class="text-right">IGST%</th>
            <th class="text-right">IGST-AMT</th>
            <th class="text-right">GST%</th>
            <th class="text-right">GST-AMT</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td *ngIf="all">{{rec.branch}}</td>
            <td>{{rec.jvh_docno}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_einv_status}}</td>
            <td>{{rec.ack_no}}</td>
            <td>{{rec.ack_date}}</td>
            <td>{{rec.jvh_gstin}}</td>
            <td>{{rec.jvh_party_name}}</td>
            <td>{{rec.jvh_cc_category}}</td>
            <td>{{rec.jvh_sez}}</td>
            <td>{{rec.jvh_state_name}}</td>
            <td>{{rec.jvh_gst_type}}</td>
            <td>{{rec.jvh_gst}}</td>
            <td>{{rec.rc}}</td>
            <td>{{rec.jvh_invoice_type}}</td>
            <td>{{rec.jvh_is_export}}</td>
            <td>{{rec.jv_sac_code}}</td>
            <td>{{rec.jv_acc_code}}</td>
            <td>{{rec.jv_acc_name}}</td>
            <td align='right'>{{ rec.jv_net_total | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="display_format_type=='PURCHASE'||display_format_type=='PURCHASE-RATE-WISE'"
      class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 310px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th *ngIf="all">BRANCH</th>
            <th>OUR-REF#</th>
            <th>DATE</th>
            <th>REF#</th>
            <th>DATE</th>
            <th>SUP-INV#</th>
            <th>DATE</th>
            <th>GSTIN</th>
            <th>CUSTOMER</th>
            <th>TYPE</th>
            <th>SEZ</th>
            <th>PLACE</th>
            <th>GST-TYPE</th>
            <th>GST[Y/N]</th>
            <th>RC[Y/N]</th>
            <th>INV-TYPE</th>
            <th class="text-right">INV-AMT</th>
            <th *ngIf="display_format_type=='PURCHASE-RATE-WISE'" class="text-right">RATE</th>
            <th class="text-right">TAXABLE-AMT</th>
            <th class="text-right">CGST-AMT</th>
            <th class="text-right">SGST-AMT</th>
            <th class="text-right">IGST-AMT</th>
            <th class="text-right">GST-AMT</th>
            <th>GST-RET-STATUS</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td *ngIf="all">{{rec.branch}}</td>
            <td>{{rec.jvh_docno}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_reference}}</td>
            <td>{{rec.jvh_reference_date}}</td>
            <td>{{rec.jvh_org_invno}}</td>
            <td>{{rec.jvh_org_invdt}}</td>
            <td>{{rec.jvh_gstin}}</td>
            <td>{{rec.jvh_party_name}}</td>
            <td>{{rec.jvh_cc_category}}</td>
            <td>{{rec.jvh_sez}}</td>
            <td>{{rec.jvh_state_name}}</td>
            <td>{{rec.jvh_gst_type}}</td>
            <td>{{rec.jvh_gst}}</td>
            <td>{{rec.rc}}</td>
            <td>{{rec.jvh_invoice_type}}</td>
            <td align='right'>{{ rec.jv_net_total | number : '1.2-2' }}</td>
            <td *ngIf="display_format_type=='PURCHASE-RATE-WISE'" align='right'>{{ rec.jv_gst_rate | number : '1.2-2' }}
            </td>
            <td align='right'>{{ rec.jv_taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
            <td>{{rec.jvh_gst_ret_status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="display_format_type=='PURCHASE-DETAILS'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th *ngIf="all">BRANCH</th>
            <th>OUR-REF#</th>
            <th>DATE</th>
            <th>TYPE</th>
            <th>REF#</th>
            <th>DATE</th>
            <th>SUP-INV#</th>
            <th>DATE</th>
            <th>GSTIN</th>
            <th>CUSTOMER</th>
            <th>CC-TYPE</th>
            <th>SEZ</th>
            <th>PLACE</th>
            <th>GST-TYPE</th>
            <th>GST[Y/N]</th>
            <th>RC[Y/N]</th>
            <th>INV-TYPE</th>
            <th>SAC-CODE</th>
            <th>ACC-CODE</th>
            <th>ACC-NAME</th>
            <th class="text-right">INV-AMT</th>
            <th class="text-right">TAXABLE-AMT</th>
            <th class="text-right">CGST%</th>
            <th class="text-right">CGST-AMT</th>
            <th class="text-right">SGST%</th>
            <th class="text-right">SGST-AMT</th>
            <th class="text-right">IGST%</th>
            <th class="text-right">IGST-AMT</th>
            <th class="text-right">GST%</th>
            <th class="text-right">GST-AMT</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td *ngIf="all">{{rec.branch}}</td>
            <td>{{rec.jvh_docno}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_type}}</td>
            <td>{{rec.jvh_reference}}</td>
            <td>{{rec.jvh_reference_date}}</td>
            <td>{{rec.jvh_org_invno}}</td>
            <td>{{rec.jvh_org_invdt}}</td>
            <td>{{rec.jvh_gstin}}</td>
            <td>{{rec.jvh_party_name}}</td>
            <td>{{rec.jvh_cc_category}}</td>
            <td>{{rec.jvh_sez}}</td>
            <td>{{rec.jvh_state_name}}</td>
            <td>{{rec.jvh_gst_type}}</td>
            <td>{{rec.jvh_gst}}</td>
            <td>{{rec.rc}}</td>
            <td>{{rec.jvh_invoice_type}}</td>
            <td>{{rec.jv_sac_code}}</td>
            <td>{{rec.jv_acc_code}}</td>
            <td>{{rec.jv_acc_name}}</td>
            <td align='right'>{{ rec.jv_net_total | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>




    <div *ngIf="display_format_type=='FORM 3B'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th>DESCRIPTION</th>
            <th>STATE</th>
            <th class="text-right">TAXABLE</th>
            <th class="text-right">CGST</th>
            <th class="text-right">SGST</th>
            <th class="text-right">IGST</th>
            <th class="text-right">TOTAL</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td>{{rec.jvh_gst_type}}</td>
            <td>{{rec.jvh_state_name}}</td>
            <td align='right'>{{ rec.jv_taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="display_format_type=='FORM 3B-RATE WISE'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th>DESCRIPTION</th>
            <th>STATE</th>
            <th class="text-right">TAXABLE</th>
            <th class="text-right">RATE</th>
            <th class="text-right">CGST</th>
            <th class="text-right">SGST</th>
            <th class="text-right">IGST</th>
            <th class="text-right">TOTAL</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td>{{rec.jvh_gst_type}}</td>
            <td>{{rec.jvh_state_name}}</td>
            <td align='right'>{{ rec.jv_taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="display_format_type=='DN'||display_format_type=='CN'||display_format_type=='DI'||display_format_type=='CI'||display_format_type=='CI-SUMMARY'"
      class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 310px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th *ngIf="all">BRANCH</th>
            <th>VRNO</th>
            <th>DATE</th>
            <th>REF#</th>
            <th>REF.DATE</th>
            <th>ORG.INV#</th>
            <th>ORG.DATE</th>
            <th>EINV-STATUS</th>
            <th>ACK-NO</th>
            <th>ACK-DATE</th>
            <th>GSTIN</th>
            <th>CUSTOMER</th>
            <th>TYPE</th>
            <th>SEZ</th>
            <th>PLACE</th>
            <th>GST-TYPE</th>
            <th>GST[Y/N]</th>
            <th>RCM</th>
            <!-- <th>INV-TYPE</th> -->
            <th>SAC-CODE</th>
            <th>ACC-CODE</th>
            <th>ACC-NAME</th>
            <th class="text-right">AMT</th>
            <th class="text-right">TAXABLE-AMT</th>
            <th class="text-right">CGST%</th>
            <th class="text-right">CGST-AMT</th>
            <th class="text-right">SGST%</th>
            <th class="text-right">SGST-AMT</th>
            <th class="text-right">IGST%</th>
            <th class="text-right">IGST-AMT</th>
            <th class="text-right">GST%</th>
            <th class="text-right">GST-AMT</th>
            <th>GST-RET-STATUS</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td *ngIf="all">{{rec.branch}}</td>
            <td>{{rec.jvh_docno}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_reference}}</td>
            <td>{{rec.jvh_reference_date}}</td>
            <td>{{rec.jvh_org_invno}}</td>
            <td>{{rec.jvh_org_invdt}}</td>
            <td>{{rec.jvh_einv_status}}</td>
            <td>{{rec.ack_no}}</td>
            <td>{{rec.ack_date}}</td>
            <td>{{rec.jvh_gstin}}</td>
            <td>{{rec.jvh_party_name}}</td>
            <td>{{rec.jvh_cc_category}}</td>
            <td>{{rec.jvh_sez}}</td>
            <td>{{rec.jvh_state_name}}</td>
            <td>{{rec.jvh_gst_type}}</td>
            <td>{{rec.jvh_gst}}</td>
            <td>{{rec.rc}}</td>
            <!-- <td>{{rec.jvh_invoice_type}}</td> -->
            <td>{{rec.jv_sac_code}}</td>
            <td>{{rec.jv_acc_code}}</td>
            <td>{{rec.jv_acc_name}}</td>
            <td align='right'>{{ rec.jv_net_total | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_rate | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
            <td>{{rec.jvh_gst_ret_status}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="display_format_type=='GSTR2B'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th>TYPE</th>
            <th>GSTIN</th>
            <th>CGSTIN</th>
            <th>CUSTOMER</th>
            <th>POS</th>
            <th>INV#</th>
            <th>DATE</th>
            <th class="text-right">INV-AMT</th>
            <th class="text-right">TAXABLE-AMT</th>
            <th class="text-right">CGST</th>
            <th class="text-right">SGST</th>
            <th class="text-right">IGST</th>
            <th class="text-right">CESS</th>
            <th class="text-right">TOT</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td>{{rec.jvh_type}}</td>
            <td>{{rec.jvh_gstin}}</td>
            <td>{{rec.jvh_reference}}</td>
            <td>{{rec.jvh_party_name}}</td>
            <td>{{rec.jvh_state_code}}</td>
            <td>{{rec.jvh_docno}}</td>
            <td>{{rec.jvh_date}}</td>
            <td align='right'>{{ rec.jvh_tot_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_taxable_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_sgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_cess_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.jv_gst_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="display_format_type=='RECONCILE-PURCHASE'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <!-- <th>STATUS</th> -->
            <th>ID</th>
            <th>GSTIN</th>
            <th>CUSTOMER</th>
            <th>PERIOD</th>
            <th>INV#</th>
            <th>INV.DATE</th>
            <th>REF.DATE</th>
            <th>RCM</th>
            <th>COUNT</th>
            <th class="text-right">INV.AMT</th>
            <th class="text-right">TAXABLE.AMT</th>
            <th class="text-right">RATE</th>
            <th class="text-right">IGST</th>
            <th class="text-right">CGST</th>
            <th class="text-right">SGST</th>
            <th>G-ID</th>
            <th>G-GSTIN</th>
            <th>G-CUSTOMER</th>
            <th>G-PERIOD</th>
            <th>G-INV#</th>
            <th>G-INV.DATE</th>
            <th>G-REF.DATE</th>
            <th>G-RC</th>
            <th class="text-right">G-INV.AMT</th>
            <th class="text-right">G-TAXABLE.AMT</th>
            <th class="text-right">G-RATE</th>
            <th class="text-right">G-IGST</th>
            <th class="text-right">G-CGST</th>
            <th class="text-right">G-SGST</th>
            <th>MATCH-GST.AMT</th>
            <th>MATCH-PERIOD</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList2">
          <tr>
            <!-- <td>{{rec.reconcile_status}}</td> -->
            <td>{{rec.p_match_id}}</td>
            <td>{{rec.p_gstin_supplier}}</td>
            <td>{{rec.p_customer}}</td>
            <td>{{rec.p_gstr1_period}}</td>
            <td>{{rec.p_invoice_number}}</td>
            <td>{{rec.p_invoice_date}}</td>
            <td>{{rec.p_invoice_ref_date}}</td>
            <td>{{rec.p_reverse_charge}}</td>
            <td>{{rec.tot_rows}}</td>
            <td class="text-right">{{ rec.p_invoice_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_taxable_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_rate | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_igst_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_cgst_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_sgst_amt | number : '1.2-2' }}</td>
            <td>{{rec.g_match_id}}</td>
            <td>{{rec.g_gstin_supplier}}</td>
            <td>{{rec.g_customer}}</td>
            <td>{{rec.g_gstr1_period}}</td>
            <td>{{rec.g_invoice_number}}</td>
            <td>{{rec.g_invoice_date}}</td>
            <td>{{rec.g_invoice_ref_date}}</td>
            <td>{{rec.g_reverse_charge}}</td>
            <td class="text-right">{{ rec.g_invoice_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_taxable_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_rate | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_igst_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_cgst_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_sgst_amt | number : '1.2-2' }}</td>
            <td>{{rec.match_gst}}</td>
            <td>{{rec.match_period}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="display_format_type=='RECONCILE-GSTR2B'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <!-- <th>STATUS</th> -->
            <th>G-ID</th>
            <th>G-GSTIN</th>
            <th>G-CUSTOMER</th>
            <th>G-PERIOD</th>
            <th>G-INV#</th>
            <th>G-INV.DATE</th>
            <th>G-REF.DATE</th>
            <th>G-RC</th>
            <th class="text-right">G-INV.AMT</th>
            <th class="text-right">G-TAXABLE.AMT</th>
            <th class="text-right">G-RATE</th>
            <th class="text-right">G-IGST</th>
            <th class="text-right">G-CGST</th>
            <th class="text-right">G-SGST</th>
            <th>ID</th>
            <th>GSTIN</th>
            <th>CUSTOMER</th>
            <th>PERIOD</th>
            <th>INV#</th>
            <th>INV.DATE</th>
            <th>REF.DATE</th>
            <th>RCM</th>
            <th>COUNT</th>
            <th class="text-right">INV.AMT</th>
            <th class="text-right">TAXABLE.AMT</th>
            <th class="text-right">RATE</th>
            <th class="text-right">IGST</th>
            <th class="text-right">CGST</th>
            <th class="text-right">SGST</th>
            <th>MATCH-GST.AMT</th>
            <th>MATCH-PERIOD</th>
            <th>REF#</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList2">
          <tr>
            <!-- <td>{{rec.reconcile_status}}</td> -->
            <td>{{rec.g_match_id}}</td>
            <td>{{rec.g_gstin_supplier}}</td>
            <td>{{rec.g_customer}}</td>
            <td>{{rec.g_gstr1_period}}</td>
            <td>{{rec.g_invoice_number}}</td>
            <td>{{rec.g_invoice_date}}</td>
            <td>{{rec.g_invoice_ref_date}}</td>
            <td>{{rec.g_reverse_charge}}</td>
            <td class="text-right">{{ rec.g_invoice_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_taxable_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_rate | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_igst_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_cgst_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.g_sgst_amt | number : '1.2-2' }}</td>
            <td>{{rec.p_match_id}}</td>
            <td>{{rec.p_gstin_supplier}}</td>
            <td>{{rec.p_customer}}</td>
            <td>{{rec.p_gstr1_period}}</td>
            <td>{{rec.p_invoice_number}}</td>
            <td>{{rec.p_invoice_date}}</td>
            <td>{{rec.p_invoice_ref_date}}</td>
            <td>{{rec.p_reverse_charge}}</td>
            <td>{{rec.tot_rows}}</td>
            <td class="text-right">{{ rec.p_invoice_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_taxable_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_rate | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_igst_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_cgst_amt | number : '1.2-2' }}</td>
            <td class="text-right">{{ rec.p_sgst_amt | number : '1.2-2' }}</td>
            <td>{{rec.match_gst}}</td>
            <td>{{rec.match_period}}</td>
            <td>{{rec.doc_vrno}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="display_format_type=='GSTR-3B ITC SUMMARY'" class="page-body table-responsive fixedTableHead my-0 p-0"
      style="height: calc(100vh - 310px);">
      <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th>DESCRIPTION</th>
            <th class="text-right">IGST</th>
            <th class="text-right">CGST</th>
            <th class="text-right">SGST</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList2">
          <tr>
            <td>{{rec.reason}}</td>
            <td align='right'>{{ rec.g_igst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.g_cgst_amt | number : '1.2-2' }}</td>
            <td align='right'>{{ rec.g_sgst_amt | number : '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="currentTab=='GSTR2B'" class="page-list p-2">
  <h5>GSTR2B Processing</h5>

  <div class="row">
    <div class="col-md-4">

      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">State</label>
        <div class="col-6">
          <app-autocomplete3 [controlname]="'STATE'" [tabletype]="'STATE'" [displaycolumn]="'NAME'"
            [displaydata]="state_name" (ValueChanged)="LovSelected2($event)">
          </app-autocomplete3>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">Return Period(MMYYYY)</label>
        <div class="col-6">
          <input type="text" class="col form-control form-control-sm" [(ngModel)]="retn_period" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">OTP</label>
        <div class="col-6">
          <input type="text" class="col form-control form-control-sm" [(ngModel)]="otp" />
        </div>
      </div>



      <div class="form-group row mt-1">
        <label class="col-6 col-form-label col-form-label-sm"></label>
        <div class="col-3">
          <button [disabled]="loading" (click)="ProcessGstr2B('GSTR-2B')" class="btn btn-primary btn-sm">Process</button>
        </div>
        <div class="col-3">
          <button [disabled]="loading" (click)="ProcessGstr2B('OTP')" class="btn btn-primary btn-sm">Generate
            OTP</button>
        </div>
      </div>



    </div>
  </div>

</div>

<!-- <br /> -->


<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>