<div class="page-header">
    <div class="col">
      <label>{{title}}</label>
      <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
      <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
    <div class="page-search">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label-sm">Date</label>
            <div class="col-sm-4">
              <!-- <input type="text" class="col form-control form-control-sm" (blur)="onLostFocus('search')" (change)="OnChange('search')" (focus)="OnFocus('search')" [(ngModel)]="searchstring" /> -->
            </div>
            <div class="col-sm-2">
              <!--<button [disabled]="loading" (click)="SearchRecord('opr_job_id')" class="btn btn-primary btn-sm">Search</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <br />
  <App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
  <div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
  </div>
  <div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
  </div>
  
  