<div *ngIf="record.download_source=='PURCHASE'">
    <label class="col-3 col-form-label col-form-label-sm">Type&nbsp;:&nbsp;<font color="red">{{SearchData.jvh_type}}
        </font>&nbsp;&nbsp;Branch:&nbsp;<font color="red">{{SearchData.jvh_branch}}</font></label>
    <!-- <label class="col-2 col-form-label col-form-label-sm"></label> -->
    <label class="col-3 col-form-label col-form-label-sm">Vr.No:&nbsp;<font color="red">{{SearchData.jvh_vrno}}</font>
        &nbsp;&nbsp;Date:&nbsp;<font color="red">{{SearchData.jvh_date}}</font></label>
    <!-- <label class="col-2 col-form-label col-form-label-sm"></label> -->
    <label class="col-5 col-form-label col-form-label-sm">Party:&nbsp;<font color="red">{{SearchData.jvh_party_name}}
        </font></label>
    <div class="page-details">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group row">
                    <label class="col-2 col-form-label  col-form-label-sm">Ref.No</label>
                    <div class="col-4">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="SearchData.jvh_reference"
                            required maxlength="50" />
                    </div>
                    <label class="col-2 col-form-label col-form-label-sm">Ref.Date</label>
                    <div class="col-4">
                        <app-date [inputdate]="SearchData.jvh_reference_date"
                            (ValueChanged)="SearchData.jvh_reference_date=$event">
                        </app-date>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group row">
                    <label class="col-2 col-form-label  col-form-label-sm">Org.Inv#</label>
                    <div class="col-4">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="SearchData.jvh_org_invno"
                            maxlength="50" />
                    </div>
                    <label class="col-2 col-form-label col-form-label-sm">Org.Inv.Date</label>
                    <div class="col-4">
                        <app-date [inputdate]="SearchData.jvh_org_invdt"
                            (ValueChanged)="SearchData.jvh_org_invdt=$event"></app-date>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm">Update</button>
                        <button [disabled]="loading" (click)="Close()" class="btn btn-primary btn-sm">Close</button>
                        <i *ngIf="loading" class="fa fa-spinner"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="record.download_source=='GSTR-2B'">
    <div class="page-details">
        <div *ngIf="record.integrated_tax>0" class="row">
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label  col-form-label-sm">IGST</label>
                    <div class="col-4">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="record.integrated_tax"
                            required maxlength="50" />
                    </div>
                    <label class="col-2 col-form-label  col-form-label-sm">Balance</label>
                    <div class="col-4">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="SearchData.jvh_org_invno"
                            maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm">Update</button>
                        <button [disabled]="loading" (click)="Close()" class="btn btn-primary btn-sm">Close</button>
                        <i *ngIf="loading" class="fa fa-spinner"></i>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="record.integrated_tax<=0" class="row">
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label  col-form-label-sm">CGST</label>
                    <div class="col-4">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="record.central_tax"
                            required maxlength="50" />
                    </div>
                    <label class="col-2 col-form-label  col-form-label-sm">SGST</label>
                    <div class="col-4">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="record.state_ut_tax"
                            maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label  col-form-label-sm">Balance</label>
                    <div class="col-4">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="SearchData.jvh_org_invno"
                            maxlength="50" />
                    </div>
                    <div class="offset-sm-2 col-sm-4">
                        <button [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm">Update</button>
                        <button [disabled]="loading" (click)="Close()" class="btn btn-primary btn-sm">Close</button>
                        <i *ngIf="loading" class="fa fa-spinner"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>