<div class="page-list">
    <div class="page-search">
        <div class="row">
            <div class="col-sm-3">
                <div class=" form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">State</label>
                    <div class="col-sm-8">
                        <app-autocomplete3 [controlname]="'STATE'" [tabletype]="'STATE'" [displaycolumn]="'NAME'"
                            [displaydata]="gs.defaultValues.gst_recon_itc_state_name"
                            (ValueChanged)="LovSelected($event)">
                        </app-autocomplete3>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Year</label>
                    <div class="col-sm-3">
                        <input type="text" class="col form-control form-control-sm"
                            [(ngModel)]="gs.defaultValues.gst_recon_itc_year" required maxlength="4" />
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm">Month</label>
                    <div class="col-sm-3">
                        <input type="text" class="col form-control form-control-sm"
                            [(ngModel)]="gs.defaultValues.gst_recon_itc_month" required maxlength="2" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class=" form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Status</label>
                    <div class="col-8 input-group input-group-sm">
                        <select class="form-control form-control-sm" [(ngModel)]="gs.defaultValues.gst_recon_itc_status"
                            (change)="OnChange('format_type')">
                            <!-- <option [value]="'PENDING'">PENDING</option> -->
                            <!-- <option [value]="'ITC AVAILED'">ITC AVAILED</option> -->
                            <option [value]="'MATCHED'">MATCHED</option>
                            <option [value]="'ALMOST MATCHED'">ALMOST MATCHED</option>
                            <option [value]="'MISMATCHED (GST AMOUNT)'">MISMATCHED (GST AMOUNT)</option>
                            <option [value]="'MISMATCHED (PERIOD)'">MISMATCHED (PERIOD)</option>
                            <option [value]="'OTHERS'">MISMATCH (IN GSTR2B AND PURCHASE)</option>
                            <option [value]="'IN GSTR2B ONLY'">IN GSTR2B ONLY</option>
                            <option [value]="'IN PURCHASE ONLY'">IN PURCHASE ONLY</option>
                            <!-- <option [value]="'ALMOST MATCHED'">REJECTED</option> -->
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label col-form-label-sm">Search</label>
                    <div class="col-8">
                        <input type="text" class="col form-control form-control-sm" name="Search"
                            (blur)="OnBlur('searchstring')" [(ngModel)]="searchstring" />
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-3">
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm"></label>
                    <div class="col-10">
                        <div>
                            <input type="checkbox"
                                [(ngModel)]="chk_pending" id="_chkpending">
                            <label class="col-form-label col-form-label-sm"
                                for="_chkpending">Pending</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Type</label>
                    <div class="col-10 input-group input-group-sm">
                        <select class="form-control form-control-sm" [(ngModel)]="format_type"
                            (change)="OnChange('format_type')">
                            <option [value]="'RECONCILE-GSTR2B'">RECONCILE GSTR2B</option>
                        </select>
                    </div>
                </div>

            </div> -->
            <div class="col-sm-3">

                <div class="form-group row">
                    <div class="col-12">
                        <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Search
                        </button>
                        <!-- <button [disabled]="loading" (click)="List('EXCEL')"
                            class="btn btn-primary btn-sm">Excel</button> -->

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class=" form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Claim Status</label>
                    <div class="col-8 input-group input-group-sm">
                        <select class="form-control form-control-sm" [(ngModel)]="gs.defaultValues.gst_recon_itc_claim_status">
                            <option [value]="'OP'">OP</option>
                            <option [value]="'ITC AVAILED'">ITC AVAILED</option>
                            <option [value]="'PENDING'">PENDING</option>
                            <option [value]="'REJECTED'">REJECTED</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <button [disabled]="loading" (click)="UpdateItcClaim()" class="btn btn-primary btn-sm mr-1">Update
                        </button>
                        <!-- <button [disabled]="loading" (click)="List('EXCEL')"
                            class="btn btn-primary btn-sm">Excel</button> -->

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 310px);">
        <table class="table table-hover table-sm table-bordered table-striped">
            <thead class="page-body-thead">
                <tr>
                    <th><input type="checkbox" (click)="SelectDeselect()" [(ngModel)]="chkallselected"></th>
                    <th>STATUS</th>
                    <th>CLAIM STATUS</th>
                    <th>SOURCE</th>
                    <th>SUPPLIER GSTIN</th>
                    <th>SUPPLIER NAME</th>
                    <th>PERIOD</th>
                    <th>TYPE</th>
                    <th>INV#</th>
                    <th>INVDATE</th>
                    <th class="text-right">INV.AMT</th>
                    <th class="text-right">TAXABLE.AMT</th>
                    <th class="text-right">IGST</th>
                    <th class="text-right">CGST</th>
                    <th class="text-right">SGST</th>
                    <th class="text-right">DIFF</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
                    (mousedown)="selectedRowIndex=i" [style.color]="rec.row_color">
                    <td><input type="checkbox" [(ngModel)]="rec.rec_selected"></td>
                    <td>{{rec.reconcile_status}}</td>
                    <td>{{rec.claim_status}}</td>
                    <td>{{rec.download_source}}</td>
                    <td>{{rec.gstin_supplier}}</td>
                    <td>{{rec.supplier_name}}</td>
                    <td>{{rec.gstr1_period}}</td>
                    <td>{{rec.download_type}}</td>
                    <td>{{rec.invoice_number}}</td>
                    <td>{{rec.invoice_date}}</td>
                    <td class="text-right">{{ rec.invoice_value | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.taxable_value | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.integrated_tax | number : '1.2-2'}}</td>
                    <td class="text-right">{{ rec.central_tax | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.state_ut_tax | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.gst_diff | number : '1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ErrorMessage" class="alert alert-danger">
        {{ErrorMessage}}
    </div>
</div>