<div class="page-header">
    <div class="col">
        <label>{{title}}</label>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
</div>
<hr />
<ngb-tabset>
    <ngb-tab title="{{type === 'GSTR-2B' ? 'Recon-2B' : 'Recon-2A'}}">
        <ng-template ngbTabContent>
            <div class="page-list">
                <div class="page-search">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">State</label>
                                <div class="col-sm-8">
                                    <app-autocomplete3 [controlname]="'STATE'" [tabletype]="'STATE'"
                                        [displaycolumn]="'NAME'" [displaydata]="mainService.state.gst_recon_state_name"
                                        (ValueChanged)="LovSelected($event)" [disabled]="!bCompany">
                                    </app-autocomplete3>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">Year</label>
                                <div class="col-sm-3">
                                    <input type="text" class="col form-control form-control-sm"
                                        [(ngModel)]="mainService.state.gst_recon_year" required maxlength="4" />
                                </div>
                                <label class="col-sm-2 col-form-label col-form-label-sm">Month</label>
                                <div class="col-sm-3">
                                    <select class="form-control form-control-sm"
                                        [(ngModel)]="mainService.state.gst_recon_month">
                                        <option *ngFor="let rec of MonList" [value]="rec.id">{{rec.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">Round-Off</label>
                                <div class="col-sm-4">
                                    <input type="number" disabled class="col form-control form-control-sm"
                                        name="rondnum" [(ngModel)]="mainService.state.gst_recon_round_off" required
                                        maxlength="6" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">Search</label>
                                <div class="col-sm-8">
                                    <input type="text" class="col form-control form-control-sm" name="Search"
                                        (blur)="OnBlur('searchstring')"
                                        [(ngModel)]="mainService.state.gst_recon_searchstring" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group row">
                                <div class="col-12">
                                    <button [disabled]="loading" (click)="List('SCREEN')"
                                        class="btn btn-primary btn-sm mr-1">Search
                                    </button>
                                    <button *ngIf="bPrint" [disabled]="loading" (click)="List('EXCEL')"
                                        class="btn btn-primary btn-sm">Excel</button>
                                    <button *ngIf="bAdmin" [disabled]="loading" (click)="UpdatePurchaseData()"
                                        class="btn btn-primary btn-sm">{{type=='GSTR-2B'?'Update 2B
                                        Data':'Update 2A
                                        Data'}}</button>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <button *ngIf="bOtpSave" [disabled]="loading" (click)="ShowOtp(otpdet)"
                                        class="btn btn-primary btn-sm mt-1">OTP</button>
                                    <button *ngIf="bGstr2Download" [disabled]="loading" (click)="ProcessGstr2B(type)"
                                        class="btn btn-primary btn-sm mt-1">Download&nbsp;{{type}}</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 310px);">
                    <table class="table table-hover table-sm table-bordered table-striped">
                        <thead class="page-body-thead">
                            <tr>
                                <th>SUPPLIER GSTIN</th>
                                <th>SUPPLIER NAME</th>
                                <th>SUPPLIER STATE</th>
                                <th class="text-right">COUNT ({{type}})</th>
                                <th class="text-right">COUNT (PURCHASE)</th>
                                <th class="text-right">TOTAL ({{type}})</th>
                                <th class="text-right">TOTAL (PURCHASE)</th>
                                <th class="text-right">DIFF</th>
                                <th class="text-center">DETAILS</th>
                            </tr>
                        </thead>
                        <tbody class="page-body-tbody">
                            <tr *ngFor="let rec of mainService.state.RecordListReco; let i = index"
                                [class.active]="i == selectedRowIndex" (mousedown)="selectedRowIndex=i">
                                <td>{{rec.gstin_supplier}}</td>
                                <td>{{rec.supplier_name}}</td>
                                <td>{{rec.supplier_state}}</td>
                                <td *ngIf="!rec.gstr2b_count"></td>
                                <td *ngIf="rec.gstr2b_count" class="text-right">{{
                                    rec.gstr2b_count}}({{rec.matched_count}})</td>
                                <td *ngIf="!rec.purchase_count"></td>
                                <td *ngIf="rec.purchase_count" class="text-right">{{
                                    rec.purchase_count}}({{rec.matched_count}})</td>
                                <td class="text-right">{{ rec.tot_gst_gstr2b | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.tot_gst_purchase | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.gst_diff | number : '1.2-2' }}</td>
                                <td style="text-align: center; vertical-align: middle; cursor: pointer;"
                                    (click)="showDetailList(gstrdet,rec.gstin_supplier,rec.download_period,rec.download_state_code)"
                                    class="hlink"><i *ngIf="rec.gstin_supplier!='TOTAL'" class="fa fa-eye fa-lg pointer"
                                        aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="ErrorMessage" class="alert alert-danger">
                    {{ErrorMessage}}
                </div>
            </div>
        </ng-template>

    </ngb-tab>
    <ngb-tab title="Recon-Cr/Note">
        <ng-template ngbTabContent>
            <app-gstreconrep-cdnr [menuid]="menuid" [type]="type" [download_doc_type]="'CREDIT NOTE'"
                [reverse_charge]="'NO'" [bPrint]="bPrint" [bSave]="bSave" [bAdmin]="bAdmin"
                [bCompany]="bCompany"></app-gstreconrep-cdnr>
        </ng-template>

    </ngb-tab>
    <ngb-tab title="Recon-RC">
        <ng-template ngbTabContent>
            <app-gstreconrep-rc [menuid]="menuid" [type]="type" [download_doc_type]="'INVOICE'" [reverse_charge]="'YES'"
                [bPrint]="bPrint" [bSave]="bSave" [bAdmin]="bAdmin" [bCompany]="bCompany"></app-gstreconrep-rc>
        </ng-template>

    </ngb-tab>
    <ngb-tab title="Recon-Amendment">
        <ng-template ngbTabContent>

            <div class="page-list">
                <div class="page-search">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class=" form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">State</label>
                                <div class="col-sm-8">
                                    <app-autocomplete3 [controlname]="'STATE-AMENT'" [tabletype]="'STATE'"
                                        [displaycolumn]="'NAME'"
                                        [displaydata]="mainService.state.gst_recon_ament_state_name"
                                        (ValueChanged)="LovSelected($event)" [disabled]="!bCompany">
                                    </app-autocomplete3>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">Year</label>
                                <div class="col-sm-3">
                                    <input type="text" class="col form-control form-control-sm"
                                        [(ngModel)]="mainService.state.gst_recon_ament_year" required maxlength="4" />
                                </div>
                                <label class="col-sm-2 col-form-label col-form-label-sm">Month</label>
                                <div class="col-sm-3">
                                    <select class="form-control form-control-sm"
                                        [(ngModel)]="mainService.state.gst_recon_ament_month">
                                        <option *ngFor="let rec of MonList" [value]="rec.id">{{rec.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">Search</label>
                                <div class="col-sm-8">
                                    <input type="text" class="col form-control form-control-sm" name="Search"
                                        (blur)="OnBlur('searchstring')"
                                        [(ngModel)]="mainService.state.gst_recon_ament_searchstring" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="form-group row">
                                <div class="col-12">
                                    <button [disabled]="loading" (click)="AmendmentList('SCREEN')"
                                        class="btn btn-primary btn-sm mr-1">Search
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 310px);">
                    <table class="table table-hover table-sm table-bordered table-striped">
                        <thead class="page-body-thead">
                            <tr>
                                <th>SOURCE</th>
                                <th>ORG.INVTYPE</th>
                                <th>ORG.INV#</th>
                                <th>ORG.INVDATE</th>
                                <th>SUPPLIER GSTIN</th>
                                <th>SUPPLIER NAME</th>
                                <th>PERIOD</th>
                                <th>TYPE</th>
                                <th>INV#</th>
                                <th>INVDATE</th>
                                <th>RCM</th>
                                <th>POS</th>
                                <th class="text-right">INV.AMT</th>
                                <th class="text-right">TAXABLE.AMT</th>
                                <th class="text-right">IGST</th>
                                <th class="text-right">CGST</th>
                                <th class="text-right">SGST</th>
                                <th *ngIf="type=='GSTR-2B'">ITC</th>
                            </tr>
                        </thead>
                        <tbody class="page-body-tbody">
                            <tr *ngFor="let rec of mainService.state.RecordListAment; let i = index"
                                [class.active]="i == selectedRowIndex" (mousedown)="selectedRowIndex=i">
                                <td>{{rec.download_source}}</td>
                                <td>{{rec.org_invoice_type}}</td>
                                <td>{{rec.org_invoice_number}}</td>
                                <td>{{rec.org_invoice_date}}</td>
                                <td>{{rec.gstin_supplier}}</td>
                                <td>{{rec.supplier_name}}</td>
                                <td>{{rec.gstr1_period}}</td>
                                <td>{{rec.download_type}}</td>
                                <td>{{rec.invoice_number}}</td>
                                <td>{{rec.invoice_date}}</td>
                                <td>{{rec.reverse_charge}}</td>
                                <td>{{rec.place_supply}}</td>
                                <td class="text-right">{{ rec.invoice_value | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.taxable_value | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.integrated_tax | number : '1.2-2'}}</td>
                                <td class="text-right">{{ rec.central_tax | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.state_ut_tax | number : '1.2-2' }}</td>
                                <td *ngIf="type=='GSTR-2B'">
                                    <input class="pointer" type="checkbox" [(ngModel)]="rec.include_itc"
                                        (change)="OnItcAmendmentChange($event, rec)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="ErrorMessage" class="alert alert-danger">
                    {{ErrorMessage}}
                </div>
            </div>


        </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="type=='GSTR-2B'" title="ITC Claim">
        <ng-template ngbTabContent>
            <app-gstreconrepitc [menuid]="menuid" [type]="type" [bPrint]="bPrint" [bSave]="bSave" [bAdmin]="bAdmin"
                [bCompany]="bCompany" [bAmendment]="bAmendment"></app-gstreconrepitc>
        </ng-template>

    </ngb-tab>
    <ngb-tab title="General Search">
        <ng-template ngbTabContent>
            <app-gstgen-search [menuid]="menuid" [type]="type" [bPrint]="bPrint" [bSave]="bSave" [bAdmin]="bAdmin"
                [bCompany]="bCompany"></app-gstgen-search>
        </ng-template>

    </ngb-tab>
</ngb-tabset>
<ng-template #gstrdet let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Reconcile Details&nbsp;({{type}})</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-gstreconrepdet [type]="type" [gstinsupplier]="gstin_supplier" [period]="period" [state_code]="state_code"
            [download_doc_type]="download_doc_type" [reverse_charge]="'NO'"></app-gstreconrepdet>
    </div>
</ng-template>

<ng-template #otpdet let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">OTP&nbsp;({{type}})</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-otp [type]="type" [retperiod]="retperiod" [bSave]="true"></app-otp>
    </div>
</ng-template>