<div class="page-header">
  <div class="col-sm">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>


<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-list">
    <div class="page-search">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">From</label>
            <div class="col-sm-4">
              <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
            </div>
            <label class="col-sm-2 col-form-label col-form-label-sm">To</label>
            <div class="col-sm-4">
              <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Master#</label>
            <div class="col-sm-10">
              <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="mblno"
                (blur)="OnBlur('mblno')" />
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label  col-form-label-sm">Code</label>
            <div class="col-sm-8">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="code" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label  col-form-label-sm"></label>
            <div class="col-sm-4">
              <input type="checkbox" [(ngModel)]="main_code" id="chkmc">
              <label for="chkmc"> Main Code</label>
            </div>
            <div class="col-sm-4">
              <input type="checkbox" disabled [(ngModel)]="format2" id="chkfrmt">
              <label for="chkfrmt">Format-2</label>
            </div>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm"></label>
            <div class="col-sm-10">
              <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm mr-1">Process
                Report</button>
              <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm mr-1">Excel</button>
              <button [disabled]="loading" (click)="List('EXP-BOOKING-EXCEL')" class="btn btn-primary btn-sm">Booking
                Excel</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm"></label>
            <div class="col-sm-10">
              <input type="checkbox" [disabled]="!isSingleCode"  [(ngModel)]="pendingOnly" id="chkponly">
              <label for="chkponly">Show pending only</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isclr">

    <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 290px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th>{{ (isimp) ? 'SI#' : 'JOB#' }}</th>
            <th>DATE</th>
            <th>TYPE</th>
            <th>VRNO</th>
            <th>CATEGORY</th>
            <th *ngIf="isSingleCode">CLOSED</th>

            <th class="text-right">DEBIT</th>
            <th class="text-right">CREDIT</th>
            <th class="text-right">BALANCE</th>

            <th>CUSTOMER</th>
            <th>SMAN</th>
            <th>GRWT</th>
            <th>CHWT</th>
            <th>TEU</th>
            <th>CBM</th>
            <th *ngIf="coldr0" class="text-right">{{coldr0}}</th>
            <th *ngIf="colcr0" class="text-right">{{colcr0}}</th>

            <th *ngIf="coldr1" class="text-right">{{coldr1}}</th>
            <th *ngIf="colcr1" class="text-right">{{colcr1}}</th>

            <th *ngIf="coldr2" class="text-right">{{coldr2}}</th>
            <th *ngIf="colcr2" class="text-right">{{colcr2}}</th>
            <th>NARRATION</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of getFilteredRecords()">
          <tr [style.color]="rec.row_colour">
            <td>{{rec.mbl_no}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_type}}</td>
            <td>{{rec.jvh_vrno}}</td>
            <td>{{rec.hbl_type}}</td>

            <td *ngIf="isSingleCode" class="hlink p-0" style="text-align: center;" (click)="ChangeReconStatus(rec)">
              <button *ngIf="rec.recon_closed"  class="btn btn-info btn-sm" >{{rec.recon_closed}}</button>
            </td>

            <td align='right'>{{rec.jv_debit | number : '1.2-2'}}</td>
            <td align='right'>{{rec.jv_credit | number : '1.2-2'}}</td>
            <td align='right'>{{rec.jv_balance | number : '1.2-2'}}</td>

            <td>{{rec.cust_name}}</td>
            <td>{{rec.sman_name}}</td>
            <td>{{rec.grwt}}</td>
            <td>{{rec.ntwt}}</td>
            <td>{{rec.teu}}</td>
            <td>{{rec.cbm}}</td>

            <td *ngIf="coldr0" align='right'>{{rec.coldr0 | number : '1.2-2'}}</td>
            <td *ngIf="colcr0" align='right'>{{rec.colcr0 | number : '1.2-2'}}</td>

            <td *ngIf="coldr1" align='right'>{{rec.coldr1 | number : '1.2-2'}}</td>
            <td *ngIf="colcr1" align='right'>{{rec.colcr1 | number : '1.2-2'}}</td>

            <td *ngIf="coldr2" align='right'>{{rec.coldr2 | number : '1.2-2'}}</td>
            <td *ngIf="colcr2" align='right'>{{rec.colcr2 | number : '1.2-2'}}</td>
            <td>{{rec.jvh_narration}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div *ngIf="!isclr">


    <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 290px);">
      <table class="table  table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th>MBLSL#</th>
            <th>MBLNO</th>
            <th>BOOKING#</th>
            <th>DATE</th>
            <th>TYPE</th>
            <th>VRNO</th>
            <th>CATEGORY</th>
            <th *ngIf="isSingleCode">CLOSED</th>
            <th>M-STATUS</th>
            <th>H-STATUS</th>

            <th>CUSTOMER</th>
            <th>SMAN</th>
            <th>GRWT</th>
            <th>CHWT</th>
            <th>TEU</th>
            <th>CBM</th>

            <th *ngIf="coldr0" class="text-right">{{coldr0}}</th>
            <th *ngIf="colcr0" class="text-right">{{colcr0}}</th>

            <th *ngIf="coldr1" class="text-right">{{coldr1}}</th>
            <th *ngIf="colcr1" class="text-right">{{colcr1}}</th>

            <th *ngIf="coldr2" class="text-right">{{coldr2}}</th>
            <th *ngIf="colcr2" class="text-right">{{colcr2}}</th>

            <th class="text-right">DEBIT</th>
            <th class="text-right">CREDIT</th>
            <th class="text-right">BALANCE</th>
            <th>NARRATION</th>
            <th>TYPE2</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of getFilteredRecords()">
          <tr [style.color]="rec.row_colour">
            <td>{{rec.mbl_no}}</td>
            <td>{{rec.mbl_bl_no}}</td>
            <td>{{rec.mbl_book_no}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_type}}</td>
            <td>{{rec.jvh_vrno}}</td>
            <td>{{rec.hbl_type}}</td>
            <td  *ngIf="isSingleCode" class="hlink p-0" style="text-align: center;" (click)="ChangeReconStatus(rec)">
              <button *ngIf="rec.recon_closed"  class="btn btn-info btn-sm" >{{rec.recon_closed}}</button>
            </td>

            <td>{{rec.mstat}}</td>
            <td>{{rec.hstat}}</td>

            <td>{{rec.cust_name}}</td>
            <td>{{rec.sman_name}}</td>
            <td>{{rec.grwt}}</td>
            <td>{{rec.ntwt}}</td>
            <td>{{rec.teu}}</td>
            <td>{{rec.cbm}}</td>


            <td *ngIf="coldr0" align='right'>{{rec.coldr0 | number : '1.2-2'}}</td>
            <td *ngIf="colcr0" align='right'>{{rec.colcr0 | number : '1.2-2'}}</td>

            <td *ngIf="coldr1" align='right'>{{rec.coldr1 | number : '1.2-2'}}</td>
            <td *ngIf="colcr1" align='right'>{{rec.colcr1 | number : '1.2-2'}}</td>

            <td *ngIf="coldr2" align='right'>{{rec.coldr2 | number : '1.2-2'}}</td>
            <td *ngIf="colcr2" align='right'>{{rec.colcr2 | number : '1.2-2'}}</td>


            <td align='right'>{{rec.jv_debit | number : '1.2-2'}}</td>
            <td align='right'>{{rec.jv_credit | number : '1.2-2'}}</td>
            <td align='right'>{{rec.jv_balance | number : '1.2-2'}}</td>
            <td>{{rec.jvh_narration}}</td>
            <td>{{rec.sql_type}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>

<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>