<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>


<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-list">
    <div class="page-search">
      <div class="row">
        <div class="col-4">
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">From Date</label>
            <div class="col-8">
              <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label col-form-label-sm">To Date</label>
            <div class="col-8">
              <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group row">
            <label class="col-4 col-form-label  col-form-label-sm">Code</label>
            <div class="col-8">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="code" />

            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label  col-form-label-sm"></label>
            <div class="col-4">
              <input type="checkbox" [(ngModel)]="main_code">
              <span> Main Code</span>
            </div>
            <div class="col-4">
              <input type="checkbox" [(ngModel)]="format2">
              <span>Format-2</span>
            </div>

          </div>
        </div>
        <div class="col-4">
          <div class="form-group row">
            <!--<label class="col-sm-2 col-form-label col-form-label-sm">Branch</label>-->
            <div class="col-sm-4">
              <!--<app-autocomplete [disabled]="!bCompany" #BrLov [inputdata]="BRRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>-->
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm"></label>
            <div class="col-sm-10">
              <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm">Process
                Report</button>
              <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button>
              <button [disabled]="loading" (click)="List('EXP-BOOKING-EXCEL')" class="btn btn-primary btn-sm">Booking
                Excel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isclr">

    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th>{{ (isimp) ? 'SI#' : 'JOB#' }}</th>
            <th>DATE</th>
            <th>TYPE</th>
            <th>VRNO</th>
            <th>CATEGORY</th>

            <th class="text-right">DEBIT</th>
            <th class="text-right">CREDIT</th>
            <th class="text-right">BALANCE</th>

            <th>CUSTOMER</th>
            <th>SMAN</th>
            <th>GRWT</th>
            <th>CHWT</th>
            <th>TEU</th>
            <th>CBM</th>

            <th>NARRATION</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td>{{rec.mbl_no}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_type}}</td>
            <td>{{rec.jvh_vrno}}</td>
            <td>{{rec.hbl_type}}</td>



            <td align='right'>{{rec.jv_debit | number : '1.2-2'}}</td>
            <td align='right'>{{rec.jv_credit | number : '1.2-2'}}</td>
            <td align='right'>{{rec.jv_balance | number : '1.2-2'}}</td>

            <td>{{rec.cust_name}}</td>
            <td>{{rec.sman_name}}</td>
            <td>{{rec.grwt}}</td>
            <td>{{rec.ntwt}}</td>
            <td>{{rec.teu}}</td>
            <td>{{rec.cbm}}</td>


            <td>{{rec.jvh_narration}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div *ngIf="!isclr">


    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th>MBLSL#</th>
            <th>MBLNO</th>
            <th>BOOKING#</th>
            <th>DATE</th>
            <th>TYPE</th>
            <th>VRNO</th>
            <th>CATEGORY</th>
            <th>M-STATUS</th>
            <th>H-STATUS</th>

            <th>CUSTOMER</th>
            <th>SMAN</th>
            <th>GRWT</th>
            <th>CHWT</th>
            <th>TEU</th>
            <th>CBM</th>

            <th *ngIf="codecount >= 1" class="text-right">{{coldr0}}</th>
            <th *ngIf="codecount >= 1" class="text-right">{{colcr0}}</th>

            <th *ngIf="codecount >= 2" class="text-right">{{coldr1}}</th>
            <th *ngIf="codecount >= 2" class="text-right">{{colcr1}}</th>

            <th *ngIf="codecount >= 3" class="text-right">{{coldr2}}</th>
            <th *ngIf="codecount >= 3" class="text-right">{{colcr2}}</th>

            <th class="text-right">DEBIT</th>
            <th class="text-right">CREDIT</th>
            <th class="text-right">BALANCE</th>
            <th>NARRATION</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr [style.color]="rec.row_colour">
            <td>{{rec.mbl_no}}</td>
            <td>{{rec.mbl_bl_no}}</td>
            <td>{{rec.mbl_book_no}}</td>
            <td>{{rec.jvh_date}}</td>
            <td>{{rec.jvh_type}}</td>
            <td>{{rec.jvh_vrno}}</td>
            <td>{{rec.hbl_type}}</td>

            <td>{{rec.mstat}}</td>
            <td>{{rec.hstat}}</td>

            <td>{{rec.cust_name}}</td>
            <td>{{rec.sman_name}}</td>
            <td>{{rec.grwt}}</td>
            <td>{{rec.ntwt}}</td>
            <td>{{rec.teu}}</td>
            <td>{{rec.cbm}}</td>


            <td *ngIf="codecount >= 1" align='right'>{{rec.coldr0 | number : '1.2-2'}}</td>
            <td *ngIf="codecount >= 1" align='right'>{{rec.colcr0 | number : '1.2-2'}}</td>

            <td *ngIf="codecount >= 2" align='right'>{{rec.coldr1 | number : '1.2-2'}}</td>
            <td *ngIf="codecount >= 2" align='right'>{{rec.colcr1 | number : '1.2-2'}}</td>

            <td *ngIf="codecount >= 3" align='right'>{{rec.coldr2 | number : '1.2-2'}}</td>
            <td *ngIf="codecount >= 3" align='right'>{{rec.colcr2 | number : '1.2-2'}}</td>


            <td align='right'>{{rec.jv_debit | number : '1.2-2'}}</td>
            <td align='right'>{{rec.jv_credit | number : '1.2-2'}}</td>
            <td align='right'>{{rec.jv_balance | number : '1.2-2'}}</td>
            <td>{{rec.jvh_narration}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>

<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>