<div class="col-sm-12 m-0 p-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group row">
                <div class="col-sm-12">
                    <font color="black">
                        <strong>
                            TRACKING&nbsp;
                        </strong>
                    </font>
                    <font color="black">
                        <strong>
                            {{(type.includes("SEA EXPORT") || type.includes("SEA IMPORT")) ? 'MBL' : 'MAWB'}}#&nbsp;
                        </strong>
                    </font>
                    <font color="blue">
                        <strong>
                            {{record.mbl_no}}&nbsp;
                        </strong>
                    </font>
                    <font color="black">
                        <strong>
                            {{(type.includes("SEA EXPORT") || type.includes("SEA IMPORT"))?'HBL':'HAWB'}}#&nbsp;
                        </strong>
                    </font>
                    <font color="blue">
                        <strong>
                            {{record.hbl_no}}&nbsp;
                        </strong>
                    </font>
                </div>
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="page-body table-responsive">
            <table class="table  table-hover table-sm table-bordered table-striped">
                <thead class="page-body-thead">
                    <tr>
                        <th>SL#</th>
                        <th>{{(type.includes("SEA EXPORT")||type.includes("SEA IMPORT"))?'VESSEL':'AIRLINE'}}</th>
                        <th>{{(type.includes("SEA EXPORT")||type.includes("SEA IMPORT"))?'VOYAGE':'FLIGHT#'}}</th>
                        <th>POL</th>
                        <th>ETD</th>
                        <th class="text-center">CONFIRM</th>
                        <th>POD</th>
                        <th>ETA</th>
                        <th class="text-center">CONFIRM</th>
                    </tr>
                </thead>
                <tbody class="page-body-tbody">
                    <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex">
                        <td>{{i+1}}</td>
                        <td class="p-0">
                            <app-autocomplete3 [controlname]="'VESSEL'" [tabletype]="'VESSEL'" [displaycolumn]="'NAME'"
                                [displaydata]="rec.trk_vsl_name" (ValueChanged)="LovSelected($event,rec)">
                            </app-autocomplete3>
                        </td>
                        <td class="p-0"> <input type="text" class="form-control form-control-sm"
                                [(ngModel)]="rec.trk_voyage" (blur)="OnBlur('trk_voyage',rec)" /></td>
                        <td>{{rec.trk_pol_name}}</td>
                        <td class="p-0"><app-date [inputdate]="rec.trk_pol_etd"
                                (ValueChanged)="rec.trk_pol_etd=$event"></app-date></td>
                        <td class="text-center p-0">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="rec.trk_pol_etd_confirm">
                        </td>
                        <td>{{rec.trk_pod_name}}</td>
                        <td class="p-0"><app-date [inputdate]="rec.trk_pod_eta"
                                (ValueChanged)="rec.trk_pod_eta=$event"></app-date></td>
                        <td class="text-center p-0"><input class="form-check-input" type="checkbox"
                                [(ngModel)]="rec.trk_pod_eta_confirm"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label col-form-label-sm">POD</label>
                    <div class="col-sm-2 pr-2">
                        <app-autocomplete3 [controlname]="'POD'" [tabletype]="'SEA PORT'" [displaycolumn]="'CODE'"
                            [displaydata]="Record.book_pod_code" disabled="true" (ValueChanged)="LovSelected($event,null)">
                        </app-autocomplete3>
                    </div>
                    <div class="col-sm-2 pl-0 pr-0">
                        <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.book_pod_name" />
                    </div>

                    <label class="col-sm-1 col-form-label col-form-label-sm ">ETA</label>
                    <div class="col-sm-2 pr-2">
                        <app-date [inputdate]="Record.book_eta" (ValueChanged)="Record.book_eta=$event"></app-date>
                    </div>
                    <div class="col-sm-2">
                        <div class="mt-1">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Record.book_eta_confirm">Confm
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1 col-form-label col-form-label-sm">POFD</label>
                    <div class="col-sm-2 pr-2">
                        <app-autocomplete3 [controlname]="'POFD'" [tabletype]="'SEA PORT'" [displaycolumn]="'CODE'"
                            [displaydata]="Record.book_pofd_code" disabled="true" (ValueChanged)="LovSelected($event,null)">
                        </app-autocomplete3>
                    </div>
                    <div class="col-sm-2 pl-0 pr-0">
                        <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.book_pofd_name" />
                    </div>

                    <label class="col-sm-1 col-form-label col-form-label-sm ">ETA</label>
                    <div class="col-sm-2 pr-2">
                        <app-date [inputdate]="Record.book_pofd_eta" (ValueChanged)="Record.book_pofd_eta=$event"></app-date>
                    </div>
                    <div class="col-sm-2">
                        <div class="mt-1">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="Record.book_pofd_eta_confirm">Confm
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="row m-0 p-0">
            <div class="col-sm-12">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button *ngIf="bSave"  [disabled]="loading" (click)="UpdateMasterTrk()" class="btn btn-info btn-sm">Save</button>
                        <button [disabled]="loading" (click)="Close()" class="btn btn-info btn-sm">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <br /> -->

    <div *ngIf="InfoMessage" class="alert alert-success">
        {{InfoMessage}}
    </div>
    <div *ngIf="ErrorMessage" class="alert alert-danger">
        {{ErrorMessage}}
    </div>
</div>