<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-list">
    <div class="page-search">
      <div class="row">
        <div class="col-4">
          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Type</label>
            <div class="col-4">
              <select class="form-control form-control-sm" (change)="OnChange('table_name')" [(ngModel)]="table_name">
                <option [value]="'ORDER'">ORDER</option>
              </select>
            </div>
            <div class="col-sm-4">
              <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm">Find</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group row">
          </div>
          <!-- <div class="form-group row">
              <label class="col-sm-2 col-form-label col-form-label-sm">Agent</label>
              <div class="col-8">
                <app-autocomplete #AgentAddLov [inputdata]="AGENTRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
              </div>
            </div> -->

        </div>
        <div class="col-4">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <div style="height: 400px; overflow-y: scroll;">
        <div class="page-body table-responsive">
          <table class="table table-hover table-sm">
            <thead class="page-body-thead">
              <tr>
                <th width="5%">TABLE</th>
                <th width="20%">SOURCE.COL</th>
                <th width="20%">TARGET.COL</th>
                <th width="5%">ORDER</th>
                <th width="5%">DELETE</th>
                <th width="45%"></th>
              </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
              <tr>
                <td style="padding:0px ">{{rec.table_name}}</td>
                <td style="padding:0px "><input type="text" class="form-control form-control-sm"
                    [(ngModel)]="rec.source_col" (focus)="OnFocusTableCell('source_col',rec)"
                    (change)="OnChangeTableCell('source_col',rec)" (blur)="OnBlurTableCell('source_col',rec)" required
                    maxlength="50" /></td>
                <td style="padding:0px 0px 0px 2px" *ngIf="rec.rec_mode != 'ADD'">{{rec.target_col}}</td>
                <td style="padding:0px 0px 0px 2px" *ngIf="rec.rec_mode == 'ADD'"><select class="form-control form-control-sm"
                    [(ngModel)]="rec.target_col">
                    <option *ngFor="let rec2 of TargetColList" [value]="rec2.name">{{rec2.name}}</option>
                  </select></td>
                <td style="padding:0px"><input type="number" class="form-control form-control-sm" [(ngModel)]="rec.slno"
                    (focus)="OnFocusTableCell('slno',rec)" (change)="OnChangeTableCell('slno',rec)"
                    (blur)="OnBlurTableCell('slno',rec)" required maxlength="10" /></td>
                <td style="padding:5px 0px 0px 10px"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
                    (click)="Remove(rec.pkid)"></i></td>
                    <td style="padding:0px"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="page-box">
    <div class="col">
      <button [disabled]="loading" (click)="AddtoList()" class="btn btn-success btn-sm">AddRow</button>
      <button [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm">Save</button>
      <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
  </div>
</div>

<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
  </div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>