<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-list">
    <div class="page-search">
      <div class="row">
        <div class="col-4">
          <div class="form-group row">
            <div class="col-sm-8">
              <button [disabled]="loading" (click)="List('NEW','CURRENCY')" class="btn btn-primary btn-sm">Process</button>
              <button [disabled]="loading" (click)="List('EXCEL',category_type)" class="btn btn-primary btn-sm">Excel</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <app-allreport [reportname]="title" [canrefresh]="gs.globalVariables.user_code == 'ADMIN'"
            [company_code]="gs.globalVariables.comp_code" [branch_code]='' [view_name]="'OS_AGENT'"></app-allreport>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table table-bordered table-hover table-sm table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>AGENT</th>
          <th class="text-right">USD</th>
          <th class="text-right">EUR</th>
          <th class="text-right">GBP</th>
          <th class="text-right">INR</th>
        </tr>
      </thead>

      <tbody class="page-body-tbody">
        <tr [style.color]="rec.rowcolor" *ngFor="let rec of RecordList; let i = index"
          [class.active]="i == selectedRowIndex" (mousedown)="selectedRowIndex= i">
          <td>{{rec.acc_name}}</td>
          <td align='right'>{{ rec.usd | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.eur | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.gbp | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.inr | number : '1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>




</div>


<br />

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>