<div class="modal-css" *ngIf="visible">

  <div class="modal-body-css">

    <div class="table-responsive">

      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th width="15%">BRANCH</th>
            <th width="15%">BALANCE</th>
            <th width="15%">OVERDUE-AMT</th>
            <th width="15%">OVERDUE-DAYS</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr *ngFor="let rec of RecordList">
            <td>{{rec.brcode}}</td>
            <td>{{rec.creditamt}}</td>
            <td>{{rec.overdueamt}}</td>
            <td>{{rec.overduedays}}</td>
          </tr>
        </tbody>
      </table>

      <div class="center-content">
        {{msg}}
      </div>

      <div class="center-content">
        <button class="btn btn-sm btn-primary" (click)="close1()">Close</button>
      </div>

    </div>

  </div>
</div>