<div class="page-header">
    <div class="col">
        <label>{{ms.title}}</label>
        <button [disabled]="ms.loading" (click)="ms.ReportList('SCREEN')"
            class="btn btn-primary btn-sm">Refresh</button>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <label> <strong>{{ms.report_date}}</strong></label>
        <!-- <i *ngIf="ms.loading" class="fa fa-spinner"></i> -->
        <label *ngIf="ms.osrefreshstatus">
            <font color="black">
                [Processed on&nbsp; {{ms.osrefreshstatus}}]
            </font>
        </label>
    </div>
</div>

<div *ngIf="ms.currentTab=='LIST'" class="page-list">
    <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 240px);">
        <table class="table table-bordered table-striped table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>REPORT LIST</th>
                    <th>FINYEAR</th>
                    <th class="text-right">OP</th>
                    <th class="text-right">APR</th>
                    <th class="text-right">MAY</th>
                    <th class="text-right">JUN</th>
                    <th class="text-right">JUL</th>
                    <th class="text-right">AUG</th>
                    <th class="text-right">SEP</th>
                    <th class="text-right">OCT</th>
                    <th class="text-right">NOV</th>
                    <th class="text-right">DEC</th>
                    <th class="text-right">JAN</th>
                    <th class="text-right">FEB</th>
                    <th class="text-right">MAR</th>
                    <th class="text-right">BAL</th>
                    <th class="text-right">ADV(OP)</th>
                    <th class="text-right">ADV(CLOSING)</th>
                    <th *ngIf="ms.bCanAdd">UPDATE</th>
                    <th *ngIf="ms.bCanDelete" class="text-center">DELETE</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of ms.ReportDateList;let i=index" (mousedown)="ms.index1=i"
                    [class.active]="i==ms.index1" [style.cursor]="'pointer'" [style.color]="rec.row_colour">
                    <td (click)="ms.ShowDetail(rec)" class='hlink2'>{{rec.report_date}}</td>
                    <td>{{rec.fin_year_name}}</td>
                    <td class="text-right">{{ rec.op | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.apr | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.may | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.jun | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.jul | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.aug | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.sep | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.oct | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.nov | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.dec | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.jan | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.feb | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.mar | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.bal | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.adv_op | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.adv | number : '1.2-2' }}</td>
                    <td *ngIf="ms.bCanAdd" (click)="ms.ProcessData('RE-UPDATE',rec)" class='hlink2'>
                        {{rec.row_type=='TOTAL'?'':'RE-UPDATE'}}</td>
                    <td *ngIf="ms.bCanDelete" class="text-center">
                        <App-Dialog *ngIf="rec.row_type!='TOTAL'"
                            [id]="{msg:'DELETE REPORT LIST Y/N', buttons:'yn', selected :false,id:rec.report_date,name:rec.report_date}"
                            (result)="RemoveList($event)"></App-Dialog>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ms.bCanAdd" class="page-box">
        <div class="col-md-4">
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Date</label>
                <div class="col-4">
                    <app-date [inputdate]="ms.generate_date" (ValueChanged)="ms.generate_date=$event"></app-date>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary btn-sm mr-1"
                        (click)="ms.ProcessData('GENERATE',null)">Generate</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf="ms.currentTab=='DISTINCTLIST'" class="page-details">
    <div class="page-header">
        <div class="col">
            <button class="btn btn-primary btn-sm"
                (click)="ms.ShowDistinctReport('SCREEN', 'SALESMAN')">SALESMAN</button>
            <button class="btn btn-primary btn-sm" (click)="ms.ShowDistinctReport('SCREEN', 'BRANCH')">BRANCH</button>
            <button class="btn btn-primary btn-sm" (click)="ms.ShowDistinctReport('SCREEN', 'PARTY')">PARTY</button>
            <button *ngIf='ms.bExcel' class="btn btn-primary btn-sm mr-1"
                (click)="ms.ShowDistinctReport('EXCEL', ms.distinctTab)">PRINT</button>
            <button *ngIf="ms.bCompany&&ms.distinctTab=='SALESMAN'" class="btn btn-primary btn-sm"
                (click)="ms.MailAll()">MAIL-ALL</button>
            <button class="btn btn-primary btn-sm" (click)="ReturnPage('LIST')">RETURN</button>
            <label>{{ms.distinctTab}}-WISE</label>
            <!-- <i *ngIf="loading2" class="fa fa-spinner"></i> -->
        </div>
    </div>

    <div class="row">

        <div class="col">
            <div *ngIf="ms.distinctTab=='SALESMAN'||ms.distinctTab=='BRANCH'||ms.distinctTab=='PARTY'"
                class="page-list">
                <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 260px);">
                    <table class="table  table-bordered table-striped table-hover table-sm">
                        <thead class="page-body-thead">
                            <tr>
                                <th>{{ms.distinctTab}}</th>
                                <th *ngIf="ms.distinctTab=='PARTY'">SALESMAN</th>
                                <th *ngIf="ms.bCompany&&(ms.distinctTab=='SALESMAN')" (click)="ms.SelectDeselect()"
                                    class="text-center">SELECT</th>
                                <th *ngIf="ms.bEmail&&(ms.distinctTab=='SALESMAN'||ms.distinctTab=='BRANCH')"
                                    class="text-center">EMAIL</th>
                                <th>FINYEAR</th>
                                <th class="text-right">OP</th>
                                <th class="text-right">APR</th>
                                <th class="text-right">MAY</th>
                                <th class="text-right">JUN</th>
                                <th class="text-right">JUL</th>
                                <th class="text-right">AUG</th>
                                <th class="text-right">SEP</th>
                                <th class="text-right">OCT</th>
                                <th class="text-right">NOV</th>
                                <th class="text-right">DEC</th>
                                <th class="text-right">JAN</th>
                                <th class="text-right">FEB</th>
                                <th class="text-right">MAR</th>
                                <th class="text-right">BAL</th>
                                <th class="text-right">ADV(OP)</th>
                                <th class="text-right">ADV(CLOSING)</th>
                                <!-- <th *ngIf="ms.distinctTab=='PARTY'" class="text-right">TURNOVER</th> -->
                                <th *ngIf="ms.distinctTab=='PARTY'" class="text-right">CR.DAYS</th>
                                <th *ngIf="ms.distinctTab=='PARTY'" class="text-right">CR.LIMIT</th>
                                <th *ngIf="ms.distinctTab=='PARTY'" class="text-right">OS.DAYS</th>
                                <th *ngIf="ms.distinctTab=='PARTY'" class="text-right">OS.DAYS.RATIO</th>
                                <th *ngIf="ms.distinctTab=='PARTY'" class="text-right">AR.RATIO</th>
                                <th *ngIf="ms.distinctTab=='PARTY'" class="text-left">BILL.DATE</th>
                                <th *ngIf="ms.distinctTab=='PARTY'" class="text-left">PAYMENT.DATE</th>
                            </tr>
                        </thead>
                        <tbody class="page-body-tbody">
                            <tr *ngFor="let rec of ms.RecordList;let i=index" (mousedown)="ms.index2=i"
                                [class.active]="i==ms.index2" [style.cursor]="'pointer'" [style.color]="rec.row_colour">
                                <td *ngIf="ms.distinctTab=='SALESMAN'"
                                    (click)="ms.ShowDetailReport('SCREEN', ms.distinctTab,rec,emailsent)"
                                    class="hlink2">{{rec.sman_name}}</td>
                                <td *ngIf="ms.distinctTab=='BRANCH'"
                                    (click)="ms.ShowDetailReport('SCREEN', ms.distinctTab,rec,emailsent)"
                                    class="hlink2">{{rec.branch}}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'"
                                    (click)="ms.ShowDetailReport('SCREEN', ms.distinctTab,rec,emailsent)"
                                    class="hlink2">{{rec.party_name}}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'" (click)="ms.ShowDetailReport('SCREEN','SALESMAN' ,rec,emailsent)"
                                class="hlink2">{{ rec.sman_name}}</td>
                                <td *ngIf="ms.bCompany&&(ms.distinctTab=='SALESMAN')" class="text-center"
                                    (click)="ms.IsChecked(rec)">
                                    <input *ngIf="rec.row_type!='TOTAL'" type="checkbox" [(ngModel)]="rec.row_checked">
                                </td>
                                <td *ngIf="ms.bEmail&&(ms.distinctTab=='SALESMAN'||ms.distinctTab=='BRANCH')"
                                    (click)="ms.ShowDetailReport('MAIL', ms.distinctTab,rec,emailsent)"
                                    class="hlink2 text-center">
                                    <i *ngIf="rec.row_type!='TOTAL'" class="fa fa-envelope  fa-lg pointer"
                                        aria-hidden="true"></i>
                                </td>
                                <td>{{rec.fin_year_name}}</td>
                                <td class="text-right">{{ rec.op | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.apr | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.may | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.jun | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.jul | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.aug | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.sep | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.oct | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.nov | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.dec | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.jan | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.feb | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.mar | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.bal | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.adv_op | number : '1.2-2' }}</td>
                                <td class="text-right">{{ rec.adv | number : '1.2-2' }}</td>
                                <!-- <td *ngIf="ms.distinctTab=='PARTY'" class="text-right">{{ rec.sales | number : '1.2-2'
                                    }}</td> -->
                                <td *ngIf="ms.distinctTab=='PARTY'" class="text-right">{{ rec.cust_crdays | number :
                                    '1.2-2' }}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'" class="text-right">{{ rec.cust_crlimit | number :
                                    '1.2-2' }}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'" class="text-right">{{ rec.osdays | number :
                                    '1.2-2' }}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'" class="text-right">{{ rec.osdays_ratio | number :
                                    '1.2-2' }}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'" class="text-right">{{ rec.arratio | number : '1.2-2'
                                    }}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'" class="text-left">{{ rec.cust_billed_date}}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'" class="text-left">{{ rec.cust_payment_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="ms.currentTab=='DETAILLIST'" class="page-list">
    <div class="page-header">
        <div class="col">
            <label>{{ms.Detail_title}}</label>
            <button *ngIf='ms.bExcel' [disabled]="ms.loading"
                (click)="ms.ShowDetailReport('EXCEL', ms.Detail_PrintType,null,emailsent)"
                class="btn btn-primary btn-sm mr-1">PRINT</button>
            <button *ngIf="ms.bEmail&&ms.Detail_PrintType=='SALESMAN'" [disabled]="ms.loading"
                (click)="ms.ShowDetailReport('MAIL', ms.Detail_PrintType,null, emailsent)"
                class="btn btn-primary btn-sm">Mail</button>
            <button class="btn btn-primary btn-sm" (click)="ReturnPage('DISTINCTLIST')">Return</button>
            <!-- <i *ngIf="ms.loading" class="fa fa-spinner"></i> -->
        </div>
    </div>
    <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 240px);">
        <table class="table  table-bordered table-striped table-hover table-sm ">
            <thead class="page-body-thead">
                <tr>
                    <th>SALESMAN</th>
                    <!-- <th>UPDATED.BY</th>                     -->
                    <th>PARTY</th>
                    <th>BRANCH</th>
                    <th>FINYEAR</th>
                    <th class="text-right">OP</th>
                    <th class="text-right">APR</th>
                    <th class="text-right">MAY</th>
                    <th class="text-right">JUN</th>
                    <th class="text-right">JUL</th>
                    <th class="text-right">AUG</th>
                    <th class="text-right">SEP</th>
                    <th class="text-right">OCT</th>
                    <th class="text-right">NOV</th>
                    <th class="text-right">DEC</th>
                    <th class="text-right">JAN</th>
                    <th class="text-right">FEB</th>
                    <th class="text-right">MAR</th>
                    <th class="text-right">BAL</th>
                    <th class="text-right">ADV(OP)</th>
                    <th class="text-right">ADV(CLOSING)</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of ms.RecordDetList;let i=index" (mousedown)="ms.index3=i">
                <tr [style.cursor]="'pointer'" [style.color]="rec.row_colour" [class.active]="i==ms.index3">
                    <td (click)="editData(rec)" class='hlink2'>{{rec.sman_name}}</td>
                    <!-- <td [style.color]="rec.row_updated=='Y'?'red':'black'">{{rec.row_updated_by}}</td>                     -->
                    <td (click)="showInvoiceList(rec,invoicemodal)" class='hlink2'>{{rec.party_name}}</td>
                    <td>{{rec.branch}}</td>
                    <td>{{rec.fin_year_name}}</td>
                    <td class="text-right">{{ rec.op | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.apr | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.may | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.jun | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.jul | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.aug | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.sep | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.oct | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.nov | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.dec | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.jan | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.feb | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.mar | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.bal | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.adv_op | number : '1.2-2' }}</td>
                    <td class="text-right">{{ rec.adv | number : '1.2-2' }}</td>

                </tr>
                <tr *ngIf="rec.row_displayed">
                    <td colspan="21">
                        <app-salesfollowupedit [InputSearchData]="InputSearchData"
                            (ModifiedRecords)="ModifiedRecords($event)"></app-salesfollowupedit>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>



<!-- <br /> -->


<App-Wait [visible]="ms.loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ms.ErrorMessage" class="alert alert-danger">
    {{ms.ErrorMessage}}
</div>
<ng-template #emailsent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Message Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-mail [pkid]="gs.globalVariables.user_pkid" [type]="'SALESFOLLOWUP'" [sHtml]="ms.sHtml"
            [defaultmessage]="ms.sMsg" [defaultto_ids]="ms.defaultto_ids" [defaultsubject]="ms.sSubject"
            [updateto_ids]=false [AttachList]="ms.AttachList"></app-mail>
    </div>
    <!--<div class="modal-footer">
      <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
    </div>-->
</ng-template>

<ng-template #invoicemodal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Invoice List</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-salesfollowupinv [menuid]="ms.menuid" [party]="ms.cust_name" [sman]="ms.sman_name"
            [branch]="ms.branch_name" [reportdate]="ms.report_date" (ModifiedRecords)="ModifiedInvoiceRecords($event)">
        </app-salesfollowupinv>
    </div>
</ng-template>