<div class="page-header">
    <div class="col">
        <label>{{ms.title}}</label>
        <!-- <button  class="btn btn-primary btn-sm" (click)="Generate()">New</button> -->
        <button [disabled]="ms.loading" (click)="ms.ReportList('SCREEN')"
            class="btn btn-primary btn-sm">Refresh</button>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="ms.loading" class="fa fa-spinner"></i>
    </div>
</div>

<div *ngIf="ms.currentTab=='LIST'" class="page-list">
    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>REPORT LIST</th>
                    <th>FINYEAR</th>
                    <th class="text-right">OP</th>
                    <th class="text-right">APR</th>
                    <th class="text-right">MAY</th>
                    <th class="text-right">JUN</th>
                    <th class="text-right">JUL</th>
                    <th class="text-right">AUG</th>
                    <th class="text-right">SEP</th>
                    <th class="text-right">OCT</th>
                    <th class="text-right">NOV</th>
                    <th class="text-right">DEC</th>
                    <th class="text-right">JAN</th>
                    <th class="text-right">FEB</th>
                    <th class="text-right">MAR</th>
                    <th class="text-right">BAL</th>
                    <th class="text-right">ADV</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of ms.ReportDateList" [style.cursor]="'pointer'" (click)="ShowDetail(rec)">
                    <td>{{rec.report_date}}</td>
                    <td>{{rec.fin_year}}</td>
                    <td align='right'>{{ rec.op | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.apr | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.may | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.jun | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.jul | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.aug | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.sep | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.nov | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.oct | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.dec | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.jan | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.feb | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.mar | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.bal | number : '1.2-2' }}</td>
                    <td align='right'>{{ rec.adv | number : '1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ms.bCanAdd" class="page-box">
        <div class="col-md-4">
            <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Date</label>
                <div class="col-4">
                    <app-date [inputdate]="ms.generate_date" (ValueChanged)="ms.generate_date=$event"></app-date>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary btn-sm mr-1" (click)="ms.ProcessData()">Generate</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div *ngIf="ms.currentTab=='DISTINCTLIST'" class="page-details">
    <div class="page-header">
        <div class="col">
            <button class="btn btn-primary btn-sm"
                (click)="ms.ShowDistinctReport('SCREEN', 'SALESMAN')">SALESMAN</button>
            <button class="btn btn-primary btn-sm" (click)="ms.ShowDistinctReport('SCREEN', 'BRANCH')">BRANCH</button>
            <button class="btn btn-primary btn-sm" (click)="ms.ShowDistinctReport('SCREEN', 'PARTY')">PARTY</button>
            <button class="btn btn-primary btn-sm" (click)="ReturnPage('LIST')">RETURN</button>
            <label>{{ms.report_date}}</label>
            <i *ngIf="loading2" class="fa fa-spinner"></i>
        </div>
    </div>
   
    <div class="row">

        <div class="col">
            <div *ngIf="ms.distinctTab=='SALESMAN'||ms.distinctTab=='BRANCH'||ms.distinctTab=='PARTY'" class="page-list">
                <div class="page-body table-responsive">
                    <table class="table  table-hover table-sm">
                        <thead class="page-body-thead">
                            <tr>
                                <th>{{ms.distinctTab}}</th>
                                <th>FINYEAR</th>
                                <th class="text-right">OP</th>
                                <th class="text-right">APR</th>
                                <th class="text-right">MAY</th>
                                <th class="text-right">JUN</th>
                                <th class="text-right">JUL</th>
                                <th class="text-right">AUG</th>
                                <th class="text-right">SEP</th>
                                <th class="text-right">OCT</th>
                                <th class="text-right">NOV</th>
                                <th class="text-right">DEC</th>
                                <th class="text-right">JAN</th>
                                <th class="text-right">FEB</th>
                                <th class="text-right">MAR</th>
                                <th class="text-right">BAL</th>
                                <th class="text-right">ADV</th>
                            </tr>
                        </thead>
                        <tbody class="page-body-tbody">
                            <tr *ngFor="let rec of ms.RecordList" [style.cursor]="'pointer'"
                                (click)="ms.ShowDetailReport('SCREEN', ms.distinctTab,rec)">
                                <td *ngIf="ms.distinctTab=='SALESMAN'">{{rec.sman_name}}</td>
                                <td *ngIf="ms.distinctTab=='BRANCH'">{{rec.branch}}</td>
                                <td *ngIf="ms.distinctTab=='PARTY'">{{rec.party_name}}</td>
                                <td>{{rec.fin_year}}</td>
                                <td align='right'>{{ rec.op | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.apr | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.may | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.jun | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.jul | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.aug | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.sep | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.nov | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.oct | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.dec | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.jan | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.feb | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.mar | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.bal | number : '1.2-2' }}</td>
                                <td align='right'>{{ rec.adv | number : '1.2-2' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="ms.currentTab=='DETAILLIST'" class="page-list">
    <div class="page-header">
        <div class="col">
            <label>{{ms.distinctTab}}-WISE</label>
            <button class="btn btn-primary btn-sm" (click)="ReturnPage('DISTINCTLIST')">Return</button>
            <i *ngIf="ms.loading" class="fa fa-spinner"></i>
        </div>
    </div>
    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>SALESMAN</th>
                    <th>PARTY</th>
                    <th>BRANCH</th>
                    <th>FINYEAR</th>
                    <th class="text-right">OP</th>
                    <th class="text-right">APR</th>
                    <th class="text-right">MAY</th>
                    <th class="text-right">JUN</th>
                    <th class="text-right">JUL</th>
                    <th class="text-right">AUG</th>
                    <th class="text-right">SEP</th>
                    <th class="text-right">OCT</th>
                    <th class="text-right">NOV</th>
                    <th class="text-right">DEC</th>
                    <th class="text-right">JAN</th>
                    <th class="text-right">FEB</th>
                    <th class="text-right">MAR</th>
                    <th class="text-right">BAL</th>
                    <th class="text-right">ADV</th>
                    <th>UPDATED.BY</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of ms.RecordDetList">
                <tr [style.cursor]="'pointer'">
                    <td (click)="editData(rec)">{{rec.sman_name}}</td>
                    <td (click)="editData(rec)">{{rec.party_name}}</td>
                    <td (click)="editData(rec)">{{rec.branch}}</td>
                    <td (click)="editData(rec)">{{rec.fin_year}}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.op | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.apr | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.may | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.jun | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.jul | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.aug | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.sep | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.nov | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.oct | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.dec | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.jan | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.feb | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.mar | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.bal | number : '1.2-2' }}</td>
                    <td (click)="editData(rec)" align='right'>{{ rec.adv | number : '1.2-2' }}</td>
                    <td [style.color]="rec.row_updated=='Y'?'red':'black'">{{rec.row_updated_by}}</td>
                </tr>
                <tr *ngIf="rec.row_displayed">
                    <td colspan="20">
                        <app-salesfollowupedit [InputSearchData]="InputSearchData"
                            (ModifiedRecords)="ModifiedRecords($event)"></app-salesfollowupedit>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>



<br />


<App-Wait [visible]="ms.loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ms.ErrorMessage" class="alert alert-danger">
    {{ms.ErrorMessage}}
</div>