<div class="page-list">
  <div class="page-body table-responsive">
    <table class="table  table-bordered table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th>DATE</th>
          <th>NAME</th>
          <th>REMARKS</th>
          <th class="text-center">DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex">
          <td>{{rec.report_created_date}}</td>
          <td>{{rec.report_created_by}}</td>
          <td>{{rec.report_remarks}}</td>
          <td  class="text-center">
            <App-Dialog [id]="{msg:'DELETE REMARKS Y/N', buttons:'yn', selected :false,id:rec.uid,name:rec.report_remarks}"
              (result)="RemoveList($event)"></App-Dialog>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="page-details">
  <!-- <div class="col">
    <font color="black">
      <strong>
        PARTY&nbsp;
      </strong>
    </font>
    <font color="red">
      {{InputSearchData.party_name}}
    </font>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="page-box">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-2 col-form-label col-form-label-sm">Remarks </label>
              <div class="col-10">
                <textarea #_txtremark rows="3" class="form-control form-control-sm" [(ngModel)]="remarks"
                  (blur)="OnBlur('remarks')" maxlength="300"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-box">
    <div class="row justify-content-center p-1">
      <button class="btn btn-primary btn-sm mr-1" (click)="Save()">Save</button>
      <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
    </div>
  </div>
</div>

<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>