<div class="page-header">
    <div class="col">
        <label>{{title}}</label>
        <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
        <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

    <div class="page-search">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label col-form-label-sm">Category</label>
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm" name="sstype" [(ngModel)]="searchtype">
                            <!-- <option [value]="'SHIPMENT-TRACKING'">SHIPMENT TRACKING</option> -->
                            <option *ngFor="let rec of MailingList" [value]="rec.param_code">{{rec.param_name}}</option>
                        </select>
                    </div>
                    <label class="col-sm-1 col-form-label col-form-label-sm">Search</label>
                    <div class="col-sm-2">
                        <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('searchstring')"
                            name="Search" [(ngModel)]="searchstring" />
                    </div>
                    <div class="col-sm-2">
                        <button [disabled]="loading" (click)="List('NEW')"
                            class="btn btn-primary btn-sm">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-pager">
        <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                        (Records-{{page_rowcount}})</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>

    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>NAME</th>
                    <th>TYPE</th>
                    <th>CATEGORY</th>
                    <th>TO</th>
                    <th>CC</th>
                    <th>BCC</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
                <tr >
                    <td class="hlink" (click)="ActionHandler('EDIT',rec.ml_pkid)" >{{rec.ml_cust_name}}</td>
                    <td>{{rec.ml_cust_type}}</td>
                    <td>{{rec.ml_type}}</td>
                    <td>{{rec.ml_to_ids}}</td>
                    <td>{{rec.ml_cc_ids}}</td>
                    <td>{{rec.ml_bcc_ids}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="page-pager">
        <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                        (Records-{{page_rowcount}})</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>

</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

    <div class="page-box">

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm" (click)="focus()">Category</label>
                    <div class="col-10">
                        <select class="form-control form-control-sm" [(ngModel)]="Record.ml_type" [disabled]="mode=='EDIT'">
                            <!-- <option [value]="'SHIPMENT-TRACKING'">SHIPMENT TRACKING</option> -->
                            <option *ngFor="let rec of MailingList" [value]="rec.param_code">{{rec.param_name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label  col-form-label-sm">Type</label>
                    <div class="col-10">
                        <select class="form-control form-control-sm" [(ngModel)]="Record.ml_cust_type"
                            (change)="OnChange('ml_cust_type')">
                            <option [value]="'CUSTOMER'">CUSTOMER</option>
                            <option [value]="'EMPLOYEE'">EMPLOYEE</option>
                            <option [value]="'OTHERS'">OTHERS</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-2 col-form-label col-form-label-sm">Name</label>
                    <div class="col-10">
                        <!-- <app-autocomplete3 [controlname]="controlname" [tabletype]="tabletype" [subtype]="subtype"
                            [where]="where" [displaycolumn]="'CODE'" [displaydata]="displaydata"
                            (ValueChanged)="LovSelected($event)">
                        </app-autocomplete3> -->
                        <app-autocomplete #CustLov [inputdata]="CUSTRECORD" (ValueChanged)="LovSelected($event)">
                        </app-autocomplete>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm"></label>
                    <div class="col-10">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.ml_cust_name"
                            (blur)="OnBlur('ml_cust_name')" required maxlength="60" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">TO.IDs</label>
                    <div class="col-10">
                        <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.ml_to_ids"
                            (blur)="OnBlur('ml_to_ids')" required maxlength="500"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">CC.IDs</label>
                    <div class="col-10">
                        <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.ml_cc_ids"
                            (blur)="OnBlur('ml_cc_ids')" required maxlength="500"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">BCC.IDs</label>
                    <div class="col-10">
                        <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.ml_bcc_ids"
                            (blur)="OnBlur('ml_bcc_ids')" required maxlength="500"></textarea>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="page-box">
        <div class="col-sm-4 mt-0 p-0">
            <div class="form-group row">
                <div class="offset-2 col-10">
                <button [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm">Save</button>
                <button [disabled]="loading" (click)="ActionHandler('LIST','')"
                    class="btn btn-success btn-sm">Return</button>
                <i *ngIf="loading" class="fa fa-spinner"></i>
            </div>
            </div>
        </div>
    </div>

</div>
<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>