<div class="page-header">
    <div class="col-6">
        <div class="form-group row">
            <button [disabled]="loading" (click)="ActionHandler('LIST','')"
                class="btn btn-primary btn-sm mr-1">List</button>
        </div>
    </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

    <div class="page-search">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Report Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="col form-control form-control-sm mr-1" [(ngModel)]="newReportName"
                            (blur)="OnBlur('newReportName')" />
                    </div>
                    <div class="col-sm-1">
                        <button [disabled]="loading" (click)="ActionHandler('ADD','')"
                            class="btn btn-primary btn-sm">New</button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Search</label>
                    <div class="col-sm-8">
                        <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('searchstring')"
                            name="Search" [(ngModel)]="searchstring" />
                    </div>
                    <div class="col-sm-1">
                        <button [disabled]="loading" (click)="List('NEW')"
                            class="btn btn-primary btn-sm">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Report Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="col form-control form-control-sm mr-1" [(ngModel)]="newReportName"
                        (blur)="OnBlur('newReportName')" />
                    </div>
                    <div class="col-sm-1">
                        <button  [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="page-pager">
        <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                        (Records-{{page_rowcount}})</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>

    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th width="30%">REPORT NAME</th>
                    <th width="10%">CREATED BY</th>
                    <th width="10%">CREATED DATE</th>
                    <th *ngIf="gs.globalVariables.user_code == 'ADMIN'" width="10%">DELETE</th>
                    <th width="40%"></th>
                </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
                <tr>
                    <td class="hlink" (click)="ActionHandler('EDIT',rec.ssd_report_name,rec.ssd_mode)">
                        {{rec.ssd_report_name}}</td>
                    <td>{{rec.ssd_report_created_by}}</td>
                    <td>{{rec.ssd_report_created_date}}</td>
                    <td *ngIf="gs.globalVariables.user_code == 'ADMIN'">
                        <App-Dialog
                            [id]="{msg:'Delete Y/N', buttons:'yn', selected :false,id:rec.ssd_report_name,name:rec.ssd_report_name}"
                            (result)="RemoveList($event)"></App-Dialog>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="page-pager">
        <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                        (Records-{{page_rowcount}})</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="currentTab=='DETAILS'" class="page-details">
    <div class="page-box">
        <div class="page-search">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm">Report Name</label>
                        <div class="col-8">
                            <input type="text" disabled class="col form-control form-control-sm"
                                [(ngModel)]="Record.ssd_report_name" (blur)="OnBlur('ssd_report_name')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm">Type</label>
                        <div class="col-8">
                            <select class="form-control form-control-sm" name="stype" [(ngModel)]="searchType">
                                <option [value]="'EXPORT'">EXPORT</option>
                                <option [value]="'IMPORT'">IMPORT</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm">Indian Company</label>
                        <div class="col-8">
                            <input type="text" class="col form-control form-control-sm" [(ngModel)]="IndianCompany"
                                (blur)="OnBlur('IndianCompany')" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm">Indian Port</label>
                        <div class="col-8">
                            <select class="form-control form-control-sm" [(ngModel)]="IndianPort">
                                <option *ngFor="let rec of IndianPortList" [value]="rec.sd_indian_port">
                                    {{rec.sd_indian_port}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm">Foreign Port</label>
                        <div class="col-8">
                            <select class="form-control form-control-sm" [(ngModel)]="ForeignPort">
                                <option *ngFor="let rec of ForeignPortList" [value]="rec.sd_foreign_port">
                                    {{rec.sd_foreign_port}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm">Region</label>
                        <div class="col-8">
                            <select class="form-control form-control-sm" [(ngModel)]="Region">
                                <option *ngFor="let rec of RegionList" [value]="rec.param_name">
                                    {{rec.param_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm">Report Format</label>
                        <div class="col-8">
                            <select class="form-control form-control-sm" name="stype2" [(ngModel)]="ReportFormat"
                                (change)="OnChange('ReportFormat')">
                                <option [value]="'SUMMARY'">SUMMARY</option>
                                <option [value]="'DETAIL'">DETAIL</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label col-form-label-sm"></label>
                        <div class="col-4">
                            <input type="checkbox" [(ngModel)]="selectedonly" />
                            <span>Selected Only</span>
                        </div>
                        <div class="col-4">
                            <input type="checkbox" [(ngModel)]="showall" />
                            <span>Show All</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button [disabled]="loading" (click)="List2('NEW')"
                                class="btn btn-primary btn-sm mt-1 mr-1">Search</button>
                            <button *ngIf="bExcel" [disabled]="loading" (click)="List2('EXCEL','EDIT',mailsent)"
                                class="btn btn-primary btn-sm mt-1">Print</button>
                            <button *ngIf="bEmail" [disabled]="loading" (click)="List2('MAIL','EDIT',mailsent)"
                                class="btn btn-primary btn-sm mt-1">Mail</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="page-pager">
            <div *ngIf="page_count2">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link">Page
                            {{page_current2}}/{{page_count2}}(Records-{{page_rowcount2}})</a></li>
                    <li class="page-item"><a class="page-link" (click)="List2('FIRST')"><span
                                class="fa fa-backward"></span></a></li>
                    <li class="page-item"><a class="page-link" (click)="List2('PREV')"><span
                                class="fa fa-arrow-left"></span></a></li>
                    <li class="page-item"><a class="page-link" (click)="List2('NEXT')"><span
                                class="fa fa-arrow-right"></span></a></li>
                    <li class="page-item"><a class="page-link" (click)="List2('LAST')"><span
                                class="fa fa-forward"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="page-body table-responsive">
            <table class="table  table-hover table-sm">
                <thead class="page-body-thead">
                    <tr>
                        <th *ngIf="ReportFormat=='SUMMARY'"><input type="checkbox" [(ngModel)]="chkallselected"
                                (change)="OnChange('chkallselected')"></th>
                        <th>REPORT</th>
                        <th>INDIAN COMPANY</th>
                        <th>ADDRESS1</th>
                        <th>ADDRESS2</th>
                        <th>ADDRESS3</th>
                        <th>REGION</th>
                        <th>PRODUCT</th>
                        <th>INDIAN PORT</th>
                        <th>FOREIGN PORT</th>
                        <th>SHIPMENT NOS</th>
                        <th>QTY</th>
                        <th>UNIT</th>
                    </tr>
                </thead>
                <tbody class="page-body-tbody" *ngFor="let rec of Record.ssd_List">
                    <tr>
                        <td *ngIf="ReportFormat=='SUMMARY'"><input *ngIf="!rec.sd_disabled" type="checkbox"
                                [(ngModel)]="rec.sd_selected" (change)="OnStatusChange($event, rec)"></td>
                        <td>{{rec.sd_report_name}}</td>
                        <td>{{rec.sd_indian_company}}</td>
                        <td>{{rec.sd_address1}}</td>
                        <td>{{rec.sd_address2}}</td>
                        <td>{{rec.sd_address3}}</td>
                        <td>{{rec.sd_region}}</td>
                        <td>{{rec.sd_product}}</td>
                        <td>{{rec.sd_indian_port}}</td>
                        <td>{{rec.sd_foreign_port}}</td>
                        <td>{{rec.sd_shipment}}</td>
                        <td>{{rec.sd_qty}}</td>
                        <td>{{rec.sd_unit}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-pager">
            <div *ngIf="page_count2">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link">Page
                            {{page_current2}}/{{page_count2}}(Records-{{page_rowcount2}})</a></li>
                    <li class="page-item"><a class="page-link" (click)="List2('FIRST')"><span
                                class="fa fa-backward"></span></a></li>
                    <li class="page-item"><a class="page-link" (click)="List2('PREV')"><span
                                class="fa fa-arrow-left"></span></a></li>
                    <li class="page-item"><a class="page-link" (click)="List2('NEXT')"><span
                                class="fa fa-arrow-right"></span></a></li>
                    <li class="page-item"><a class="page-link" (click)="List2('LAST')"><span
                                class="fa fa-forward"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="ReportFormat=='SUMMARY'" class="page-box">
        <div class="col-sm-6">
            <button [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm">Save</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST','')"
                class="btn btn-success btn-sm">Return</button>
        </div>
    </div> -->
</div>
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>
<ng-template #mailsent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Message Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-mail [pkid]="gs.globalVariables.user_pkid" [type]="gs.globalVariables.user_code+'-SHIPMENT-DATA-MARKETING'" [sHtml]="sHtml" [defaultmessage]="sMsg"
            [defaultsubject]="sSubject" [updateto_ids]=true [AttachList]="AttachList"></app-mail>
    </div>
</ng-template>