
<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">

      <label class="col-1 col-form-label col-form-label-sm">Container</label>
      <div class="col-2">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchcontainer" (blur)="OnBlur('searchcontainer')" />
      </div>
      <div class="col">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
        <button [disabled]="loading" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Excel</button>
      </div>

    </div>
  </div>
  <div class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>HBL#</th>
          <th>AGENT</th>
          <th>SHIPPER</th>
          <th>CONSIGNEE</th>
          <th>CARRIER</th>
        </tr>
      </thead>

      <tbody class="page-body-tbody" >
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex" (mousedown)="selectedRowIndex=i">
          <td>{{rec.hbl_no}}</td>
          <td>{{rec.hbl_agent_name}}</td>
          <td>{{rec.hbl_shipper_name}}</td>
          <td>{{rec.hbl_consignee_name}}</td>
          <td>{{rec.hbl_carrier_name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<br />

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>


