
<div class="page-list">
  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th>FROM</th>
          <th>TO</th>
          <th>CARTONS</th>
          <th>TYPE</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex" (click)="ActionHandler('EDIT', rec.pack_pkid,i)">
          <td>{{rec.pack_from}}</td>
          <td>{{rec.pack_to}}</td>
          <td>{{rec.pack_ctns}}</td>
          <td>{{rec.pack_type_code}}</td>
          <!--<td (click)="ActionHandler('REMOVE', rec.pack_pkid)" class="fa fa-trash" aria-hidden="true"></td>-->
          <td>
            <App-Dialog [id]="{msg:'Delete Y/N', buttons:'yn', selected :false,id:rec.pack_pkid,name:rec.pack_ctns}" (result)="RemoveList($event)"></App-Dialog>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="page-details">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label style="padding-right:0" class="col-sm-1 col-form-label col-form-label-sm">From</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.pack_from" (change)="OnChange('pack_from')" required maxlength="5" #pack_from />
        </div>
        <label class="col-sm-1 col-form-label  col-form-label-sm">To</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.pack_to" (change)="OnChange('pack_to')" required maxlength="5" />
        </div>
        <label style="padding-right:0" class="col-sm-1 col-form-label col-form-label-sm">Cartons</label>
        <div class="col-sm-2">
          <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.pack_ctns" (blur)="OnBlur('pack_ctns')" required maxlength="5" />
        </div>
        <label class="col-sm-1 col-form-label  col-form-label-sm">Unit</label>
        <div class="col-sm-2">
          <app-autocomplete #pkgUnitLov [inputdata]="PKGUNITRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
        </div>

      </div>

    </div>
    <div class="col-sm-4">

      <div class="col">
        <button [disabled]="loading" (click)="Save()" class="btn btn-default btn-sm">SAVE</button>
        <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-default btn-sm">NEW</button>
      </div>

    </div>
  </div>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

