<div class="page-header">
    <div class="col">
        <label>{{title}}{{ms.state.mode==''?'':'-'+ms.state.mode}}</label>
        <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
        <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
</div>

<div *ngIf="ms.state.currentTab=='LIST'" class="page-list">

    <div class="page-search">
        <div class="row">
            <label class="col-sm-2">Search</label>
            <div class="col-sm-6">
                <input type="text" class="col form-control form-control-sm" name="Search"
                    [(ngModel)]="ms.state.searchstring" (blur)="OnBlur('searchstring')" />
            </div>
            <div class="col-sm-4">
                <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm mr-1">Search</button>
                <button [disabled]="loading" *ngIf="bExcel" (click)="List('EXCEL')"
                    class="btn btn-primary btn-sm mr-1">Print</button>
            </div>
        </div>
    </div>

    <div class="page-pager">
        <div *ngIf="ms.state.page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page
                        {{ms.state.page_current}}/{{ms.state.page_count}}
                        (Records-{{ms.state.page_rowcount}})</a></li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>

    <div class="page-body table-responsive">
        <table class="table table-hover table-sm table-bordered table-striped">
            <thead class="page-body-thead">
                <tr>
                    <th>EMP.NAME</th>
                    <th>GRADE</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of ms.state.RecordList; let i = index"
                    [class.active]="i == ms.state.selectedRowIndex" (mousedown)="ms.state.selectedRowIndex=i">
                    <td class="hlink" (click)="ActionHandler('EDIT',rec.te_pkid)">{{rec.te_emp_name}}</td>
                    <td>{{rec.te_grade_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="page-pager">
        <div *ngIf="ms.state.page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page
                        {{ms.state.page_current}}/{{ms.state.page_count}}
                        (Records-{{ms.state.page_rowcount}})</a></li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>

</div>


<div *ngIf="ms.state.currentTab=='DETAILS'" class="page-details">
    <div class="page-box">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Ref#</label>
                    <div class="col-sm-3">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.te_grade_name" />
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm">Date</label>
                    <div class="col-sm-3">
                        <app-date [inputdate]="Record.te_date" (ValueChanged)="Record.te_date=$event">
                        </app-date>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Employee</label>
                    <div class="col-sm-8">
                        <app-autocomplete3 [controlname]="'EMP'" [tabletype]="'EMPLOYEE'" [where]="''"
                            [displaycolumn]="'NAME'" [displaydata]="Record.te_emp_name"
                            (ValueChanged)="LovSelected($event)">
                        </app-autocomplete3>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Grade</label>
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.te_grade_name" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">From</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks" required
                            (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">To</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks" required
                            (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">City Type</label>
                    <div class="col-sm-8">
                        <select class="form-control form-control-sm" name="empbr" [(ngModel)]="Record.emp_branch_group">
                            <option [value]="'METRO'">METRO</option>
                            <option [value]="'OTHERS'">OTHERS</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Purpose</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks" required
                            (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Mode of Travelling</label>
                    <div class="col-sm-8">
                        <app-autocomplete3 [controlname]="'EMP'" [tabletype]="'EMPLOYEE'" [where]="''"
                            [displaycolumn]="'NAME'" [displaydata]="Record.te_emp_name"
                            (ValueChanged)="LovSelected($event)">
                        </app-autocomplete3>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Remarks</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks" required
                            (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-8">
                        <input type="checkbox" [(ngModel)]="Record.emp_is_relieved" id="chkrelived"> <label class="col-form-label col-form-label-sm"
                            for="chkrelived">Own Arrangement</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Lodging Days</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm">Amount</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Boarding Days</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm">Amount</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm"></label>
                    <label class="col-sm-8  col-form-label col-form-label-sm">Local Conveyance</label>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Company Car</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Taxi</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Auto</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Others</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm pr-0">Total</label>
                    <div class="col-sm-3">
                        <input type="number" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.te_remarks" required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Misc. Charges</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Misc. Charges</label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks"
                            required (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Remarks</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.te_remarks" required
                            (blur)="OnBlur('te_remarks')" maxlength="100" />
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="offset-2 col-sm-10">
                        <button [hidden]="disableSave" [disabled]="loading" (click)="Save()"
                            class="btn btn-primary btn-sm">Save</button>
                        <button [disabled]="loading" (click)="ActionHandler('LIST','')"
                            class="btn btn-primary btn-sm">Return</button>
                        <i *ngIf="loading" class="fa fa-spinner"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div *ngIf="ms.state.ErrorMessage" class="alert alert-info">
    {{ms.state.ErrorMessage}}
</div>