
<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-search">
    <div class="row">
      <!--<label class="col-sm-2">Search</label>
      <div class="col-sm-6">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col-sm-2">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
      </div>-->
      <div class="col-sm-4">
        <div class="form-group row">
          <label style="padding-right:0px" class="col-sm-2 col-form-label col-form-label-sm">Year</label>
          <div style="padding-right:0px;padding-left:0px" class="col-sm-2">
            <input type="number" class="col form-control form-control-sm" (blur)="OnBlur('levyear')" [(ngModel)]="levyear" />
          </div>
          <label style="padding-right:0px" class="offset-1 col-sm-3 col-form-label col-form-label-sm">Month</label>
          <div style="padding-right:0px;padding-left:0px" class="col-sm-2">
            <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('levmonth')" [(ngModel)]="levmonth" />
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group row">
          <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">Search</label>
          <div class="col-sm-7">
            <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('Search')" name="Search" [(ngModel)]="searchstring" />
          </div>
          <div class="col-sm-2">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a></li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th width="10%">CODE</th>
          <th width="30%">NAME</th>
          <th width="5%">YEAR</th>
          <th width="5%">MONTH</th>
          <th width="5%">PL</th>
          <th width="5%">CL</th>
          <th width="5%">SL</th>
          <th width="35%">LoP</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
        <tr (click)="ActionHandler('EDIT',rec.lev_pkid)">
          <td>{{rec.lev_emp_code}}</td>
          <td>{{rec.lev_emp_name}}</td>
          <td>{{rec.lev_year}}</td>
          <td>{{rec.lev_month}}</td>
          <td>{{rec.lev_pl}}</td>
          <td>{{rec.lev_cl}}</td>
          <td>{{rec.lev_sl}}</td>
          <td>{{rec.lev_lp}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a></li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="page-box">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Year</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_year" (focus)="OnFocus('lev_year')" (change)="OnChange('lev_year')" (blur)="OnBlur('lev_year')" required maxlength="4" />
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Month</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_month" (focus)="OnFocus('lev_month')" (change)="OnChange('lev_month')" (blur)="OnBlur('lev_month')" required maxlength="2" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Holidays</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_holidays" (blur)="OnBlur('lev_holidays')" required maxlength="5" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Employee</label>
          <div class="col-8">
            <app-autocomplete #UserLov [inputdata]="EMPRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-4 col-8">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.lev_emp_name" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Privelege Leave</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_pl" (blur)="OnBlur('lev_pl')" required maxlength="10" />
          </div>

        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Casual Leave</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_cl" (blur)="OnBlur('lev_cl')" required maxlength="10" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Sick Leave</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_sl" (blur)="OnBlur('lev_sl')" required maxlength="5" />
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Others</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_others" (blur)="OnBlur('lev_others')" required maxlength="10" />
          </div>
        </div>
        <!-- <div *ngIf="Record.rec_category=='CONFIRMED' || Record.rec_category=='TRANSFER'" class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Loss of Pay</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_lp" (blur)="OnBlur('lev_lp')" required maxlength="10" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Days Worked</label>
          <div class="col-sm-3">
            <input type="number" [disabled]="Record.rec_category=='CONFIRMED' || Record.rec_category=='TRANSFER'"  class="form-control form-control-sm" [(ngModel)]="Record.lev_days_worked" (blur)="OnBlur('lev_days_worked')" required maxlength="10" />
          </div>
        </div> -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Loss of Pay</label>
          <div class="col-sm-3">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.lev_lp" (blur)="OnBlur('lev_lp')" required maxlength="10" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-sm">Days Worked</label>
          <div class="col-sm-3">
            <input type="number" [disabled]="!bJoinRelieve"  class="form-control form-control-sm" [(ngModel)]="Record.lev_days_worked" (blur)="OnBlur('lev_days_worked')" required maxlength="10" />
          </div>
        </div>
      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>
  <div class="page-box">
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group row">
          <div class="offset-2 col-sm-10">
            <button [disabled]="loading || lock_record" (click)="Save()" class="btn btn-success btn-sm">Save</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-success btn-sm">Return</button>
            <label *ngIf="mode=='EDIT'" class="col-form-label col-form-label-sm">
              <font color="RED">
                  {{lock_record == true ? 'Details Closed, Cannot Edit' : ''}}
              </font>
            </label>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

