<div class="page-details">
    <div class="col-sm-12">
        <div class="page-details">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label col-form-label-sm">PreAlert.SentOn</label>
                        <div class="col-sm-3">
                            <app-date #_prealert_date [inputdate]="mbl_prealert_date"
                                (ValueChanged)="mbl_prealert_date=$event">
                            </app-date>
                        </div>
                        <div class="col-sm-4">
                            <button [disabled]="loading" (click)="Save('DATE')"
                                class="btn btn-primary btn-sm">Update</button>
                            <button [disabled]="loading" (click)="Close()" class="btn btn-primary btn-sm">Close</button>
                            <i *ngIf="loading" class="fa fa-spinner"></i>
                        </div>
                        <!-- <div class="col-sm-2">
                            <app-genremarks [pkid]="record.mbl_pkid" [type]='MBL-SE' [subtype]='PREALERT_SENT_STATUS' [refno]="record.mbl_bkno" [btntype]='LINKBUTTTON' ></app-genremarks>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>