<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>
<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-search">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Date</label>
          <div class="col-sm-4">
            <app-date [inputdate]="attendancedate" (ValueChanged)="attendancedate=$event"></app-date>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Search</label>
          <div class="col-sm-4">
            <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group row">
          <label *ngIf="bCompany" class="col-sm-2 col-form-label col-form-label-sm">Branch</label>
          <div *ngIf="bCompany" class="col-sm-4">
            <app-autocomplete #BrLov [inputdata]="BRRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
          </div>
          <div class="col-sm-6">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
            <button [disabled]="loading" *ngIf="bPrint"  (click)="List('EXCEL')" class="btn btn-primary btn-sm">Print</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th>BRANCH</th>
          <th>NAME</th>
          <th>TYPE</th>
          <th>DATE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
        <tr>
          <td>{{rec.audit_branch_code}}</td>
          <td>{{rec.audit_user_code}}</td>
          <td>{{rec.audit_type}}</td>
          <td>{{rec.audit_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>