<div class="page-header">
    <div class="col">
        <label>{{title}}</label>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
</div>
<div class="page-list">
    <div class="page-search">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Date</label>
                    <div class="col-sm-8">
                        <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">To</label>
                    <div class="col-sm-8">
                        <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Type</label>
                    <div class="col-sm-8">
                        <select class="form-control form-control-sm" [(ngModel)]="searchtype">
                            <option [value]="'ALL'">ALL</option>
                            <option [value]="'JOB SEA EXPORT'">JOB SEA EXPORT</option>
                            <option [value]="'SI SEA EXPORT'">SI SEA EXPORT</option>
                            <option [value]="'JOB AIR EXPORT'">JOB AIR EXPORT</option>
                            <option [value]="'SI AIR EXPORT'">SI AIR EXPORT</option>
                            <option [value]="'SI SEA IMPORT'">SI SEA IMPORT</option>
                            <option [value]="'SI AIR IMPORT'">SI AIR IMPORT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Customer</label>
                    <div class="col-sm-8">
                        <app-autocomplete3 [controlname]="'CUST'" [tabletype]="'CUSTOMER'" [where]="''"
                            [displaycolumn]="'NAME'" [displaydata]="cust_name" (ValueChanged)="LovSelected($event)">
                        </app-autocomplete3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Branch</label>
                    <div class="col-sm-8">
                        <app-autocomplete3 [controlname]="'BRANCH'" [tabletype]="'BRANCH'" [displaycolumn]="'CODE'"
                            [displaydata]="branch_code" (ValueChanged)="LovSelected($event)" [disabled]="!bCompany">
                        </app-autocomplete3>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-4 col-sm-8">
                        <button [disabled]="loading" (click)="List('NEW')"
                            class="btn btn-primary btn-sm mr-1">Search</button>
                        <button *ngIf="bExcel" [disabled]="loading" (click)="List('EXCEL')"
                            class="btn btn-primary btn-sm mr-1">Excel</button>
                        <!-- <button *ngIf="bEmail" [disabled]="loading" (click)="List('MAIL')"
                            class="btn btn-primary btn-sm ">Mail</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 375px);">
    <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
            <tr>
                <th>BRANCH</th>
                <th>ISSUED-BY</th>
                <th>ISSUED-DATE</th>
                <th>CUSTOMER</th>
                <th>SALESPERSON</th>
                <th>EXPECT-AMT</th>
                <th>COMMIT-DATE</th>
                <th>REQ-JOB-NOS</th>
                <th>TYPE</th>
                <th>JOB#</th>
                <th>SI#</th>
                <th>INV#</th>
                <th>INV-AMT</th>
                <th>BILLED-AMT</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
                (mousedown)="selectedRowIndex=i" >
                <td>{{rec.rec_branch_code}}</td>
                <td>{{rec.rec_created_by}}</td>
                <td>{{rec.rec_created_date}}</td>
                <td>{{rec.cust_name}}</td>
                <td>{{rec.ul_sman_name}}</td>
                <td align='right'>{{rec.ul_expected_bill_amt | number : '1.2-2'}}</td>
                <td>{{rec.ul_firm_commited_date}}</td>
                <td>{{rec.ul_job_nos_required}}</td>
                <td>{{rec.ul_type}}</td>
                <td>{{rec.ul_remarks}}</td>
                <td>{{rec.ul_si_no}}</td>
                <td>{{rec.ul_inv_no}}</td>
                <td>{{rec.ul_inv_amt}}</td>
                <td>{{rec.ul_billed_amt}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <br /> -->

<div *ngIf="ErrorMessage" class="alert alert-info">
    {{ErrorMessage}}
</div>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>