<div class="page-list pointer">
    <div class="row m-0">
        <div class="col-12">
            <div class="page-body table-responsive fixedTableHead m-0 p-0" style="height: calc(100vh - 500px);">
                <table class="table table-hover table-sm table-bordered table-striped">
                    <thead class="page-body-thead">
                        <tr>
                            <th>BRANCH</th>
                            <th>TYPE</th>
                            <th>DATE</th>
                            <!-- <th>TYPE</th> -->
                            <th>DOCNO</th>
                            <th>A/C NAME</th>
                            <th>CURR</th>
                            <th class="text-right">FAMT</th>
                            <th class="text-right">EXRATE</th>
                            <th class="text-right">DEBIT</th>
                            <th class="text-right">CREDIT</th>
                        </tr>
                    </thead>
                    <tbody class="page-body-tbody" *ngFor="let rec of RecordList; let i = index">
                        <tr [style.color]="rec.rowcolor" [class.active]="i == selectedRowIndex"
                            (click)="selectedRowIndex=i">
                            <td>{{rec.rec_branch_code}}</td>
                            <td>{{rec.jv_type}}</td>
                            <td>{{rec.jv_date}}</td>
                            <!-- <td>{{rec.category}}</td> -->
                            <td>{{rec.jvh_docno}}</td>
                            <td>{{rec.jv_acc_name}}</td>
                            <td>{{rec.jv_curr_code}}</td>
                            <td class="text-right">{{rec.jv_ftotal==0?null:rec.jv_ftotal | number : '1.2-2'}}</td>
                            <td class="text-right">{{rec.jv_exrate==0?null:rec.jv_exrate | number : '1.2-2'}}</td>
                            <td class="text-right">{{rec.jv_debit | number : '1.2-2'}}</td>
                            <td class="text-right">{{rec.jv_credit | number : '1.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>