<div class="page-details">
    <ngb-tabset>
        <ngb-tab title="New Business Converted">
            <ng-template ngbTabContent>
                <div class="page-list">
                    <div class="table-responsive my-0 p-0">
                        <table class="table table-hover table-sm table-bordered table-striped">
                            <thead class="page-body-thead">
                                <tr>
                                    <th>JOB#</th>
                                    <th>DATE</th>
                                    <th>CATEGORY</th>
                                    <th>SHIPPER</th>
                                    <th>CONSIGNEE</th>
                                    <th>CONTAINER</th>
                                    <th>TEU</th>
                                    <th align='right'>PKGS</th>
                                    <th align='right'>GR.WT</th>
                                    <th align='right'>NT.WT</th>
                                    <th align='right'>CH.WT</th>
                                    <th align='right'>CBM</th>
                                </tr>
                            </thead>
                            <tbody class="page-body-tbody">
                                <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
                                    (mousedown)="selectedRowIndex=i">
                                    <td>{{rec.job_docno}}</td>
                                    <td>{{rec.job_date_display}}</td>
                                    <td>{{rec.rec_category}}</td>
                                    <td>{{rec.job_exp_name}}</td>
                                    <td>{{rec.job_imp_name}}</td>
                                    <td>{{rec.job_cntr}}</td>
                                    <td>{{rec.job_cntr_teu}}</td>
                                    <td align='right'>{{rec.job_pkg}}</td>
                                    <td align='right'>{{rec.job_grwt | number : '1.3-3'}}</td>
                                    <td align='right'>{{rec.job_ntwt | number : '1.3-3'}}</td>
                                    <td align='right'>{{rec.job_chwt | number : '1.3-3'}}</td>
                                    <td align='right'>{{rec.job_cbm | number : '1.3-3'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>