<div>
    <button class="btn btn-primary btn-sm" (click)="GetMailList(mailmodal)">Mail</button>
</div>
<ng-template #mailmodal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="page-details">
            <div class="row">
                <div class="page-body table-responsive">
                    <table class="table  table-hover table-sm">
                        <thead class="page-body-thead">
                            <tr>
                                <th>TYPE</th>
                                <th>TO</th>
                                <th>CC</th>
                                <th>BCC</th>
                            </tr>
                        </thead>
                        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
                            <tr>
                                <td>{{rec.ml_type}}</td>
                                <td>{{rec.ml_to_ids}}</td>
                                <td>{{rec.ml_cc_ids}}</td>
                                <td>{{rec.ml_bcc_ids}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page-box">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="SentMail()">Sent</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<br />

<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>