<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-search">
    <div class="row">

      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Search</label>
          <div class="col-sm-4">
            <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('Search')" name="Search"
              [(ngModel)]="searchstring" />
          </div>
          <div class="col-sm-2">
            <button [disabled]="loading" (click)="Generate('LIST',bongenerate)"
              class="btn btn-primary btn-sm">Generate</button>
          </div>
          <div class="col-sm-4">
            <input type="checkbox" [(ngModel)]="bRelived"> Relieved
          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div *ngIf="bAdmin" class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm mr-1">Branch</label>
          <div class="col-sm-5">
            <app-autocompletemulti [controlname]="'BRANCH'" [tabletype]="'BRANCH'" [subtype]="''" [where]="''"
              [displaycolumn]="'NAME'" [displaydata]="displaydata" (ValueChanged)="LovSelected($event)">
            </app-autocompletemulti>
          </div>
          <div class="col-sm-4">
            <input type="checkbox" [(ngModel)]="allbranch"> All
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <div class="col-sm-12">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm mr-1">Search</button>
            <button [disabled]="loading" *ngIf="bPrint" (click)="List('EXCEL')"
              class="btn btn-primary btn-sm mr-1">Print</button>
            <button [disabled]="loading" *ngIf="bPrint" (click)="List('CSV')"
              class="btn btn-primary btn-sm mr-1">Csv</button>
            <button [disabled]="loading" *ngIf="bPrint" (click)="List('SUMMARY')" class="btn btn-primary btn-sm">Summary
              Branch Wise</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm mb-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive fixedTableHead my-0 p-0" style="height: calc(100vh - 310px);">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>CODE</th>
          <th>NAME</th>
          <th>DAYS WORKED</th>
          <th>WAGES</th>
          <th>BONUS</th>
          <th>DEDUCTIONS</th>
          <th>NET</th>
          <th>PAID</th>
          <th>DATE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i" >
          <td class="hlink" (click)="ActionHandler('EDIT',rec.bon_pkid)">{{rec.bon_emp_code}}</td>
          <td>{{rec.bon_emp_name}}</td>
          <td>{{rec.bon_days_worked}}</td>
          <td>{{rec.bon_gross_wages}}</td>
          <td>{{rec.bon_gross_bonus}}</td>
          <td>{{rec.bon_tot_deduct}}</td>
          <td>{{rec.bon_net_amount}}</td>
          <td>{{rec.bon_actual_paid}}</td>
          <td>{{rec.bon_paid_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm mb-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="currentTab=='DETAILS'" class="page-details">
  <div class="page-box">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">EMP.CODE</label>
          <div class="col-sm-1">
            <label class="col-form-label  col-form-label-sm">
              <font color="red">{{Record.bon_emp_code}} </font>
            </label>
          </div>
          <label class="col-sm-1 col-form-label col-form-label-sm">GRADE</label>
          <div class="col-sm-8">
            <label class="col-form-label  col-form-label-sm">
              <font color="blue">{{Record.bon_emp_grade}} </font>
            </label>
          </div>

        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">EMP.NAME</label>
          <div class="col-sm-10">
            <label class="col-form-label  col-form-label-sm">
              <font color="blue">{{Record.bon_emp_name}} </font>
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Total Month Bonus Payable</label>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.bon_days_worked"
              (blur)="OnBlur('bon_days_worked')" required [maxlength]="14" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Bonus Payable</label>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.bon_gross_bonus"
              (blur)="OnBlur('bon_gross_bonus')" required [maxlength]="14" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Puja Bonus</label>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.bon_puja_deduct"
              (blur)="OnBlur('bon_puja_deduct')" required [maxlength]="14" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Interim Bonus</label>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.bon_interim_deduct"
              (blur)="OnBlur('bon_interim_deduct')" required [maxlength]="14" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Tax Deduction If any</label>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.bon_tax_deduct"
              (blur)="OnBlur('bon_tax_deduct')" required [maxlength]="14" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Other Deductions</label>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.bon_other_deduct"
              (blur)="OnBlur('bon_other_deduct')" required [maxlength]="14" />
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Total Deductions</label>
          <div class="col-4">
            <input type="number" disabled class="form-control form-control-sm" [(ngModel)]="Record.bon_tot_deduct"
              (blur)="OnBlur('bon_tot_deduct')" required [maxlength]="14" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Net Amount</label>
          <div class="col-4">
            <input type="number" disabled class="form-control form-control-sm" [(ngModel)]="Record.bon_net_amount"
              (blur)="OnBlur('bon_net_amount')" required [maxlength]="14" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Bonus Paid</label>
          <div class="col-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.bon_actual_paid"
              (blur)="OnBlur('bon_actual_paid')" required [maxlength]="14" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Bonus Paid Date</label>
          <div class="col-4">
            <app-date [inputdate]="Record.bon_paid_date" (ValueChanged)="Record.bon_paid_date=$event"></app-date>
          </div>
          <div class="col-sm-2 px-0">
            <button [disabled]="loading" (click)="Save('UPDATE-ALL')" class="btn btn-success btn-sm">Update ALL</button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="page-box">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <div class="offset-3 col-sm-9">
            <button [disabled]="loading || lock_record" (click)="Save('SAVE')"
              class="btn btn-success btn-sm">Save</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST','')"
              class="btn btn-success btn-sm">Return</button>
            <label *ngIf="mode=='EDIT'" class="col-form-label col-form-label-sm">
              <font color="RED">
                {{lock_record == true ? 'Details Closed, Cannot Edit' : ''}}
              </font>
            </label>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- <br /> -->
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

<ng-template #bongenerate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bonus List</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-box">
          <div style="max-height: 400px; overflow-y: scroll;">
            <div class="page-body table-responsive">
              <table class="table  table-hover table-sm">
                <thead class="page-body-thead">
                  <tr>
                    <th><input type="checkbox" (click)="SelectDeselect()" [(ngModel)]="chkallselected"></th>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>DAYS WORKED</th>
                    <th>GROSS.WAGE</th>
                    <th>BONUS</th>
                  </tr>
                </thead>
                <tbody class="page-body-tbody" *ngFor="let rec of RecordList2">
                  <tr>
                    <td><input type="checkbox" [(ngModel)]="rec.bon_selected"></td>
                    <td>{{rec.bon_emp_code}}</td>
                    <td>{{rec.bon_emp_name}}</td>
                    <td>{{rec.bon_days_worked}}</td>
                    <td>{{rec.bon_gross_wages}}</td>
                    <td>{{rec.bon_gross_bonus}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="page-box">
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button [disabled]="loading" (click)="Generate('SAVE',bongenerate)"
                class="btn btn-success btn-sm">Save</button>
              <button [disabled]="loading" (click)="Close2()" class="btn btn-success btn-sm">Close</button>
              <i *ngIf="loading" class="fa fa-spinner"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>