<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
    <button class="btn btn-primary btn-sm mr-2" (click)="Close()">Close</button>
    <label *ngIf="currentTab=='DETAILS'" class="col-form-label col-form-label-sm" style="color:red">
      {{mode=='ADD'?'NEW':'EDIT'}}&nbsp;RECORD
    </label>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Entry.Date</label>
          <div class="col-sm-10">
            <app-date [inputdate]="fromdate" (ValueChanged)="fromdate=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">To</label>
          <div class="col-sm-10">
            <app-date [inputdate]="todate" (ValueChanged)="todate=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Valid.Date</label>
          <div class="col-sm-10">
            <app-date [inputdate]="search_validdate" (ValueChanged)="search_validdate=$event">
            </app-date>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Tradelane</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="search_tradelane"
              (blur)="OnBlur('search_tradelane')" /> -->
            <app-autocomplete3 [controlname]="'SEARCHTRADELANE'" [tabletype]="'COUNTRY'" [displaycolumn]="'NAME'"
              [displaydata]="search_tradelane" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Pol</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="search_pol"
              (blur)="OnBlur('search_pol')" /> -->
            <app-autocomplete3 [controlname]="'SEARCHPOL'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
              [displaydata]="search_pol" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Pod</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="search_pod"
              (blur)="OnBlur('search_pod')" /> -->
            <app-autocomplete3 [controlname]="'SEARCHPOD'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
              [displaydata]="search_pod" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
        </div>


      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Liner</label>
          <div class="col-sm-10">
            <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="search_liner"
              (blur)="OnBlur('search_liner')" /> -->
            <app-autocomplete3 [controlname]="'SEARCHLINER'" [tabletype]="'SEA CARRIER'" [displaycolumn]="'NAME'"
              [displaydata]="search_liner" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Sort.By</label>
          <div class="col-sm-4">
            <select class="form-control form-control-sm" [(ngModel)]="sort_by">
              <option [value]="'s.rec_created_date'">ENTRY DATE</option>
              <option [value]="'sbr_tradelane_name'">TRADELANE</option>
              <option [value]="'sbr_pol_name'">POL</option>
              <option [value]="'sbr_pod_name'">POD</option>
              <option [value]="'sbr_carrier_name'">LINER</option>
              <option [value]="'sbr_valid_from,sbr_valid_to'">VALIDITY</option>
            </select>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Format</label>
          <div class="col-sm-4">
            <select class="form-control form-control-sm" [(ngModel)]="print_format">
              <option [value]="'FORMAT-1'">FORMAT-1</option>
              <option [value]="'FORMAT-2'">FORMAT-2</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{bAdmin?'Branch':''}}</label>
          <div *ngIf="bAdmin" class="col-sm-4">
            <app-autocomplete3 [controlname]="'BRANCH'" [tabletype]="'BRANCH'" [displaycolumn]="'CODE'"
              [displaydata]="search_branch_code" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
          <div *ngIf="bAdmin" class="col-sm-2 mt-1">
            <input type="checkbox" [(ngModel)]="allbr" (change)="OnChange('allbr')">
            All
          </div>
          <div class="col-sm-4 pr-0">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm mr-1">Search</button>
            <button *ngIf='bPrint' [disabled]="loading" (click)="List('EXCEL')"
              class="btn btn-primary btn-sm">Print</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>

          <th>USER</th>
          <th *ngIf="bAdmin">BRANCH</th>
          <th>ENTRY-DATE</th>
          <th>VALID-FROM</th>
          <th>VALID-TO</th>
          <th>TRADELANE</th>
          <th>POL</th>
          <!-- <th>COUNTRY</th> -->
          <th>POD</th>
          <th>LINER</th>
          <th>FREQUENCY</th>
          <th>ROUTING/SERVICE</th>
          <th>VESSEL-CUT-OFF</th>
          <th>DAY-OF-SAILING</th>
          <th>TRANSIT-TIME</th>
           <th>DEST.-F/T</th>
          <th>RATE TYPE</th>
          <th>ALL.IN-20</th>
          <th>ALL.IN-40</th>
          <th>ALL.IN-40HC</th>
          <th>ACD/ENS-20</th>
          <th>ACD/ENS-40</th>
          <th>ACD/ENS-40HC</th>
          <th>COPY</th>
          <th *ngIf='bDelete' align="center">DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i">
          <td class="hlink" (click)="ActionHandler('EDIT',rec.sbr_pkid)">{{rec.rec_created_by}}</td>
          <td *ngIf="bAdmin">{{rec.rec_branch_code}}</td>
          <td>{{rec.rec_created_date}}</td>
          <td>{{rec.sbr_valid_from}}</td>
          <td>{{rec.sbr_valid_to}}</td>
          <td>{{rec.sbr_tradelane_name}}</td>
          <td>{{rec.sbr_pol_name}}</td>
          <!-- <td>{{rec.sbr_country_name}}</td> -->
          <td>{{rec.sbr_pod_name}}</td>
          <td>{{rec.sbr_carrier_name}}</td>
          <td>{{rec.sbr_frequency}}</td>
          <td>{{rec.sbr_routing}}</td>
          <td>{{rec.sbr_vsl_cutoff}}</td>
          <td>{{rec.sbr_sail_day}}</td>
          <td>{{rec.sbr_transit}}</td>
          <td>{{rec.sbr_dest_freetime}}</td>
          <td>{{rec.sbr_cntr_type}}</td>
          <td>{{rec.sbr_20_allin}}</td>
          <td>{{rec.sbr_40_allin}}</td>
          <td>{{rec.sbr_40hc_allin}}</td>
          <td>{{rec.sbr_20_acd}}</td>
          <td>{{rec.sbr_40_acd}}</td>
          <td>{{rec.sbr_40hc_acd}}</td>
          <td class="hlink" (click)="DuplicateBuyrate(rec.sbr_pkid)">COPY</td>
          <td *ngIf='bDelete' align="center"><i class="fa fa-trash fa-lg pointer" aria-hidden="true"
              (click)="RemoveRecord(rec.sbr_pkid)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="page-box">

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">POL</label>
          <div class="col-sm-4">
            <app-autocomplete2 #LoadPortLov [inputdata]="POLRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete2>
          </div>
          <div class="col-sm-6" >
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.sbr_pol_name"
              (blur)="OnBlur('sbr_pol_name')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">POD</label>
          <div class="col-sm-4">
            <app-autocomplete2 #DestPortLov [inputdata]="PODRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete2>
          </div>
          <div class="col-sm-6" >
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.sbr_pod_name"
              (blur)="OnBlur('sbr_pod_name')" required maxlength="60" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Liner</label>
          <div class="col-sm-4">
            <app-autocomplete2 #LinerLov [inputdata]="LINERRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete2>
          </div>
          <div class="col-sm-6" >
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.sbr_carrier_name"
              (blur)="OnBlur('sbr_carrier_name')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Tradelane</label>
          <div class="col-sm-4">
            <app-autocomplete2 #TradeLaneLov [inputdata]="TRADELANERECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete2>
          </div>
          <div class="col-sm-6" >
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.sbr_tradelane_name"
              (blur)="OnBlur('sbr_tradelane_name')" required maxlength="100" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">TransitTime</label>
          <div class="col-sm-4">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.sbr_transit"
              (blur)="OnBlur('sbr_transit')" required maxlength="100" />
          </div>
          <label class="col-sm-3 col-form-label col-form-label-sm">Destination Free Time</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.sbr_dest_freetime"
              (blur)="OnBlur('sbr_dest_freetime')" required maxlength="60" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Valid-From</label>
          <div class="col-sm-4">
            <app-date #_sbr_valid_from [inputdate]="Record.sbr_valid_from"
              (ValueChanged)="Record.sbr_valid_from=$event"></app-date>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Valid-To</label>
          <div class="col-sm-4">
            <app-date #_sbr_valid_to [inputdate]="Record.sbr_valid_to" (ValueChanged)="Record.sbr_valid_to=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Gst%</label>
          <div class="col-sm-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.sbr_gst_rate"
              (blur)="OnBlur('sbr_gst_rate')" required maxlength="14" />
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Terms</label>
          <div class="col-sm-4">
            <select class="form-control form-control-sm" [(ngModel)]="Record.sbr_terms">
              <option [value]="'COLLECT'">COLLECT</option>
              <option [value]="'PREPAID'">PREPAID</option>
              <option [value]="'BOTH'">BOTH</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Routing/Service</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.sbr_routing"
              (blur)="OnBlur('sbr_routing')" required maxlength="100" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Remarks</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.sbr_remarks"
              (blur)="OnBlur('sbr_remarks')" required maxlength="100" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Rate.Type</label>
          <div class="col-sm-10">
            <select class="form-control form-control-sm" [(ngModel)]="Record.sbr_cntr_type">
              <option [value]="'STANDARD'">STANDARD</option>
              <option [value]="'REEFER'">REEFER</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-box">
    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th></th>
            <th>ALL.IN</th>
            <th>FRT</th>
            <th>BAF</th>
            <th>CAF</th>
            <th>DDC</th>
            <th>PSS</th>
            <th>EBF</th>
            <th>CHASSIS</th>
            <th>SUEZ</th>
            <th>PIRACY</th>
            <th>IHC</th>
            <th>IFS</th>
            <th>OTHER</th>
            <th>ISPS</th>
            <th>ACD/ENS</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr>
            <td style="padding-left:0;padding-top: 4px;padding-bottom: 0;padding-right: 0;">
              <span><strong>20&nbsp;&nbsp;</strong></span>
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_allin" (blur)="OnBlur('sbr_20_allin')" required maxlength="14" /> </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20" (blur)="OnBlur('sbr_20')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_baf" (blur)="OnBlur('sbr_20_baf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_caf" (blur)="OnBlur('sbr_20_caf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_ddc" (blur)="OnBlur('sbr_20_ddc')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_pss" (blur)="OnBlur('sbr_20_pss')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_ebf" (blur)="OnBlur('sbr_20_ebf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_chassis" (blur)="OnBlur('sbr_20_chassis')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_suez" (blur)="OnBlur('sbr_20_suez')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_piracy" (blur)="OnBlur('sbr_20_piracy')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_ihc" (blur)="OnBlur('sbr_20_ihc')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_ifs" (blur)="OnBlur('sbr_20_ifs')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_other" (blur)="OnBlur('sbr_20_other')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_isps" (blur)="OnBlur('sbr_20_isps')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_20_acd" (blur)="OnBlur('sbr_20_acd')" required maxlength="14" /></td>
          </tr>
          <tr>
            <td style="padding-left:0;padding-top: 4px;padding-bottom: 0;padding-right: 0;">
              <span><strong>40&nbsp;&nbsp;</strong></span>
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_allin" (blur)="OnBlur('sbr_40_allin')" required maxlength="14" /> </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40" (blur)="OnBlur('sbr_40')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_baf" (blur)="OnBlur('sbr_40_baf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_caf" (blur)="OnBlur('sbr_40_caf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_ddc" (blur)="OnBlur('sbr_40_ddc')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_pss" (blur)="OnBlur('sbr_40_pss')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_ebf" (blur)="OnBlur('sbr_40_ebf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_chassis" (blur)="OnBlur('sbr_40_chassis')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_suez" (blur)="OnBlur('sbr_40_suez')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_piracy" (blur)="OnBlur('sbr_40_piracy')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_ihc" (blur)="OnBlur('sbr_40_ihc')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_ifs" (blur)="OnBlur('sbr_40_ifs')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_other" (blur)="OnBlur('sbr_40_other')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_isps" (blur)="OnBlur('sbr_40_isps')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40_acd" (blur)="OnBlur('sbr_40_acd')" required maxlength="14" /></td>
          </tr>
          <tr>
            <td style="padding-left:0;padding-top: 4px;padding-bottom: 0;padding-right: 0;">
              <span><strong>40HC&nbsp;&nbsp;</strong></span>
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_allin" (blur)="OnBlur('sbr_40hc_allin')" required maxlength="14" /> </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc" (blur)="OnBlur('sbr_40hc')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_baf" (blur)="OnBlur('sbr_40hc_baf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_caf" (blur)="OnBlur('sbr_40hc_caf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_ddc" (blur)="OnBlur('sbr_40hc_ddc')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_pss" (blur)="OnBlur('sbr_40hc_pss')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_ebf" (blur)="OnBlur('sbr_40hc_ebf')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_chassis" (blur)="OnBlur('sbr_40hc_chassis')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_suez" (blur)="OnBlur('sbr_40hc_suez')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_piracy" (blur)="OnBlur('sbr_40hc_piracy')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_ihc" (blur)="OnBlur('sbr_40hc_ihc')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_ifs" (blur)="OnBlur('sbr_40hc_ifs')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_other" (blur)="OnBlur('sbr_40hc_other')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_isps" (blur)="OnBlur('sbr_40hc_isps')" required maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.sbr_40hc_acd" (blur)="OnBlur('sbr_40hc_acd')" required maxlength="14" /></td>
          </tr>
        </tbody>
      </table>
      <div class="row mx-0 px-0">
        <div class="col-sm-6  mx-0 px-0">
          <div class="form-group row">
            <label class="col-sm-6 col-form-label col-form-label-sm">Frequency</label>
            <div class="col-sm-4">
              <select class="form-control form-control-sm" [(ngModel)]="Record.sbr_frequency">
                <option [value]="'ONCE IN A WEEK'">ONCE IN A WEEK</option>
                <option [value]="'TWICE IN A WEEK'">TWICE IN A WEEK</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-6 col-form-label col-form-label-sm">Day of Vessel Cut Off</label>
            <div class="col-sm-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.sbr_vsl_cutoff"
                (blur)="OnBlur('sbr_vsl_cutoff')" required maxlength="10" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-6 col-form-label col-form-label-sm">Day of Sailing from Origin Port</label>
            <div class="col-sm-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.sbr_sail_day"
                (blur)="OnBlur('sbr_sail_day')" required maxlength="10" />
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group row">
            <label class="offset-2 col-10 col-form-label col-form-label-sm" style="color:red">
              Eg: If day of week is Monday then put "DAY" as 1 <br>
              If multiple days say Monday and Friday then put "DAY" as 1 & 5
            </label>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="page-box">
    <div class="col-sm-6">
      <button [hidden]="disableSave" [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm">Save</button>
      <button [disabled]="loading" (click)="DuplicateBuyrate(Record.sbr_pkid)"
        class="btn btn-success btn-sm">Copy</button>
      <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-success btn-sm">Return</button>
      <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
  </div>
  <br>
  <!-- <div *ngIf="gs.globalVariables.user_code == 'ADMIN'" class="page-box">
    <label>
      <font color="RED">
        <strong>
          DBK BULCK UPDATE
        </strong>
      </font>
    </label>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">DBK CODE</label>
          <div class="col-6">
            <select class="form-control form-control-sm" [(ngModel)]="dbkmode">
              <option [value]="'A'">UPDATE A ONLY</option>
              <option [value]="'B'">UPDATE B ONLY</option>
              <option [value]="'C'">UPDATE C ONLY</option>
              <option [value]="'D'">UPDATE D ONLY</option>
              <option [value]="'AB'">UPDATE A & B</option>
              <option [value]="'CD'">UPDATE C & D</option>
              <option [value]="'SCHEDULE I'">ROSL SCHEDULE I</option>
              <option [value]="'SCHEDULE II'">ROCTL SCHEDULE II</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input type="checkbox" [(ngModel)]="ispercent">&nbsp;DBK Rate(%)
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm"></label>
          <div class="col-6">
            <button [disabled]="loading" (click)="ShowDocuments(doc)" class="btn btn-success btn-sm">Documents</button>
            <button [disabled]="loading" (click)="SearchRecord('DBK-UPDATE-FILE')"
              class="btn btn-success btn-sm">Process DBK Rates</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>
<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>
<!-- <ng-template #doc let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Documents</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-upload [pkid]="'D43510E3-FC50-404C-AC28-8BC2FC0B8C51'" [type]="'DBK-UPDATE'"></app-upload>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template> -->

<app-warningalert #WarnMsg [WarningMessage]="WarningMessage" [showYesNo]="true"></app-warningalert>