<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="CompanySettings()" class="btn btn-primary btn-sm">Company Settings</button>
    <button [disabled]="loading" (click)="BranchSettings()" class="btn btn-primary btn-sm">Banch Settings</button>
    <button [disabled]="loading" (click)="DataTransfer()" class="btn btn-primary btn-sm">Data Transfer</button>
    <button [disabled]="loading" (click)="ImportData()" class="btn btn-primary btn-sm">Import Data</button>
    <button [disabled]="loading" (click)="UpdateData()" class="btn btn-primary btn-sm">Update Data</button>
    <button [disabled]="loading" (click)="PayrollSettings()" class="btn btn-primary btn-sm">Payroll Settings</button>
    <button [disabled]="loading" (click)="CultureSettings()" class="btn btn-primary btn-sm">Server Settings</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='COMPANY'" class="page-details">

  <div class="row">

    <div class="col-sm-4">

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">CGST</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="CGSTRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="CGSTREC.name" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">SGST</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="SGSTRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="SGSTREC.name" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">IGST</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="IGSTRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="IGSTREC.name" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">CGST-RC-DR</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="RCDRCGSTRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="RCDRCGSTREC.name" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">SGST-RC-DR</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="RCDRSGSTRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="RCDRSGSTREC.name" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">IGST-RC-DR</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="RCDRIGSTRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="RCDRIGSTREC.name" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">CGST-RC-CR</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="RCCRCGSTRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="RCCRCGSTREC.name" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">SGST-RC-CR</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="RCCRSGSTRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="RCCRSGSTREC.name" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">IGST-RC-CR</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="RCCRIGSTRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="RCCRIGSTREC.name" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">UNIT-PCS</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="UNITPCSRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="UNITPCSREC.name" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">UNIT-CTN</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="UNITCTNRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="UNITCTNREC.name" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">UNIT-KGS</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="UNITKGSRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="UNITKGSREC.name" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">L.CURRENCY</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="LOCCURRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="LOCCURREC.name" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">F.CURRENCY</label>
        <div class="col-4">
          <app-autocomplete2 #CsdLov [inputdata]="FORCURRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="FORCURREC.name" />
        </div>
      </div>


    </div>

    <div class="col-sm-4">


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Doc.Root.Folder</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="CO_ROOT_FOLDER" required
            [maxlength]="100" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Doc.Sub.Folder</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="CO_SUB_FOLDER" required
            [maxlength]="100" />
        </div>
      </div>



      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BL.Reg.No</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="CO_BL_REG_NO" required
            [maxlength]="100" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BL.ISSU.BY-1</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="CO_BL_ISSUE_BY1" required
            [maxlength]="100" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BL.ISSU.BY-2</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="CO_BL_ISSUE_BY2" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BL.ISSU.BY-3</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="CO_BL_ISSUE_BY3" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BL.ISSU.BY-4</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="CO_BL_ISSUE_BY4" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BL.ISSU.BY-5</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="CO_BL_ISSUE_BY5" required
            [maxlength]="100" />
        </div>
      </div>
    </div>

    <div class="col-sm-4">

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">DEBTOR</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="DEBTORRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">CREDITOR</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="CREDITORRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">DEBTOR-TYPE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="DRTYPERECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">CREDITOR-TYPE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="CRTYPERECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">INTL-DEBTOR-TYPE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="INTLRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">HO-A/C-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="HOACRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm"></label>
        <div class="col-sm-8">
          <input type="checkbox" [(ngModel)]="SW_ENABLED">&nbsp;Enable Single Window
        </div>
      </div>


    </div>

  </div>

</div>

<div *ngIf="currentTab=='COMPANY'" class="page-box">
  <div class="col">
    <button [disabled]="loading" (click)="SaveCompany()" class="btn btn-default btn-sm">SAVE</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='BRANCH'" class="page-details">

  <div class="row">
    <div class="col-sm-4">

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BL-Issued Place</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_BL_ISSUED_PLACE" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">GSTIN</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_GSTIN" required [maxlength]="15" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">GST-STATE</label>
        <div class="col-4">
          <app-autocomplete2 [disabled]="statedisabled" [inputdata]="GSTSTATERECORD"
            (ValueChanged)="LovSelected($event)"></app-autocomplete2>
        </div>
        <div class="col-4">
          <input disabled type="text" class="form-control form-control-sm" [(ngModel)]="GSTSTATEREC.name" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">LR Prefix</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_LR_PREFIX" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Doc Prefix</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_DOC_PREFIX" required
            [maxlength]="100" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Costing Prefix Sea</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_COST_PREFIX" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Costing Prefix Air</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_COST_AIR_PREFIX" required
            [maxlength]="100" />
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BRANCH-A/C-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="BRACRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete2>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">HO-BANK-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="HOBANKRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>







      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Default Job Sea</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_DEFAULT_JOB_SEA" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Default Job Air</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_DEFAULT_JOB_AIR" required
            [maxlength]="100" />
        </div>
      </div>


    </div>

    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm"></label>
        <div class="col-sm-8">
          <input type="checkbox" [(ngModel)]="BR_CHQ_PRINT_HO_APRVD">&nbsp;Print Cheque Only After HO Approved
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm"></label>
        <div class="col-sm-8">
          <input type="checkbox" [(ngModel)]="BR_CRLIMIT_ENABLED">&nbsp;Enable Credit Limit(Job)
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm"></label>
        <div class="col-sm-8">
          <input type="checkbox" [(ngModel)]="BR_CRLIMIT_ENABLED_SI">&nbsp;Enable Credit Limit(SE-SI)
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">FolderPrefixSeaExport</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_FLDR_SE_PREFIX" required
            [maxlength]="100" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">FolderPrefixSeaImport</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_FLDR_SI_PREFIX" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BranchSalesmanEmail</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_SMAN_EMAIL" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">BranchAccountsEmail</label>
        <div class="col-8">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="BR_ACC_EMAIL" required
            [maxlength]="100" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">EPF-EMPLOYER-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="EPFEMPLOYERRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">LWF-EMPLOYER-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="LWFEMPLOYERRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">EPF EDLI-ADMIN-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="EPFEDLIRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">ESI-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="ESIRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">PF-PAYABLE-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="PFPAYRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">ESI-PAYABLE-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="ESIPAYRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">LWF-PAYABLE-CODE</label>
        <div class="col-8">
          <app-autocomplete2 #CsdLov [inputdata]="LWFPAYRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
      </div>




    </div>






  </div>
</div>

<div *ngIf="currentTab=='BRANCH'" class="page-box">
  <div class="col">
    <button [disabled]="loading" (click)="SaveBranch()" class="btn btn-success btn-sm">SAVE</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<br />

<div *ngIf="currentTab=='BRANCH'" class="page-details">
  <label>
    <font color="RED">
      <strong>
        LOCKING DATE
      </strong>
    </font>
  </label>
  <div class="row">

    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">Invoice</label>
        <div class="col-4">
          <app-date [inputdate]="LockRecord.lock_ar" (ValueChanged)="LockRecord.lock_ar=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">MBL Invoice</label>
        <div class="col-4">
          <app-date [inputdate]="LockRecord.lock_ap" (ValueChanged)="LockRecord.lock_ap=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">Debit Note</label>
        <div class="col-4">
          <app-date [inputdate]="LockRecord.lock_drn" (ValueChanged)="LockRecord.lock_drn=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">Credit Note</label>
        <div class="col-4">
          <app-date [inputdate]="LockRecord.lock_crn" (ValueChanged)="LockRecord.lock_crn=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">Inward DN</label>
        <div class="col-4">
          <app-date [inputdate]="LockRecord.lock_dri" (ValueChanged)="LockRecord.lock_dri=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">Inward CN/Gen.Exp(CN)</label>
        <div class="col-4">
          <app-date [inputdate]="LockRecord.lock_cri" (ValueChanged)="LockRecord.lock_cri=$event"></app-date>
        </div>
      </div>

    </div>
    <div class="col-sm-4">

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Cash Receipt</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_cr" (ValueChanged)="LockRecord.lock_cr=$event"></app-date>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Cash Payment</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_cp" (ValueChanged)="LockRecord.lock_cp=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Bank Receipt</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_br" (ValueChanged)="LockRecord.lock_br=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Bank Payment</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_bp" (ValueChanged)="LockRecord.lock_bp=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">JV/OP/Gen.Exp</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_jv" (ValueChanged)="LockRecord.lock_jv=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Costing JV</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_cjv" (ValueChanged)="LockRecord.lock_cjv=$event"></app-date>
        </div>
        <label style="padding-left:0;padding-right:0;color:red" class="col-3 col-form-label col-form-label-sm">Unlock HO
          JV</label>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Special Rebate/Opening</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_rb" (ValueChanged)="LockRecord.lock_rb=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">E-Invoice</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_einvoice" (ValueChanged)="LockRecord.lock_einvoice=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label col-form-label-sm">Bank Payment HO</label>
        <div class="col-3">
          <app-date [inputdate]="LockRecord.lock_jv_bp" (ValueChanged)="LockRecord.lock_jv_bp=$event"></app-date>
        </div>
      </div>
    </div>

  </div>

</div>

<div *ngIf="currentTab=='BRANCH'" class="page-box">
  <div class="col">
    <button [disabled]="loading" (click)="SaveLock()" class="btn btn-success btn-sm">SAVE</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>


<div *ngIf="currentTab=='PAYROLL'" class="page-details">
  <div class="row">

    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">ADMIN BASED ON</label>
        <div class="col-6">
          <select class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_admin_based_on">
            <option [value]="'E'">EMPLOYEE</option>
            <option [value]="'F'">FIXED</option>
            <option [value]="'T'">TOTAL</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">ADMIN PERCENT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_admin_per"
            (blur)="OnBlur('ps_admin_per')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">ADMIN AMOUNT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_admin_amt"
            (blur)="OnBlur('ps_admin_amt')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">EDLI BASED ON</label>
        <div class="col-6">
          <select class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_edli_based_on">
            <option [value]="'E'">EMPLOYEE</option>
            <option [value]="'F'">FIXED</option>
            <option [value]="'T'">TOTAL</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">EDLI PERCENT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_edli_per"
            (blur)="OnBlur('ps_edli_per')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">EDLI AMOUNT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_edli_amt"
            (blur)="OnBlur('ps_edli_amt')" required maxlength="14" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">PTAX INCLUDED MONTHS</label>
        <div class="col-6">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_ptax_mon_included"
            (blur)="OnBlur('ps_ptax_mon_included')" required maxlength="50" />
        </div>
      </div>

    </div>

    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">ESI EMPLY PERCENT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_esi_emply_per"
            (blur)="OnBlur('ps_esi_emply_per')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">ESI EMPLR PERCENT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_esi_emplr_per"
            (blur)="OnBlur('ps_esi_emplr_per')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">ESI LIMIT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_esi_limit"
            (blur)="OnBlur('ps_esi_limit')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">ESI EXCLUDED HEADS</label>
        <div class="col-6">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_esi_col_excluded"
            (blur)="OnBlur('ps_esi_col_excluded')" required maxlength="50" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">PF PERCENT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_pf_per"
            (blur)="OnBlur('ps_pf_per')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">PF PENSION PERCENT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_pf_emplr_pension_per"
            (blur)="OnBlur('ps_pf_emplr_pension_per')" required maxlength="14" />
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">PF LIMIT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_pf_cel_limit"
            (blur)="OnBlur('ps_pf_cel_limit')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">PENSION LIMIT AMT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_pf_cel_limit_amt"
            (blur)="OnBlur('ps_pf_cel_limit_amt')" required maxlength="14" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">PF EXCLUDED HEADS</label>
        <div class="col-6">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_pf_col_excluded"
            (blur)="OnBlur('ps_pf_col_excluded')" required maxlength="50" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">BRANCH REGION</label>
        <div class="col-6">
          <select class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_pf_br_region">
            <option [value]="'NORTH'">NORTH</option>
            <option [value]="'SOUTH'">SOUTH</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">SALARY CALCULATION DAYS</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_sal_calc_days"
            (blur)="OnBlur('ps_sal_calc_days')" required maxlength="2" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-6 col-form-label  col-form-label-sm">BONUS AMOUNT</label>
        <div class="col-6">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="PayrollRecord.ps_bonus_amt"
            (blur)="OnBlur('ps_bonus_amt')" required maxlength="14" />
        </div>
      </div>
    </div>

  </div>

</div>

<div *ngIf="currentTab=='PAYROLL'" class="page-box">
  <div class="col">
    <button [disabled]="loading" (click)="SavePayroll()" class="btn btn-default btn-sm">SAVE</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='DATATRANSFER'">
  <div class="page-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group row">
          <div class="col-sm-2">
            <button [disabled]="loading" (click)="SaveDataTransfer()" class="btn btn-primary btn-sm">Process
              CSV</button>
          </div>
        </div>
        <hr class="my-1">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Type</label>
          <div class="col-sm-2">
            <select class="form-control form-control-sm" [(ngModel)]="transfrTableName"
              (change)="OnChange('transfrTableName')">
              <option *ngFor="let rec of DataTransfrList" [value]="rec.param_name">{{rec.param_name}}</option>
            </select>
          </div>
          <label *ngIf="transfrTotRows>0"
            class="col-2 col-form-label col-form-label-sm text-danger">TotRows:{{transfrTotRows}}</label>
          <label class="col-2 col-form-label col-form-label-sm">TransferLimit</label>
          <div class="col-sm-2">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="transfrLimit" />
          </div>
          <div class="col-sm-2">
            <button [disabled]="loading" (click)="SaveImportData()" class="btn btn-primary btn-sm">Import Data</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <br>
  <div *ngIf="gs.globalVariables.user_code == 'ADMIN'" class="page-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group row">
          <div class="col-2">
            <button [disabled]="loading" (click)="ShowDocuments(doc)" class="btn btn-primary btn-sm">Documents</button>
            <button [disabled]="loading" (click)="SearchRecord('26AS-UPDATE-FILE')"
              class="btn btn-primary btn-sm">Process 26AS</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentTab=='UPDATEDATA'" class="page-box">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATENARRATION')" class="btn btn-primary btn-sm">Update
            Narration</button>
          <button [disabled]="loading" (click)="AutoRefresh()" class="btn btn-primary btn-sm">AutoRefresh</button>
        </div>
      </div>
      <hr />
      <br />
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATEINVOICENUMBERS')"
            class="btn btn-primary btn-sm">Update INVNOS</button>
        </div>
      </div>

      <hr />
      <br />

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATECC', 'MBL-SE')"
            class="btn btn-primary btn-sm">Update SE CC</button>
        </div>
      </div>

      <hr />
      <br />

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATECC', 'MBL-AE')"
            class="btn btn-primary btn-sm">Update AE CC</button>
        </div>
      </div>

      <hr />
      <br />


      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATECC', 'MBL-SI')"
            class="btn btn-primary btn-sm">Update SI CC</button>
        </div>
      </div>

      <hr />
      <br />


      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATECC', 'MBL-AI')"
            class="btn btn-primary btn-sm">Update AI CC</button>
        </div>
      </div>

      <hr />
      <br />

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATECC', 'JOB-GN')"
            class="btn btn-primary btn-sm">Update GENJOB CC</button>
        </div>
      </div>

      <hr />
      <br />

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATECC', 'HO')" class="btn btn-primary btn-sm">Update
            Costing CC </button>
        </div>
      </div>
      <hr />
      <br />

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDATECC', 'REBATE')"
            class="btn btn-primary btn-sm">Update REBATE CC</button>
        </div>
      </div>

      <hr />
      <br />
      <hr />
      <hr />
      <br />
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDT-MBL-CNTR', 'MBL-SE')"
            class="btn btn-primary btn-sm">Update MBL CNTR</button>
        </div>
      </div>

      <hr />
      <br />
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">From</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no1" maxlength="15" />
        </div>
        <label class="col-2 col-form-label col-form-label-sm">To</label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="no2" maxlength="15" />
        </div>
        <div class="col-sm-2">
          <button [disabled]="loading" (click)="SaveInvoices('UPDT-JOB-CNTR', '')" class="btn btn-primary btn-sm">Update
            JOB CNTR</button>
        </div>
      </div>

      <hr />
      <br />

    </div>
  </div>
</div>


<div *ngIf="currentTab=='IMPORTDATA'">

  <!-- copy data from cpl to other database -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <h4 class="p-4">this is to copy data from cpl to sgt</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('RITCM','')" class="btn btn-primary btn-sm">RITCM</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('DBKSCHEDM','')" class="btn btn-primary btn-sm">DBK SCHEDULE</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','DISTRICT')" class="btn btn-primary btn-sm">DISTRICT</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','COMMODITY')" class="btn btn-primary btn-sm">COMMODITY</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','SCHEME CODE')" class="btn btn-primary btn-sm">SCHEME CODE</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','CONTAINER TYPE')" class="btn btn-primary btn-sm">CONTAINER
            TYPE</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','UNIT')" class="btn btn-primary btn-sm">UNIT</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','END USE')" class="btn btn-primary btn-sm">END USE</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','ESANCHITDOC')" class="btn btn-primary btn-sm">ESANCHIT
            DOC</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','SW-INFO')" class="btn btn-primary btn-sm">SW INFO</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','SW-CTRL')" class="btn btn-primary btn-sm">SW CTRL</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <button (click)="ImportDataFromCPL('PARAM','TRADE AGREEMENTS')" class="btn btn-primary btn-sm">TRADE
            AGREEMENTS</button>
        </div>
      </div>




    </div>
  </div>


</div>


<div *ngIf="currentTab=='CULTURE'" class="page-details">
  <div class="row">
    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th width="30%">CAPTION</th>
            <th width="70%">VALUE</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of CultureList">
          <tr>
            <td>{{rec.code}}</td>
            <td>{{rec.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<br />

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>
<ng-template #doc let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Documents</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-upload [pkid]="'BCFAFC91-B127-4D7F-908A-0C7180D1345F'" [type]="'26AS-UPDATE'"></app-upload>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>