<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="col-3 col-form-label  col-form-label-sm">Description</label>
        <div class="col-9">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="mRecord.bc_desc" (blur)="OnBlur('bc_desc')"
            required maxlength="100" />
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">HSCode</label>
        <div class="col-10">
          <app-autocomplete #HsLov [inputdata]="RITCRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="col-5 col-form-label  col-form-label-sm">Wt.(Excludes.Tare)</label>
        <div class="col-4">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="mRecord.bc_wt" (blur)="OnBlur('bc_wt')"
            required maxlength="15" />
        </div>
        <div class="col-3">
          <select class="form-control form-control-sm" [(ngModel)]="mRecord.bc_wt_unit">
            <option [value]="'KG'">KG</option>
            <option [value]="'LBS'">LBS</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm">Gr.Volume</label>
        <div class="col-sm-4">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="mRecord.bc_cbm" (blur)="OnBlur('bc_cbm')"
            required maxlength="15" />
        </div>
        <div class="col-4">
          <select class="form-control form-control-sm" [(ngModel)]="mRecord.bc_cbm_unit">
            <option [value]="'CBM'">CBM</option>
            <option [value]="'CFT'">CFT</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-group row">
        <div class="col-sm-12">
          <i class="fa fa-plus fa-lg pointer" aria-hidden="true" (click)="AddRow()"></i>
          <i class="fa fa-trash fa-lg pointer" aria-hidden="true" (click)="RemoveRow()"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="col-5 col-form-label  col-form-label-sm">Package Count</label>
        <div class="col-4">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="mRecord.bc_pkg" (blur)="OnBlur('bc_pkg')"
            required maxlength="10" />
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="col-4 col-form-label  col-form-label-sm">Package Type</label>
        <div class="col-4">
          <app-autocomplete #HsLov [inputdata]="PKGUNITRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
        </div>
      </div>
    </div>


  </div>
</div>
<hr>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>