<div class="page-box mt-1">
  <div class="row">
    <div class="col-sm-8 pr-0">
      <div *ngIf="showCaption" class="form-group row mx-0">
        <label style="background-color:lightgray;"
        class="col-sm-1  col-form-label col-form-label-sm pl-0">PREBK#</label>
        <label style="background-color:lightgray;"
        class="col-sm-4  col-form-label col-form-label-sm pl-0">SHIPPER</label>
      <label style="background-color:lightgray;"
        class="col-sm-4  col-form-label col-form-label-sm pl-0 pr-1">CONSIGNEE</label>
      <label style="background-color:lightgray;" class="col-sm-3  col-form-label col-form-label-sm pl-2 pr-1">NOTIFY</label>
      </div>
      <div class="form-group row">
        <div class="col-sm-1 pr-1">
          <input type="number" disabled [style.color]="mRecord.row_colour" class="form-control form-control-sm"
            [(ngModel)]="mRecord.hp_order" (blur)="OnBlur('hp_order')" required maxlength="15" />
        </div>
        <div class="col-sm-2 pl-0 pr-1">
          <app-autocomplete #expLov [disabled]="mRecord.hp_booking_locked" [inputdata]="EXPRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete>
        </div>
        <div class="col-sm-2 pl-0">
          <input type="text" [style.color]="mRecord.row_colour" disabled class="form-control form-control-sm"
            [(ngModel)]="mRecord.hp_exp_name" />
        </div>
        <!-- <label class="col-sm-1 col-form-label col-form-label-sm">Consignee</label> -->
        <div class="col-sm-2 pl-0 pr-1">
          <app-autocomplete #impLov [disabled]="mRecord.hp_booking_locked" [inputdata]="IMPRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete>
        </div>
        <div class="col-sm-2 pl-0">
          <input type="text" [style.color]="mRecord.row_colour" disabled class="form-control form-control-sm"
            [(ngModel)]="mRecord.hp_imp_name" />
        </div>
        <div class="col-sm-2 pl-0 pr-1">
          <app-autocomplete #LinerLov [disabled]="mRecord.hp_booking_locked" [inputdata]="NOTIFYRECORD" (ValueChanged)="LovSelected($event)">
          </app-autocomplete>
        </div>
        <div class="col-sm-1 pl-0 pr-3">
          <input type="text" [disabled]="mRecord.hp_booking_locked" [style.color]="mRecord.row_colour" class="form-control form-control-sm"
            [(ngModel)]="mRecord.hp_notify_name" (blur)="OnBlur('hp_notify_name')" required maxlength="60" />
        </div>
      </div>
    </div>

    <div class="col-sm-4 pl-0">
      <div *ngIf="showCaption" class="form-group row mx-0">
        <label style="background-color:lightgray;" class="col-sm-3 col-form-label col-form-label-sm pl-2">CBM</label>
        <label style="background-color:lightgray;" class="col-sm-2 col-form-label col-form-label-sm pl-0">PKGS</label>
        <label style="background-color:lightgray;" class="col-sm-3 col-form-label col-form-label-sm pl-1">KGS</label>
        <label style="background-color:lightgray;" class="col-sm-4 col-form-label col-form-label-sm pl-2">STATUS</label>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 pl-4 pr-0">
          <input type="number" [style.color]="mRecord.row_colour" class="form-control form-control-sm"
            [(ngModel)]="mRecord.hp_cbm" (blur)="OnBlur('hp_cbm')" required maxlength="15" />
        </div>
        <div class="col-sm-2 pl-1 pr-0">
          <input type="number" [style.color]="mRecord.row_colour" class="form-control form-control-sm"
            [(ngModel)]="mRecord.hp_pcs" (blur)="OnBlur('hp_pcs')" required maxlength="15" />
        </div>
        <div class="col-sm-3 pl-1 pr-0">
          <input type="number" [style.color]="mRecord.row_colour" class="form-control form-control-sm"
            [(ngModel)]="mRecord.hp_kgs" (blur)="OnBlur('hp_kgs')" required maxlength="15" />
        </div>
        <div class="col-sm-4 input-group input-group-sm pl-1">
          <select class="form-control form-control-sm" [(ngModel)]="mRecord.hp_bkm_status">
            <option [value]="'BOOKED'">BOOKED</option>
            <option [value]="'ACTIVE'">CONFIRMED</option>
            <option [value]="'CANCELLED'">CANCELLED</option>
          </select>&nbsp;
          <i class="fa fa-plus fa-md pointer pt-2" aria-hidden="true" (click)="AddRow()"></i>&nbsp;
          <!-- <i class="fa fa-trash fa-md pointer" aria-hidden="true" (click)="RemoveRow()"></i> -->
        </div>
        <!-- <div class="col-sm-1">
        <i class="fa fa-plus fa-md pointer" aria-hidden="true" (click)="AddRow()"></i>&nbsp;
        <i class="fa fa-trash fa-md pointer" aria-hidden="true" (click)="RemoveRow()"></i>
      </div> -->
      </div>
    </div>
  </div>
</div>