<div class="page-list">
    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>INVOICE.NO</th>
                    <th>DATE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList">
                    <td style="padding:0px 0px 0px 0px"><input type="text" name="invno"
                            class="form-control form-control-sm" [(ngModel)]="rec.bd_desc" required
                            maxlength="60" (blur)="OnBlur('bd_desc',rec)" /></td>
                    <td style="padding:0px 0px 0px 0px">
                        <app-date [inputdate]="rec.bd_date" (ValueChanged)="rec.bd_date=$event"></app-date>
                    </td>

                    <td>
                        <i class="fa fa-plus fa-lg pointer" aria-hidden="true" (click)="AddRow()"></i>
                        <i class="fa fa-trash fa-lg pointer" aria-hidden="true" (click)="RemoveRow()"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="page-box">
    <div class="col">
        <button [disabled]="loading" (click)="Save()" class="btn btn-default btn-sm">SAVE</button>
    </div>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>