<div class="page-list">
    <div class="page-search">
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <label class="col-3 col-form-label col-form-label-sm">Category</label>
                    <div class="col-9">
                        <select class="form-control form-control-sm" [(ngModel)]="partnercategory">
                            <option value="AMS">AMS</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!-- <button [disabled]="loading" (click)="List()" class="btn btn-primary btn-sm">Search</button> -->
                <button [disabled]="loading" (click)="ImportData()" class="btn btn-primary btn-sm">Process</button>
                <button [disabled]="loading" (click)="ValidateXml()" class="btn btn-primary btn-sm">Validate</button>
                <button [disabled]="loading" (click)="GenerateXml('CHECK-LIST')" class="btn btn-primary btn-sm">Refresh</button>
                <button [disabled]="loading" (click)="GenerateXml('XML-FILE')" class="btn btn-primary btn-sm">Send</button>
                <i *ngIf="loading" class="fa fa-spinner"></i>
            </div>
        </div>
    </div>
</div>
<div class="page-list">
    <ngb-tabset  #tabset>
        <ngb-tab title="Check List" id="tabchk">
            <ng-template ngbTabContent>
                <div class="page-box">
                    <div [style.height]="'350px'" [style.overflow-y]="'scroll'">
                        <div innerHTML="{{sHtml}}"></div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Error List">
            <ng-template ngbTabContent>
                <app-edierror [showHeading]=false [EdiErrorList]="EdiErrorList"></app-edierror>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Code Mapping">
            <ng-template ngbTabContent>
                <app-linkm2 [showheader]=false> </app-linkm2>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>