<div class="input-group input-group-sm">
  <input [disabled]="disabled" type="text" class="form-control form-control-sm" (focus)="onfocus()" (blur)="onBlur()"
    [(ngModel)]="displaydata" #inputbox style="max-height:27px !important" />
  <button [disabled]="showDiv || disabled" [ngStyle]="setMyStyles()" class="btn btn-default btn-sm" (click)="List()"
    type="button">...</button>
</div>

<div [ngClass]="{'my-class': showDiv}">

  <div *ngIf="showDiv">
    <button type="button" class="close" aria-label="Close" (click)="Cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul *ngFor="let item of RecList">
      <li><a (click)="SelectedItem('LIST',item)">{{item.name}}</a></li>
    </ul>
    <ul *ngIf="bShowMore">
      <li><a (click)="More()">More...</a></li>
    </ul>

  </div>

</div>