<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">


  <div class="page-search">
    <div class="row">
      <label class="col-1">Search</label>
      <div class="col-4">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col-1">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
      </div>
    </div>
  </div>



  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th>DUE-DATE</th>
          <th>TYPE</th>
          <th>DUE MONTHS</th>
          <th>NO. OF AREARS</th>

          <th style="text-align:right">GROSS-AMT</th>
          <th style="text-align:right">TDS-AMT</th>
          <th style="text-align:right">TOTAL-DED</th>
          <th style="text-align:right">NET-AMT</th>
          <th>LOCKED</th>
          <th>POSTED</th>
          <th>JV#</th>
          <th>HO-JV#</th>
          <th *ngIf="bAdmin">DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
        <tr>
          <td class="hlink" (click)="ActionHandler('EDIT',rec.salh_pkid)">{{rec.salh_date}}</td>
          <td>{{rec.salh_incentive_type_name}}</td>
          <td>{{rec.salh_due_months}}</td>
          <td>{{rec.salh_arears_nos}}</td>

          <td align="right">{{rec.salh_gross_amt}}</td>
          <td align="right">{{rec.salh_tds_amt}}</td>
          <td align="right">{{rec.salh_total_ded}}</td>
          <td align="right">{{rec.salh_net_amt}}</td>
          <td>{{rec.salh_edit_code == '{S}' ? 'N' : 'Y'}}</td>
          <td>{{rec.salh_posted}}</td>
          <td>{{rec.salh_jvno}}</td>
          <td>{{rec.salh_jvno_ho}}</td>
          <td *ngIf="bAdmin">
            <App-Dialog [id]="{msg:'DELETE Y/N', buttons:'yn', selected :false,id:rec.salh_pkid,name:''}"
              (result)="RemoveList($event)"></App-Dialog>
          </td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="page-box">

    <div class="row">

      <div class="col-sm-6">

        <div class="form-group row">
          <label class="col-3 col-form-label col-form-label-sm" >Due Date</label>
          <div class="col-9">
            <app-date [inputdate]="Record.salh_date" (ValueChanged)="Record.salh_date=$event"></app-date>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label  col-form-label-sm">Incentive Type</label>
          <div class="col-sm-9">
            <select class="form-control form-control-sm" [(ngModel)]="Record.salh_incentive_type_id">
              <option *ngFor="let rec of IncentiveTypeList" [value]="rec.param_pkid">{{rec.param_name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label  col-form-label-sm">Due Months</label>
          <div class="col-9">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.salh_due_months"
               required maxlength="15" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label  col-form-label-sm">Total No. Of Arears</label>
          <div class="col-9">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.salh_arears_nos"
              required maxlength="15" />
          </div>
        </div>

        

      </div>

      <div class="col-sm-3">

        <div class="form-group row">
          <label class="col-3 col-form-label col-form-label-sm">Gross</label>
          <label class="col-3 col-form-label col-form-label-sm">{{Record.salh_gross_amt}}</label>
        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label col-form-label-sm">Tds</label>
          <label class="col-3 col-form-label col-form-label-sm">{{Record.salh_tds_amt}}</label>
        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label col-form-label-sm">Deduction</label>
          <label class="col-3 col-form-label col-form-label-sm">{{Record.salh_total_ded}}</label>
        </div>




        <div class="form-group row">
          <label class="col-3 col-form-label col-form-label-sm">Net</label>
          <label class="col-3 col-form-label col-form-label-sm">{{Record.salh_net_amt}}</label>
        </div>

      </div>

      <div class="col-sm-3">
        <div class="form-group row">
          <button [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm" *ngIf="Record.salh_edit_code == '{S}'" > {{mode =='ADD' ? 'Process' : 'Re-Process'}} </button>
        </div>
        <div class="form-group row">
          <button *ngIf="bAdmin" [disabled]="loading" (click)="PostJV()" class="btn btn-success btn-sm  mr-1"> Post JV {{jvdesc}} </button>
        </div>

        <div class="form-group row">
            <input class="form-check-input" type="checkbox" [(ngModel)]="excelall">
            <button [disabled]="loading" (click)="Print('EXCEL')" class="btn btn-success btn-sm"> Excel </button>
        </div>

        <div class="form-group row">
            <input class="form-check-input" type="checkbox"  [(ngModel)]="csvall">
            <button [disabled]="loading" (click)="Print('CSV')" class="btn btn-success btn-sm"> CSV </button>
          </div>
      </div>

    </div>
  </div>

  <div class="page-box">

    <div class="page-body table-responsive">
      <table class="table table-hover table-sm table-bordered table-striped">
        <thead class="page-body-thead">
          <tr>
            <th width="10%">CODE</th>
            <th width="15%">NAME</th>
            <th width="8%">AREARS(+)</th>
            <th width="8%">INCENTIVE(+)</th>
            <th width="8%">OTH-ALLOW(+)</th>
            <th width="8%">OTH-DED(-)</th>
            <th width="8%">TDS(-)</th>
            <th style="text-align:right" width="8%">GROSS-AMT</th>
            <th style="text-align:right" width="8%">TOTAL-DED</th>
            <th style="text-align:right" width="8%">NET-AMT</th>
            <th style="text-align:center" width="10%" *ngIf="Record.salh_edit_code == '{S}'"> UPDATE</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr *ngFor="let rec of RecordDet; let i = index" [class.active]="i == selectedRowIndex"
            (mousedown)="selectedRowIndex=i">
            <td>{{rec.sald_emp_code}}</td>
            <td>{{rec.sald_emp_name}}</td>


            <td style="padding:0px 0px 0px 0px"><input type="number" name="sald_arears_amt"
                class="form-control form-control-sm" [(ngModel)]="rec.sald_arears_amt" required maxlength="14"
                (blur)="OnBlur('sald_arears_amt',rec)" /></td>
            <td style="padding:0px 0px 0px 0px"><input type="number" name="sald_incentive_amt"
                class="form-control form-control-sm" [(ngModel)]="rec.sald_incentive_amt" required maxlength="14"
                (blur)="OnBlur('sald_incentive_amt',rec)" /></td>
            <td style="padding:0px 0px 0px 0px"><input type="number" name="sald_allow_amt"
                class="form-control form-control-sm" [(ngModel)]="rec.sald_allow_amt" required maxlength="14"
                (blur)="OnBlur('sald_allow_amt',rec)" /></td>

            <td style="padding:0px 0px 0px 0px"><input type="number" name="sald_ded_amt"
                class="form-control form-control-sm" [(ngModel)]="rec.sald_ded_amt" required maxlength="14"
                (blur)="OnBlur('sald_ded_amt',rec)" /></td>
            <td style="padding:0px 0px 0px 0px"><input type="number" name="sald_tds_amt"
                class="form-control form-control-sm" [(ngModel)]="rec.sald_tds_amt" required maxlength="14"
                (blur)="OnBlur('sald_tds_amt',rec)" /></td>

            <td align="right">{{rec.sald_gross_amt}}</td>
            <td align="right">{{rec.sald_total_ded}}</td>
            <td align="right">{{rec.sald_net_amt}}</td>
            <td class="hlink" align="center" (click)="UpdateRecord(rec)" *ngIf="Record.salh_edit_code == '{S}'">UPDATE</td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>
