<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
    <button class="btn btn-primary btn-sm mr-2" (click)="Close()">Close</button>
    <label *ngIf="currentTab=='DETAILS'" class="col-form-label col-form-label-sm" style="color:red">
      {{mode=='ADD'?'NEW':'EDIT'}}&nbsp;RECORD
    </label>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Entry.Date</label>
          <div class="col-sm-10">
            <app-date [inputdate]="fromdate" (ValueChanged)="fromdate=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">To</label>
          <div class="col-sm-10">
            <app-date [inputdate]="todate" (ValueChanged)="todate=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Validity.Date</label>
          <div class="col-sm-10">
            <app-date [inputdate]="search_validdate" (ValueChanged)="search_validdate=$event">
            </app-date>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Country</label>
          <div class="col-sm-10">
            <app-autocomplete3 [controlname]="'SEARCHCOUNTRY'" [tabletype]="'COUNTRY'" [displaycolumn]="'NAME'"
              [displaydata]="search_country" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Pol</label>
          <div class="col-sm-10">
            <app-autocomplete3 [controlname]="'SEARCHPOL'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
              [displaydata]="search_pol" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Pod</label>
          <div class="col-sm-10">
            <app-autocomplete3 [controlname]="'SEARCHPOD'" [tabletype]="'SEA PORT'" [displaycolumn]="'NAME'"
              [displaydata]="search_pod" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Carrier</label>
          <div class="col-sm-10">
            <app-autocomplete3 [controlname]="'SEARCHCARRIER'" [tabletype]="'AIR CARRIER'" [displaycolumn]="'NAME'"
              [displaydata]="search_carrier" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Sort.By</label>
          <div class="col-sm-10">
            <select class="form-control form-control-sm" [(ngModel)]="sort_by">
              <option [value]="'a.rec_created_date'">ENTRY DATE</option>
              <option [value]="'abr_country_code'">COUNTRY</option>
              <option [value]="'abr_pol_code'">POL</option>
              <option [value]="'abr_pod_code'">POD</option>
              <option [value]="'abr_carrier_code'">CARRIER</option>
              <option [value]="'abr_effective_date,abr_validity_date'">VALIDITY</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{bAdmin?'Branch':''}}</label>
          <div *ngIf="bAdmin" class="col-sm-4">
            <app-autocomplete3 [controlname]="'BRANCH'" [tabletype]="'BRANCH'" [displaycolumn]="'CODE'"
              [displaydata]="search_branch_code" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
          <div *ngIf="bAdmin" class="col-sm-2 mt-1">
            <input type="checkbox" [(ngModel)]="allbr" (change)="OnChange('allbr')">
            All
          </div>
          <div class="col-sm-4">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm mr-1">Search</button>
            <button *ngIf='bPrint' [disabled]="loading" (click)="List('EXCEL')"
              class="btn btn-primary btn-sm">Print</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>

          <th>USER</th>
          <th *ngIf="bAdmin">BRANCH</th>
          <th>ENTRY-DATE</th>
          <th>EFFECTIVE-DATE</th>
          <th>VALIDITY-DATE</th>
          <th>COUNTRY</th>
          <th>POL</th>
          <th>POD</th>
          <th>CARRIER</th>
          <th>ROUTING</th>
          <th>FLIGHT-ON</th>
          <th>TRANSIT</th>
          <th>SERVICE</th>
          <th>CURR</th>
          <th>EX-RATE</th>
          <th>ALL.IN-PUB</th>
          <th>ALL.IN-INFO</th>
          <th>COPY</th>
          <th *ngIf='bDelete' align="center">DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i">
          <td class="hlink" (click)="ActionHandler('EDIT',rec.abr_pkid)">{{rec.rec_created_by}}</td>
          <td *ngIf="bAdmin">{{rec.rec_branch_code}}</td>
          <td>{{rec.rec_created_date}}</td>
          <td>{{rec.abr_effective_date}}</td>
          <td>{{rec.abr_validity_date}}</td>
          <td>{{rec.abr_country_code}}</td>
          <td>{{rec.abr_pol_code}}</td>
          <td>{{rec.abr_pod_code}}</td>
          <td>{{rec.abr_carrier_code}}</td>
          <td>{{rec.abr_routing}}</td>
          <td>{{rec.abr_flights}}</td>
          <td>{{rec.abr_transit}}</td>
          <td>{{rec.abr_service}}</td>
          <td>{{rec.abr_currency}}</td>
          <td>{{rec.abr_ex_rate}}</td>
          <td>{{rec.abr_published_allin}}</td>
          <td>{{rec.abr_informed_allin}}</td>
          <td class="hlink" (click)="DuplicateBuyrate(rec.abr_pkid)">COPY</td>
          <td *ngIf='bDelete' align="center"><i class="fa fa-trash fa-lg pointer" aria-hidden="true"
              (click)="RemoveRecord(rec.abr_pkid)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="page-box p-1">

    <div class="row">
      <div class="col-sm-5">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">POL</label>
          <div class="col-sm-4">
            <!-- <app-autocomplete2 #LoadPortLov [inputdata]="POLRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete2> -->
            <app-autocomplete3 [controlname]="'POL'" [tabletype]="'AIR PORT'" [displaycolumn]="'CODE'"
              [displaydata]="Record.abr_pol_code" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
          <div class="col-sm-6" style="padding-left:0">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.abr_pol_name"
              (blur)="OnBlur('abr_pol_name')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">POD</label>
          <div class="col-sm-4">
            <!-- <app-autocomplete2 #DestPortLov [inputdata]="PODRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete2> -->
            <app-autocomplete3 [controlname]="'POD'" [tabletype]="'AIR PORT'" [displaycolumn]="'CODE'"
              [displaydata]="Record.abr_pod_code" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
          <div class="col-sm-6" style="padding-left:0">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.abr_pod_name"
              (blur)="OnBlur('abr_pod_name')" required maxlength="60" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Carrier</label>
          <div class="col-sm-4">
            <!-- <app-autocomplete2 #LinerLov [inputdata]="LINERRECORD" (ValueChanged)="LovSelected($event)">
            </app-autocomplete2> -->
            <app-autocomplete3 [controlname]="'CARRIER'" [tabletype]="'AIR CARRIER'" [displaycolumn]="'CODE'"
              [displaydata]="Record.abr_carrier_code" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
          <div class="col-sm-6" style="padding-left:0">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.abr_carrier_name"
              (blur)="OnBlur('abr_carrier_name')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Country</label>
          <div class="col-sm-4">
            <app-autocomplete3 [controlname]="'COUNTRY'" [tabletype]="'COUNTRY'" [displaycolumn]="'CODE'"
              [displaydata]="Record.abr_country_code" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
          <div class="col-sm-6" style="padding-left:0">
            <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.abr_country_name"
              (blur)="OnBlur('abr_country_name')" required maxlength="100" />
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Effective.Date</label>
          <div class="col-sm-4">
            <app-date #_sbr_valid_from [inputdate]="Record.abr_effective_date"
              (ValueChanged)="Record.abr_effective_date=$event"></app-date>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Validity.Date</label>
          <div class="col-sm-4">
            <app-date #_sbr_valid_to [inputdate]="Record.abr_validity_date"
              (ValueChanged)="Record.abr_validity_date=$event">
            </app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Currency</label>
          <div class="col-sm-4">
            <app-autocomplete3 [controlname]="'CURR'" [tabletype]="'CURRENCY'" [displaycolumn]="'CODE'"
              [displaydata]="Record.abr_currency" (ValueChanged)="LovSelected($event)">
            </app-autocomplete3>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Ex-Rate</label>
          <div class="col-sm-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.abr_ex_rate"
              (blur)="OnBlur('abr_ex_rate')" required maxlength="10" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Gst%</label>
          <div class="col-sm-4">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.abr_gst_rate"
              (blur)="OnBlur('abr_gst_rate')" required maxlength="14" />
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">Terms</label>
          <div class="col-sm-4">
            <select class="form-control form-control-sm" [(ngModel)]="Record.abr_terms">
              <option [value]="'COLLECT'">COLLECT</option>
              <option [value]="'PREPAID'">PREPAID</option>
              <option [value]="'BOTH'">BOTH</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Remarks</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.abr_remarks"
              (blur)="OnBlur('abr_remarks')" required maxlength="100" />
          </div>
        </div>

      </div>
      <div class="col-sm-2">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">RATE</label>
          <label style="padding-right:0" class="col-5 col-form-label col-form-label-sm">Minimum</label>
          <label style="padding-right:0;padding-left:1px" class="col-5 col-form-label col-form-label-sm">Normal</label>
        </div>
        <div class="form-group row">
          <label style="padding-right:0" class="col-2 col-form-label col-form-label-sm">FRT</label>
          <div style="padding-right:0" class="col-5">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.abr_freight_min_rate"
              (blur)="OnBlur('abr_freight_min_rate')" required maxlength="55" />
          </div>
          <div style="padding-left:1px" class="col-5">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.abr_freight_norm_rate"
              (blur)="OnBlur('abr_freight_norm_rate')" required maxlength="15" />
          </div>
        </div>
        <div class="form-group row">
          <label style="padding-right:0" class="col-2 col-form-label col-form-label-sm">MCC</label>
          <div style="padding-right:0" class="col-5">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.abr_mcc_min_rate"
              (blur)="OnBlur('abr_mcc_min_rate')" required maxlength="55" />
          </div>
          <div style="padding-left:1px" class="col-5">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.abr_mcc_norm_rate"
              (blur)="OnBlur('abr_mcc_norm_rate')" required maxlength="15" />
          </div>
        </div>
        <div class="form-group row">
          <label style="padding-right:0" class="col-2 col-form-label col-form-label-sm">SRC</label>
          <div style="padding-right:0" class="col-5">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.abr_src_min_rate"
              (blur)="OnBlur('abr_src_min_rate')" required maxlength="55" />
          </div>
          <div style="padding-left:1px" class="col-5">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.abr_src_norm_rate"
              (blur)="OnBlur('abr_src_norm_rate')" required maxlength="15" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-box p-1">
    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm my-0">
        <thead class="page-body-thead">
          <tr>
            <th></th>
            <th>ALL.IN</th>
            <th>+45KGS</th>
            <th>+100KGS</th>
            <th>+300KGS</th>
            <th>+500KGS</th>
            <th>+1000KGS</th>
            <th>FSC/KG</th>
            <th>WSC/KG</th>
            <th>SRC/KG</th>
            <th>MCC/KG</th>
            <th>MCC/MIN</th>
            <th>SSC/KG</th>
            <th>XRAY/KG</th>
            <th>XRAY/MIN</th>
            <th>ENS</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr>
            <td style="padding-left:0;padding-top: 4px;padding-bottom: 0;padding-right: 0;">
              <span><strong>PUBLISHED</strong></span>
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_allin" (blur)="OnBlur('abr_published_allin')" required
                maxlength="14" /> </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_45kg" (blur)="OnBlur('abr_published_45kg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_100kg" (blur)="OnBlur('abr_published_100kg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_300kg" (blur)="OnBlur('abr_published_300kg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_500kg" (blur)="OnBlur('abr_published_500kg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_1000kg" (blur)="OnBlur('abr_published_1000kg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_fsckg" (blur)="OnBlur('abr_published_fsckg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_wsckg" (blur)="OnBlur('abr_published_wsckg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_srckg" (blur)="OnBlur('abr_published_srckg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_mcckg" (blur)="OnBlur('abr_published_mcckg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_mccmin" (blur)="OnBlur('abr_published_mccmin')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_ssckg" (blur)="OnBlur('abr_published_ssckg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_xraykg" (blur)="OnBlur('abr_published_xraykg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_xraymin" (blur)="OnBlur('abr_published_xraymin')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_published_ens" (blur)="OnBlur('abr_published_ens')" required maxlength="14" />
            </td>
          </tr>
          <tr>
            <td style="padding-left:0;padding-top: 4px;padding-bottom: 0;padding-right: 0;">
              <span><strong>INFORMED</strong></span>
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_allin" (blur)="OnBlur('abr_informed_allin')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_45kg" (blur)="OnBlur('abr_informed_45kg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_100kg" (blur)="OnBlur('abr_informed_100kg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_300kg" (blur)="OnBlur('abr_informed_300kg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_500kg" (blur)="OnBlur('abr_informed_500kg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_1000kg" (blur)="OnBlur('abr_informed_1000kg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_fsckg" (blur)="OnBlur('abr_informed_fsckg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_wsckg" (blur)="OnBlur('abr_informed_wsckg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_srckg" (blur)="OnBlur('abr_informed_srckg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_mcckg" (blur)="OnBlur('abr_informed_mcckg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_mccmin" (blur)="OnBlur('abr_informed_mccmin')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_ssckg" (blur)="OnBlur('abr_informed_ssckg')" required maxlength="14" />
            </td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_xraykg" (blur)="OnBlur('abr_informed_xraykg')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_xraymin" (blur)="OnBlur('abr_informed_xraymin')" required
                maxlength="14" /></td>
            <td style="padding:0px"><input type="number" class="form-control form-control-sm"
                [(ngModel)]="Record.abr_informed_ens" (blur)="OnBlur('abr_informed_ens')" required maxlength="14" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="page-box p-1">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Routing</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.abr_routing"
              (blur)="OnBlur('abr_routing')" required maxlength="30" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Flight ON</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.abr_flights"
              (blur)="OnBlur('abr_flights')" required maxlength="30" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Transit</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.abr_transit"
              (blur)="OnBlur('abr_transit')" required maxlength="30" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Service</label>
          <div class="col-sm-10">
            <select class="form-control form-control-sm" [(ngModel)]="Record.abr_service">
              <option [value]="'DIRECT'">DIRECT</option>
              <option [value]="'INDIRECT'">INDIRECT</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Surcharges.Based</label>
          <div class="col-sm-10">
            <select class="form-control form-control-sm" [(ngModel)]="Record.abr_surchrg_based">
              <option [value]="'NA'">NA</option>
              <option [value]="'ALL ON CH. WT'">ALL ON CH. WT</option>
              <option [value]="'FSC & SSC ON GR. WT. OTHERS ON CH. WT'">FSC & SSC ON GR. WT. OTHERS ON CH. WT</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <!-- <div class="form-group row">
        <label class="offset-2 col-10 col-form-label col-form-label-sm" style="color:red">
          Eg: If day of week is Monday then put "DAY" as 1 <br>
          If multiple days say Monday and Friday then put "DAY" as 1 & 5
        </label>
      </div> -->
      </div>
    </div>
  </div>
  <div class="page-box">
    <div class="col-sm-6">
      <button [hidden]="disableSave" [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm">Save</button>
      <button [disabled]="loading" (click)="DuplicateBuyrate(Record.abr_pkid)"
        class="btn btn-success btn-sm">Copy</button>
      <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-success btn-sm">Return</button>
      <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
  </div>
  <br>
</div>
<br />

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>