<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group row">
          <label class="col-sm-4">Search</label>
          <div class="col-sm-8">
            <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring"
              (blur)="OnBlur('searchstring')" />
          </div>
        </div>
      </div>
      <div *ngIf="type == 'SALESMAN'" class="col-sm-3">
        <div class="form-group row">
          <label class="col-sm-4">Category</label>
          <div class="col-sm-8">
            <select class="form-control form-control-sm" [(ngModel)]="searchid1">
              <option [value]="'NA'">NA</option>
              <option [value]="'ALL'">ALL</option>
              <option [value]="'CSD'">CSD</option>
              <option [value]="'SALESPERSON'">SALESPERSON</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group row">
          <div *ngIf="type == 'SALESMAN'" class="col-sm-5">
            <input type="checkbox" [(ngModel)]="reclocked" id="_chklocked" />
            <label class="col-form-label col-form-label-sm" for="_chklocked">Locked</label>
          </div>
          <div class="col-sm-7">
            <input type="checkbox" [(ngModel)]="sortby" id="_chksortby" />
            <label class="col-form-label col-form-label-sm" for="_chksortby">Sort By Code</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group row">
          <div class="col-sm-12">
            <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm mr-1">Search</button>
            <button *ngIf="bPrint" [disabled]="loading" (click)="List('EXCEL')"
              class="btn btn-primary btn-sm mr-1">Print</button>
            <button [disabled]="loading" *ngIf="type == 'CURRENCY' && gs.globalVariables.user_code == 'ADMIN'"
              (click)="ImportData(paramimport)" class="btn btn-primary btn-sm">Import Data</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>{{ListCode}}</th>
          <th>{{ListName}}</th>
          <th *ngIf="type == 'PAN'">LOCATION</th>
          <th *ngIf="type == 'PAN'">AADHAAR LINKED</th>
          <th *ngIf="type == 'PAN'">ACTIVE</th>
          <th *ngIf="type == 'PAN'">DOI</th>
          <th *ngIf="type == 'USER HIERARCHY'">SUB USERS</th>
          <th *ngIf="type == 'SAC'">SAC CODE</th>
          <th *ngIf="type == 'CURRENCY'">{{id1}}</th>
          <th *ngIf="type == 'CURRENCY'">{{param_rate_caption}}</th>
          <th *ngIf="type == 'SALESMAN'">CATEGORY</th>
          <th *ngIf="type == 'SALESMAN'">BRANCH</th>
          <th *ngIf="type == 'SALESMAN'">EMAIL</th>
          <th *ngIf="type == 'SALESMAN'||type == 'TAN'||type == 'PAN'">LOCKED</th>
          <th *ngIf="type == 'COUNTRY'">REGION</th>
          <th *ngIf="type == 'APP-DOC-TYPES'">REGION</th>
          <th *ngIf="type == 'CONTAINER TYPE'">DESCRIPTION</th>
          <th *ngIf="type == 'SERVICE CONTRACT'">GROUP</th>
          <th *ngIf="type == 'PARAM'">CUSTOMER CODE</th>
          <th *ngIf="type == 'PARAM'">TYPE</th>
          <th *ngIf="type == 'DISTRICT'">STATE CODE</th>
          <th *ngIf="type == 'TRADE AGREEMENTS'">DATE</th>
          <th *ngIf="type == 'INFO-QLFR'">INFO TYPE</th>
          <th *ngIf="type == 'INFO-CODE'">INFO QLFR</th>
          <th *ngIf="type == 'CTRL-RESULT'">CTRL TYPE</th>
          <th *ngIf="type == 'VESSEL'">FLAG</th>
          <th *ngIf="type == 'SEA CARRIER'">SCAC</th>
          <th *ngIf="type == 'AIR CARRIER'">3DIGITCODE</th>
          <th *ngIf="type == 'AIR CARRIER'">TYPE</th>
          <th *ngIf="type == 'AIR CARRIER'">SCAC</th>

          <td *ngIf="type == 'SEA TRACKING EVENTS' || type == 'AIR TRACKING EVENTS'">TYPE</td>
          <td *ngIf="type == 'SEA TRACKING EVENTS' || type == 'AIR TRACKING EVENTS'">COLUMN</td>
          <td *ngIf="type == 'SEA TRACKING EVENTS' || type == 'AIR TRACKING EVENTS'">ORDER</td>

          <th *ngIf="type == 'ACCSETTINGS'">VALUE</th>
          <th *ngIf="type == 'SALESAGENT'">AGENT</th>
          <th *ngIf="type == 'SALESAGENT'">EMAIL</th>
          <th *ngIf="type == 'EMPLOYEE DOCUMENTS'">GROUP</th>
          <th *ngIf="type == 'EMPLOYEE DOCUMENTS'">FILE TYPE</th>
          <th *ngIf="type == 'EMPLOYEE DOCUMENTS'">FILE SIZE(KB)</th>
          <th *ngIf="type == 'EMPLOYEE DOCUMENTS'">ORDER</th>
          <th *ngIf="type == 'LUT'">GSTIN</th>
          <th *ngIf="type == 'LUT'">STATE</th>
          <th *ngIf="type == 'LUT'">FIN-YEAR</th>
          <th *ngIf="type == 'ANALYSIS-CITY'">REGION</th>
          <th *ngIf="type == 'QUOTATION-CATEGORY'">ORDER</th>
          <th *ngIf="type == 'EMPLOYEE GRADE'">TRAVEL RULES</th>
          <th>CREATED.BY</th>
          <th>CREATED.DT</th>
          <th>EDITED.BY</th>
          <th>EDITED.DT</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList;  let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i">
          <td class="hlink" (click)="ActionHandler('EDIT',rec.param_pkid, i)">{{rec.param_code}}</td>
          <td>{{rec.param_name}}</td>
          <td *ngIf="type == 'PAN'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'PAN'">{{rec.param_id2}}</td>
          <td *ngIf="type == 'PAN'">{{rec.param_id3}}</td>
          <td *ngIf="type == 'PAN'">{{rec.param_date}}</td>
          <td *ngIf="type == 'USER HIERARCHY'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'SAC'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'CURRENCY'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'CURRENCY'">{{rec.param_rate!=0?rec.param_rate:''}}</td>
          <td *ngIf="type == 'SALESMAN'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'SALESMAN'">{{rec.param_id5_code}}</td>
          <td *ngIf="type == 'SALESMAN'">{{rec.param_email}}</td>
          <td *ngIf="type == 'SALESMAN'||type == 'TAN'||type == 'PAN'">{{rec.rec_locked?'Y':'N'}}</td>
          <td *ngIf="type == 'COUNTRY'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'APP-DOC-TYPES'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'CONTAINER TYPE'">{{rec.param_id3}}</td>
          <td *ngIf="type == 'SERVICE CONTRACT'">{{rec.param_id3}}</td>
          <td *ngIf="type == 'PARAM'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'PARAM'">{{rec.param_id2}}</td>
          <td *ngIf="type == 'DISTRICT'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'TRADE AGREEMENTS'">{{rec.param_id3}}</td>
          <td *ngIf="type == 'INFO-QLFR'">{{rec.param_id5_code}}</td>
          <td *ngIf="type == 'INFO-CODE'">{{rec.param_id5_code}}</td>
          <td *ngIf="type == 'CTRL-RESULT'">{{rec.param_id5_code}}</td>
          <td *ngIf="type == 'VESSEL'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'SEA CARRIER'">{{rec.param_id3}}</td>
          <td *ngIf="type == 'AIR CARRIER'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'AIR CARRIER'">{{rec.param_id2}}</td>
          <td *ngIf="type == 'AIR CARRIER'">{{rec.param_id3}}</td>

          <td *ngIf="type == 'SEA TRACKING EVETNS' || type == 'AIR TRACKING EVENTS'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'SEA TRACKING EVENTS' || type == 'AIR TRACKING EVENTS'">{{rec.param_id2}}</td>
          <td *ngIf="type == 'SEA TRACKING EVENTS' || type == 'AIR TRACKING EVENTS'">{{rec.param_id3}}</td>

          <td *ngIf="type == 'ACCSETTINGS'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'SALESAGENT'">{{rec.param_id5_name}}</td>
          <td *ngIf="type == 'SALESAGENT'">{{rec.param_email}}</td>
          <td *ngIf="type == 'EMPLOYEE DOCUMENTS'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'EMPLOYEE DOCUMENTS'">{{rec.param_id2}}</td>
          <td *ngIf="type == 'EMPLOYEE DOCUMENTS'">{{rec.param_id3}}</td>
          <td *ngIf="type == 'EMPLOYEE DOCUMENTS'">{{rec.param_rate}}</td>
          <td *ngIf="type == 'LUT'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'LUT'">{{rec.param_id5_name}}</td>
          <td *ngIf="type == 'LUT'">{{rec.param_id2}}</td>
          <td *ngIf="type == 'ANALYSIS-CITY'">{{rec.param_id5_name}}</td>
          <td *ngIf="type == 'QUOTATION-CATEGORY'">{{rec.param_rate}}</td>
          <td *ngIf="type == 'EMPLOYEE GRADE'">{{rec.param_id5_name}}</td>
          <td>{{rec.rec_created_by}}</td>
          <td>{{rec.rec_created_date}}</td>
          <td>{{rec.rec_edited_by}}</td>
          <td>{{rec.rec_edited_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">{{idCode}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_code" required
            [maxlength]="code_length" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{idName}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_name" required
            [maxlength]="name_length" />
        </div>
      </div>


      <div *ngIf="id1 != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{id1}}</label>
        <div *ngIf="type != 'SALESMAN'" class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_id1" required
            maxlength="200" />
        </div>
        <div *ngIf="type == 'SALESMAN'" class="col-10">
          <select class="form-control form-control-sm" [(ngModel)]="Record.param_id1">
            <option [value]="'NA'">NA</option>
            <option [value]="'CSD'">CSD</option>
            <option [value]="'SALESPERSON'">SALESPERSON</option>
          </select>
        </div>
      </div>

      <div *ngIf="id2 != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{id2}}</label>
        <div *ngIf="type != 'PAN'" class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_id2" required
            maxlength="60" />
        </div>
        <div *ngIf="type == 'PAN'" class="col-10">
          <select class="form-control form-control-sm" [(ngModel)]="Record.param_id2">
            <option [value]="'N'">NO</option>
            <option [value]="'Y'">YES</option>
          </select>
        </div>
      </div>

      <div *ngIf="id3 != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{id3}}</label>
        <div *ngIf="type != 'PAN'" class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_id3" required
            maxlength="60" />
        </div>
        <div *ngIf="type == 'PAN'" class="col-10">
          <select class="form-control form-control-sm" [(ngModel)]="Record.param_id3">
            <option [value]="'N'">NO</option>
            <option [value]="'Y'">YES</option>
          </select>
        </div>
      </div>

      <div *ngIf="id4 != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{id4}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_id4" required
            maxlength="60" />
        </div>
      </div>

      <div *ngIf="id5 != ''" class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">{{id5}}</label>
        <div class="col-4" style="padding-right:2px">
          <app-autocomplete #Id5Lov [inputdata]="ID5RECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
        </div>
        <div class="col-6" style="padding-left:0">
          <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.param_id5_name" />
        </div>
      </div>

      <div *ngIf="dateCaption != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{dateCaption}}</label>
        <div class="col-10">
          <app-date [inputdate]="Record.param_date" (ValueChanged)="Record.param_date=$event">
          </app-date>
        </div>
      </div>

      <div *ngIf="email != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{email}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_email" required
            maxlength="250" />
        </div>
      </div>





      <div *ngIf="type=='CURRENCY'||type=='EMPLOYEE DOCUMENTS'||type=='QUOTATION-CATEGORY'" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{param_rate_caption}}</label>
        <div class="col-10">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.param_rate" required
            maxlength="20" />
        </div>
      </div>



      <div *ngIf="type=='SALESMAN' || type =='ESANCHITDOC' || type =='TAN'|| type =='PAN'" class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Locked</label>
        <div class="col-10">
          <input type="checkbox" [(ngModel)]="Record.rec_locked">
          <span>Lock This Record</span>
        </div>

      </div>

      <div *ngIf="Comments != ''" class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Remarks</label>
        <div class="col-10">
          <span>{{Comments}}</span>
        </div>

      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="offset-2 col-10">
          <button [hidden]="disableSave" [disabled]="loading" (click)="Save()"
            class="btn btn-primary btn-sm">Save</button>
          <button [disabled]="loading" *ngIf="mode == 'EDIT' && showDocs && bDocs" (click)="ShowDocuments(doc)"
            class="btn btn-primary btn-sm">Documents</button>
          <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">Return</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<App-Wait [visible]="loading"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>

<ng-template #doc let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Documents</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-upload [pkid]="pkid" [type]="type"></app-upload>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #paramimport let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}&nbsp;Import</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <App-param-import [type]="type" (CloseClicked)="CloseParamImport($event)"></App-param-import>
  </div>
</ng-template>