<div class="page-details">
  <div class="col-sm-12">
    <div class="page-details">
      <div class="col-sm-12">

        <div class="form-group row" style="color:black">
          <label class="col-sm-1 col-form-label col-form-label-sm">Remarks</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="remarks" required maxlength="250" />
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm">Update</button>
            <button [disabled]="loading" (click)="Close()" class="btn btn-primary btn-sm">Close</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div *ngIf="format_type=='PENDING'" class="page-details">
  
  <div class="col">
    <font color="black">
      <strong>
        MBL#&nbsp;
      </strong>
    </font>
    <font color="red">
      {{mbl_no}}
    </font>
    <font color="black">
      <strong>
        MBL-INVNOS#&nbsp;
      </strong>
    </font>
    <font color="red">
      {{mbl_invno}}
    </font>
    <font color="black">
      <strong>
        MBL-INVAMT&nbsp;
      </strong>
    </font>
    <font color="red">
      {{mbl_invamt}}
    </font>
   
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="page-list">
      House List
      <div class="row">
        <div class="col-sm-12">
          <div class="page-body table-responsive">
            <table class="table  table-hover table-sm">
              <thead class="page-body-thead">
                <tr>
                  <th>HOUSE#</th>
                  <th>SHIPPER</th>
                  <th>INVNOS</th>
                  <th>INVAMT</th>
                  <th>STATUS</th>
                  <th>REMARKS</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex">
                  <td>{{rec.hbl_bl_no}}</td>
                  <td>{{rec.hbl_exporter_name}}</td>
                  <td>{{rec.hbl_ar_invnos}}</td>
                  <td>{{rec.hbl_ar_invamt}}</td>
                  <td>
                      <select class="form-control form-control-sm"  [(ngModel)]="rec.job_commodity">
                        <option [value]="'C'">COMPLETED</option>
                        <option [value]="'P'">PENDING</option>
                        <option [value]="'NA'">NOT REQUIRED</option>
                      </select>
                  </td>
                  <td style="padding:0"><input type="text" class="form-control form-control-sm"
                    [(ngModel)]="rec.hbl_ar_invnos" required maxlength="50" />
                 </td>
                  <td style="padding:0">
                    <button [disabled]="loading" (click)="SaveHouse()" class="btn btn-default btn-sm">Save</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   

  </div>
</div> -->

<br />




<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>