<div class="page-header">
    <div class="col">
        <label>{{title}}</label>
        <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
        <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
</div>
<div *ngIf="currentTab=='LIST'" class="page-list">
    <div class="page-search">
        <div class="row">
            <label class="col-2">Search</label>
            <div class="col">
                <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
            </div>
            <div class="col">
                <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
                <!-- <button *ngIf="bAdmin2" [disabled]="loading" (click)="List('EXCEL')"
            class="btn btn-primary btn-sm">EXCEL</button> -->
            </div>
        </div>
    </div>

    <div class="page-pager">
        <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                        (Records-{{page_rowcount}})</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>

    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>SL#</th>
                    <th>BRANCH</th>
                    <th>SALES PERSON</th>
                    <th>VISIT DATE</th>
                    <th>CUSTOMER</th>
                    <th>CONTACT PERSON</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList">
                    <td class="hlink" (click)="ActionHandler('EDIT',rec.mark_pkid)">{{rec.mark_id}}</td>
                    <td>{{rec.branch_name}}</td>
                    <td>{{rec.mark_user_name}}</td>
                    <td>{{rec.mark_visit_date}}</td>
                    <td>{{rec.mark_customer_name}}</td>
                    <td>{{rec.mark_contact_person}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="page-pager">
        <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                        (Records-{{page_rowcount}})</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a></li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div *ngIf="currentTab=='DETAILS'" class="page-details">
    <div class="page-box">
        <div class="row">

            <div class="col-sm-6">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Visit Date</label>
                    <div class="col-sm-8">
                        <app-date [inputdate]="Record.mark_visit_date" (ValueChanged)="Record.mark_visit_date=$event">
                        </app-date>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Time</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.mark_time_visit" maxlength="25" (blur)="OnBlur('mark_time_visit')" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Next Visit Date</label>
                    <div class="col-sm-8">
                        <app-date [inputdate]="Record.mark_next_visit_date"
                            (ValueChanged)="Record.mark_next_visit_date=$event"></app-date>
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-sm-4 col-form-label col-form-label-sm">Type</label>

                    <div class="col-sm-8">
                        <select class="form-control form-control-sm" [(ngModel)]="Record.rec_category">
                            <option value="SEA EXPORT">SEA EXPORT</option>
                            <option value="AIR EXPORT">AIR EXPORT</option>
                            <option value="SEA IMPORT">SEA IMPORT</option>
                            <option value="AIR IMPORT">AIR IMPORT</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-sm-4 col-form-label col-form-label-sm">Mode</label>

                    <div class="col-sm-8">
                        <select class="form-control form-control-sm" [(ngModel)]="Record.mark_mode">
                            <option value="PERSONAL VISIT">PERSONAL VISIT</option>
                            <option value="TELE MARKETING">TELE MARKETING</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Client</label>
                    <div class="col-sm-8">
                        <app-autocomplete #ClientLov [inputdata]="CUSTRECORD" (ValueChanged)="LovSelected($event)">
                        </app-autocomplete>
                    </div>
                </div>


                <div class="row" *ngIf="CanAddContacts">
                    <label class="col-sm-4 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-8">
                        <a (click)="open(content)" style="cursor: pointer;">(Add New Client)</a>
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-sm-4 col-form-label col-form-label-sm">Joint Visit With</label>

                    <div class="col-sm-8">
                        <app-autocomplete #SalesmanLov [inputdata]="SALESMANRECORD" (ValueChanged)="LovSelected($event)">
                        </app-autocomplete>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Contact Person</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.mark_contact_person"
                            maxlength="100"  (blur)="OnBlur('mark_contact_person')"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm"></label>
                    <div class="col-sm-8">
                        <a (click)="loadVisit()" style="cursor: pointer;">(Click Here To Fill Visit Details)</a>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Deciding Person</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm"
                            [(ngModel)]="Record.mark_deciding_person" maxlength="100"  (blur)="OnBlur('mark_deciding_person')" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Present Agent</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.mark_agent_name"
                            maxlength="100"  (blur)="OnBlur('mark_agent_name')"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Commodity</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.mark_commodity"
                            maxlength="60"  (blur)="OnBlur('mark_commodity')" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Competition</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.mark_competition"
                            maxlength="100"  (blur)="OnBlur('mark_competition')" />
                    </div>
                </div>

                <div class="form-group row">

                    <label class="col-sm-4 col-form-label col-form-label-sm">Nomination</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.mark_nomination"
                            maxlength="100"  (blur)="OnBlur('mark_nomination')" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label col-form-label-sm">Last Shipment</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.mark_last_shipment"
                            maxlength="100"  (blur)="OnBlur('mark_last_shipment')" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Comments on visit</label>
            <div class="col-sm-10">
                <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.mark_result"
                    maxlength="1000"  (blur)="OnBlur('mark_result')"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Next Action</label>
            <div class="col-sm-10">
                <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.mark_next_action"
                    maxlength="255"  (blur)="OnBlur('mark_next_action')"></textarea>
            </div>
        </div>
    </div>
    <div class="page-box">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <button [hidden]="disableSave" [disabled]="loading" (click)="Save()"
                            class="btn btn-success btn-sm">Save</button>
                        <button [disabled]="loading" (click)="ActionHandler('LIST','')"
                            class="btn btn-success btn-sm">Return</button>
                        <i *ngIf="loading" class="fa fa-spinner"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Contact Master</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-contacts [iisModalWindow] = "'Y'" [menuid]="'MARKCONTACTS'" ></app-contacts>
    </div>
</ng-template>