<div>
    <button *ngIf="_btnshow" [disabled]="loading" class="btn btn-success btn-sm mr-1"
        (click)="GetMemo(memomodal)">{{_btncaption}}</button>
</div>
<ng-template #memomodal let-c="close" let-d="dismiss">
    <div *ngIf="_screentype=='ALL-EDIT'">
        <div class="modal-body">
            <div class="page-box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table  table-hover table-sm mb-1">
                                <thead class="page-body-thead">
                                    <tr>
                                        <th width="90%">MEMO</th>
                                        <th width="10%"></th>
                                    </tr>
                                </thead>
                                <tbody class="page-body-tbody">
                                    <tr *ngFor="let rec of MemoList; let i = index">
                                        <td>
                                            <textarea rows="3" class="form-control form-control-sm"
                                                [(ngModel)]="rec.cm_memo" required maxlength="500"
                                                (blur)="OnBlur('cm_memo',rec)"></textarea>
                                        </td>
                                        <td>
                                            <i class="fa fa-plus fa-lg pointer" aria-hidden="true"
                                                (click)="AddRow()"></i>
                                            <i class="fa fa-trash fa-lg pointer" aria-hidden="true"
                                                (click)="RemoveRow(rec.cm_pkid)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-box">
                <div class="row justify-content-center p-1">
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('OK')">Save</button>
                    <button class="btn btn-primary btn-sm mr-1" (click)="CloseModal('CLOSE')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="_screentype=='SINGLE-EDIT'">
        <div class="modal-header" style="cursor: move;" (mousedown)="gs.startDrag($event)">
            <h4 class="modal-title">{{_title}}</h4>
            <button type="button" class="btn btn-primary btn-sm" (click)="d('Cross click')">Close</button>
        </div>
        <div class="modal-body">
            <div [style.height]="MemoList.length>3?'220px':'auto'"
                [style.overflow-y]="MemoList.length>3?'scroll':'auto'">
                <div class="list-group" *ngFor="let rec of MemoList; let i = index">
                    <a style="padding: 5px"
                        class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <label style="color: brown;padding: 1px;font-weight: bold;font-size: 10px;"
                                class="mb-1">{{rec.rec_created_by}}&nbsp;-&nbsp;{{rec.rec_created_date}} &nbsp; <button
                                    *ngIf="i==MemoList.length-1" (click)="editSingleRecord(rec.cm_pkid)"
                                    style="color: red;font-weight: bold;font-size: 10px;"
                                    class="btn btn-link pointer m-0 p-0 hlink">EDIT</button>
                            </label>
                        </div>
                        <p style="color: black;font-size: 12px;" class="mb-1">{{rec.cm_memo}}</p>
                    </a>
                </div>
            </div>
            <div class="page-details">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group row">
                                <label style="color:black"
                                    class="col-12 col-form-label col-form-label-sm">Comments</label>
                                <div class="col-sm-12">
                                    <textarea style="resize: vertical" rows="1" class="form-control form-control-sm"
                                        [(ngModel)]="Record.cm_memo" maxlength="500"
                                        (blur)="OnBlur('cm_memo',Record)">  </textarea>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group row">
                                <div class="col-12">
                                    <button [disabled]="loading" (click)="Save()"
                                        class="btn btn-primary btn-sm my-1">Save</button>
                                    <button [disabled]="loading" (click)="newSingleRecord()"
                                        class="btn btn-primary btn-sm my-1">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>