<div class="page-header">
  <div class="col-sm">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">
  <div class="page-list">
    <div class="page-search">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group row">
            <!-- <label class="col-4 col-form-label col-form-label-sm">From Date</label> -->
            <div class="col-sm-3">
              <select class="form-control form-control-sm pl-0" [(ngModel)]="type_date">
                <option [value]="'SOB'">SOB</option>
                <option [value]="'CREATED'">CREATED DATE</option>
                <option *ngIf="rec_category=='TEU-IMPORT'" [value]="'ETA'">ETA</option>
                <option [value]="'FIN-YEAR'">FIN-YEAR</option>
              </select>
            </div>
            <div *ngIf="type_date!='FIN-YEAR'" class="col-sm-4">
              <app-date [inputdate]="from_date" (ValueChanged)="from_date=$event"></app-date>
            </div>
            <label *ngIf="type_date!='FIN-YEAR'" class="col-sm-1 col-form-label col-form-label-sm">To</label>
            <div *ngIf="type_date!='FIN-YEAR'" class="col-sm-4">
              <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
            </div>
            <div *ngIf="type_date=='FIN-YEAR'" class="col-sm-9">
              <select class="form-control form-control-sm" [(ngModel)]="year_code">
                <option *ngFor="let rec of YearList" [value]="rec.year_code">{{rec.year_name}}</option>
              </select>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">To Date</label>
            <div class="col-sm-9">
              <app-date [inputdate]="to_date" (ValueChanged)="to_date=$event"></app-date>
            </div>
          </div> -->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Shipper</label>
            <div *ngIf="rec_category=='TEU-EXPORT'" class="col-sm-9">
              <app-autocomplete #ExporterLov [inputdata]="EXPRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
            <div *ngIf="rec_category=='TEU-IMPORT'" class="col-sm-9">
              <app-autocomplete #ImporterLov [inputdata]="IMPRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Consignee</label>
            <div *ngIf="rec_category=='TEU-EXPORT'" class="col-sm-9">
              <app-autocomplete #ImporterLov [inputdata]="IMPRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
            <div *ngIf="rec_category=='TEU-IMPORT'" class="col-sm-9">
              <app-autocomplete #ExporterLov [inputdata]="EXPRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Agent</label>
            <div class="col-sm-9">
              <app-autocomplete #AgentAddLov [inputdata]="AGENTRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
         
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Carrier</label>
            <div class="col-sm-10">
              <app-autocomplete #CarrierAddLov [inputdata]="CARRIERRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Pol</label>
            <div class="col-sm-10">
              <app-autocomplete #LoadPortAddLov [inputdata]="POLRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Pod</label>
            <div class="col-sm-10">
              <app-autocomplete #DischrgPortAddLov [inputdata]="PODRECORD" (ValueChanged)="LovSelected($event)">
              </app-autocomplete>
            </div>
          </div>
          <div *ngIf="bCompany" class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Branch</label>
            <div class="col-sm-10">
              <app-autocomplete #BrLov [inputdata]="BRRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Format</label>
            <div class="col-sm-10">
              <select class="form-control form-control-sm" [(ngModel)]="report_format">
                <option [value]="'GENERAL'">GENERAL</option>
                <option [value]="'BRANCH WISE'">BRANCH WISE</option>
                <option [value]="'CUSTOMER WISE'">CUSTOMER WISE</option>
                <option [value]="'CONSIGNEE WISE'">CONSIGNEE WISE</option>
                <option [value]="'AGENT WISE'">AGENT WISE</option>
                <option [value]="'POL WISE'">POL WISE</option>
                <option [value]="'POD WISE'">POD WISE</option>
                <option [value]="'BRANCH YEAR WISE'">BRANCH YEAR WISE</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm"></label>
            <div *ngIf="bCompany" class="col-sm-10">
              <input type="checkbox" [(ngModel)]="all" (change)="OnChange('all')" id="_chkall">
              <label class="col-form-label col-form-label-sm mr-1" for="_chkall">All Branch</label>
              <!-- <span> All</span> -->
              <input type="checkbox" [(ngModel)]="isSubtot" (change)="OnChange('isSubtot')" id="_chkSubtotal">
              <label class="col-form-label col-form-label-sm" for="_chkSubtotal">Subtotal</label>
              <!-- <span> Subtotal</span> -->
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm"></label>
            <div class="col-sm-10">
              <button [disabled]="loading" (click)="List('SCREEN')" class="btn btn-primary btn-sm">Process
                Report</button>
              <button *ngIf="bExcel" [disabled]="loading" (click)="List('EXCEL')"
                class="btn btn-primary btn-sm">Excel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="rec_category=='TEU-EXPORT'&& list_format=='GENERAL'" class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th *ngIf="all">BRANCH</th>
          <th>CONTAINER</th>
          <th>TYPE</th>
          <th>A.SEALNO</th>
          <th>C.SEALNO</th>
          <th>SHIPPER</th>
          <th>CONSIGNEE</th>
          <th>AGENT</th>
          <th>CARRIER</th>
          <th>SALESMAN</th>
          <th>NOMINATION</th>
          <th>POL</th>
          <th>POD</th>
          <th>POFD</th>
          <th>MBLBK#</th>
          <th>MBL#</th>
          <th>BOOKING.NO</th>
          <th>SOB</th>
          <th>STUFFED AT</th>
          <th>STUFFED ON</th>
          <th>NATURE</th>
          <th>SHPMNT.TYPE</th>
          <th>JOB.TYPE</th>
          <th>CLEARING</th>
          <th class="text-right">TEU</th>
          <th class="text-right">PCS</th>
          <th class="text-right">NTWT</th>
          <th class="text-right">GRWT</th>
          <th class="text-right">CBM</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i" [style.color]="rec.row_colour">
          <td *ngIf="all">{{rec.branch}}</td>
          <td>{{rec.cntr_no}}</td>
          <td>{{rec.cntr_type_code}}</td>
          <td>{{rec.cntr_asealno}}</td>
          <td>{{rec.cntr_csealno}}</td>
          <td>{{rec.hbl_exp_name}}</td>
          <td>{{rec.hbl_imp_name}}</td>
          <td>{{rec.hbl_agent_name}}</td>
          <td>{{rec.hbl_carrier_name}}</td>
          <td>{{rec.sman_name}}</td>
          <td>{{rec.hbl_nomination}}</td>
          <td>{{rec.hbl_pol_name}}</td>
          <td>{{rec.hbl_pod_name}}</td>
          <td>{{rec.hbl_pofd_name}}</td>
          <td>{{rec.cntr_booking_no}}</td>
          <td>{{rec.mbl_no}}</td>
          <td>{{rec.mbl_book_no}}</td>
          <td>{{rec.mbl_pol_etd}}</td>
          <td>{{rec.cntr_stuffed_at}}</td>
          <td>{{rec.cntr_stuffed_on}}</td>
          <td>{{rec.mbl_nature}}</td>
          <td>{{rec.mbl_shipment_type}}</td>
          <td>{{rec.job_type}}</td>
          <td>{{rec.cntr_clearing}}</td>
          <td align='right'>{{ rec.cntr_teu | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.cntr_pcs | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.cntr_ntwt | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.cntr_grwt | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.cntr_cbm | number : '1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="list_format=='SUMMARY'" class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th>{{ColNames.length>0?ColNames[0]:''}}</th>
          <th *ngIf="ColNames.length>2" class="text-right">{{ColNames[2]}}</th>
          <th *ngIf="ColNames.length>3" class="text-right">{{ColNames[3]}}</th>
          <th *ngIf="ColNames.length>4" class="text-right">{{ColNames[4]}}</th>
          <th *ngIf="ColNames.length>5" class="text-right">{{ColNames[5]}}</th>
          <th *ngIf="ColNames.length>6" class="text-right">{{ColNames[6]}}</th>
          <th *ngIf="ColNames.length>7" class="text-right">{{ColNames[7]}}</th>
          <th *ngIf="ColNames.length>8" class="text-right">{{ColNames[8]}}</th>
          <th *ngIf="ColNames.length>9" class="text-right">{{ColNames[9]}}</th>
          <th *ngIf="ColNames.length>10" class="text-right">{{ColNames[10]}}</th>
          <th *ngIf="ColNames.length>11" class="text-right">{{ColNames[11]}}</th>
          <th *ngIf="ColNames.length>12" class="text-right">{{ColNames[12]}}</th>
          <th *ngIf="ColNames.length>13" class="text-right">{{ColNames[13]}}</th>
          <th class="text-right">TEU</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i" [style.color]="rec.row_colour">
          <td>{{ColNames.length>0?rec[ColNames[1]]:''}}</td>
          <td *ngIf="ColNames.length>2" class="text-right">{{rec[ColNames[2]]}}</td>
          <td *ngIf="ColNames.length>3" class="text-right">{{rec[ColNames[3]]}}</td>
          <td *ngIf="ColNames.length>4" class="text-right">{{rec[ColNames[4]]}}</td>
          <td *ngIf="ColNames.length>5" class="text-right">{{rec[ColNames[5]]}}</td>
          <td *ngIf="ColNames.length>6" class="text-right">{{rec[ColNames[6]]}}</td>
          <td *ngIf="ColNames.length>7" class="text-right">{{rec[ColNames[7]]}}</td>
          <td *ngIf="ColNames.length>8" class="text-right">{{rec[ColNames[8]]}}</td>
          <td *ngIf="ColNames.length>9" class="text-right">{{rec[ColNames[9]]}}</td>
          <td *ngIf="ColNames.length>10" class="text-right">{{rec[ColNames[10]]}}</td>
          <td *ngIf="ColNames.length>11" class="text-right">{{rec[ColNames[11]]}}</td>
          <td *ngIf="ColNames.length>12" class="text-right">{{rec[ColNames[12]]}}</td>
          <td *ngIf="ColNames.length>13" class="text-right">{{rec[ColNames[13]]}}</td>
          <td class="text-right">{{rec.cntr_teu}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="rec_category=='TEU-IMPORT'&& list_format=='GENERAL'" class="page-body table-responsive">
    <table class="table table-hover table-sm table-bordered table-striped">
      <thead class="page-body-thead">
        <tr>
          <th *ngIf="all">BRANCH</th>
          <th>CONTAINER</th>
          <th>TYPE</th>

          <th>SHIPPER</th>
          <th>CONSIGNEE</th>
          <th>AGENT</th>
          <th>CARRIER</th>
          <th>SALESMAN</th>
          <th>POL</th>
          <th>POD</th>
          <th>POFD</th>

          <th>MBL#</th>

          <th>SOB</th>


          <th>JOB.TYPE</th>

          <th class="text-right">TEU</th>
          <th class="text-right">PCS</th>
          <th class="text-right">NTWT</th>
          <th class="text-right">GRWT</th>
          <th class="text-right">CBM</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
          (mousedown)="selectedRowIndex=i" [style.color]="rec.row_colour">
          <td *ngIf="all">{{rec.branch}}</td>
          <td>{{rec.cntr_no}}</td>
          <td>{{rec.cntr_type_code}}</td>

          <td>{{rec.hbl_exp_name}}</td>
          <td>{{rec.hbl_imp_name}}</td>
          <td>{{rec.hbl_agent_name}}</td>
          <td>{{rec.hbl_carrier_name}}</td>
          <td>{{rec.sman_name}}</td>
          <td>{{rec.hbl_pol_name}}</td>
          <td>{{rec.hbl_pod_name}}</td>
          <td>{{rec.hbl_pofd_name}}</td>

          <td>{{rec.mbl_no}}</td>

          <td>{{rec.mbl_pol_etd}}</td>


          <td>{{rec.job_type}}</td>

          <td align='right'>{{ rec.cntr_teu | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.cntr_pcs | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.cntr_ntwt | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.cntr_grwt | number : '1.2-2' }}</td>
          <td align='right'>{{ rec.cntr_cbm | number : '1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<br />


<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>