<div class="page-header">
    <div class="col">
        <label>{{title}}</label>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
    <div class="page-search">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group row">
                    <div class="offset-2 col-sm-10">
                        <font color="black">
                            <strong>
                                JOB TRANSFER FROM &nbsp;
                            </strong>
                        </font>
                        <font color="red">
                            <strong>
                                {{prefinyear}}
                            </strong>
                        </font>
                        <strong>
                            &nbsp;TO&nbsp;
                        </strong>
                        <font color="red">
                            <strong>
                                {{finyear}}
                            </strong>
                        </font>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Type</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" [(ngModel)]="moduletype"
                            (change)="OnChange('moduletype')">
                            <option *ngFor="let rec of ModuleList" [value]="rec.code">{{rec.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Category</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" [(ngModel)]="modulecategory">
                            <option [value]="'AIR EXPORT'">AIR EXPORT</option>
                            <option [value]="'SEA EXPORT'">SEA EXPORT</option>
                            <option [value]="'AIR IMPORT'">AIR IMPORT</option>
                            <option [value]="'SEA IMPORT'">SEA IMPORT</option>
                        </select>
                    </div>
                </div>
                <!--<div class="form-group row">
            <div class="offset-2 col-sm-10">
              <input type="checkbox" [(ngModel)]="chkcc">&nbsp;&nbsp;Cost Center
            </div>
          </div>-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{yeartitle}}</label>
                    <div class="col-sm-4">
                        <input type="number" disabled class="form-control form-control-sm" [(ngModel)]="prefinyear"
                            (blur)="OnBlur('refno')" required maxlength="10" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{refnotitle}}</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="refno"
                            (blur)="OnBlur('refno')" required maxlength="500" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-box">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <div class="offset-2 col-sm-10">
                    <button [disabled]="loading || JobList.length>0" (click)="SearchRecord('jobtransfer','DETAIL')"
                        class="btn btn-success btn-sm">Transfer</button>
                    <button *ngIf="JobList.length>0" [disabled]="loading" (click)="ClearList()"
                        class="btn btn-success btn-sm">New List</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="JobList.length>0" class="page-body table-responsive">
    <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
            <tr>
                <th width="5%">TYPE</th>
                <th width="10%">CATEGORY</th>
                <th width="5%">YEAR</th>
                <th width="10%">{{listrefnotitle}}</th>
                <th width="10%">TRANSFER</th>
                <th width="60%">REMARKS</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of JobList">
            <tr>
                <td>{{rec.type}}</td>
                <td>{{rec.rec_category}}</td>
                <td>{{rec.job_year}}</td>
                <td>{{rec.job_docno}}</td>
                <td><i class="fa fa-exchange fa-lg pointer" style="font-size:24px" aria-hidden="true"
                        (click)="Transfer(rec)"></i></td>
                <td>{{rec.remarks}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>