<div class="page-header">
    <div class="col">
        <label>{{title}}</label>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
    <div class="page-search">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group row">
                    <div class="offset-2 col-sm-10">
                        <font color="black">
                            <strong>
                                JOB TRANSFER FROM &nbsp;
                            </strong>
                        </font>
                        <font color="red">
                            <strong>
                                {{prefinyear}}
                            </strong>
                        </font>
                        <strong>
                            &nbsp;TO&nbsp;
                        </strong>
                        <font color="red">
                            <strong>
                                {{finyear}}
                            </strong>
                        </font>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Type</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" [(ngModel)]="moduletype"
                            (change)="OnChange('moduletype')">
                            <option *ngFor="let rec of ModuleList" [value]="rec.code">{{rec.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Category</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" [(ngModel)]="modulecategory">
                            <option [value]="'AE'">AIR EXPORT</option>
                            <option [value]="'SE'">SEA EXPORT</option>
                            <option [value]="'AI'">AIR IMPORT</option>
                            <option [value]="'SI'">SEA IMPORT</option>
                        </select>
                    </div>
                </div>
                <!--<div class="form-group row">
            <div class="offset-2 col-sm-10">
              <input type="checkbox" [(ngModel)]="chkcc">&nbsp;&nbsp;Cost Center
            </div>
          </div>-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">{{refnotitle}}</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control form-control-sm" [(ngModel)]="refno"
                            (blur)="OnBlur('refno')" required maxlength="10" />
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm">JobYear</label>
                    <div class="col-sm-4">
                        <input type="number" disabled class="form-control form-control-sm" [(ngModel)]="prefinyear"
                            (blur)="OnBlur('refno')" required maxlength="10" />
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label style="color:red"
                        class="offset-2 col-sm-10 col-form-label col-form-label-sm">{{refnodesc}}</label>
                </div> -->
                <!-- <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Remarks</label>
                    <div class="col-sm-10">
                        <textarea rows="2" class="form-control form-control-sm" [(ngModel)]="remarks"
                            (blur)="OnBlur('remarks')" maxlength="250"></textarea>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="page-box">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <div class="offset-2 col-sm-10">
                    <button [disabled]="loading" (click)="UnlockRecord('save')"
                        class="btn btn-success btn-sm">Transfer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
    {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
    {{ErrorMessage}}
</div>