<div class="page-header">
    <div class="col">
        <label>{{title}}</label>
        <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
        <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
        <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">
    <div class="page-search">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">From Date</label>
                    <div style="padding-right:0px;padding-left:0px" class="col-sm-1">
                        <app-date [inputdate]="fromdate"
                            (ValueChanged)="fromdate=$event">
                        </app-date>
                    </div>
                    <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">To Date</label>
                    <div style="padding-right:0px;padding-left:0px" class="col-sm-1">
                        <app-date [inputdate]="todate"
                            (ValueChanged)="todate=$event">
                        </app-date>
                    </div>
                    <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">Search</label>
                    <div class="col-sm-4">
                        <input type="text" class="col form-control form-control-sm" name="Search"
                            [(ngModel)]="searchstring" />
                    </div>
                    <div class="col-sm-3">
                        <button [disabled]="loading" (click)="List('NEW')"
                            class="btn btn-primary btn-sm">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-pager">
        <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                        (Records-{{page_rowcount}})</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>

    <div class="page-body table-responsive">
        <table class="table  table-hover table-sm">
            <thead class="page-body-thead">
                <tr>
                    <th>CF#</th>
                    <th>DATE</th>
                    <th>JOB#</th>
                    <th>CNTR#</th>
                    <th>PARTY</th>
                    <th>INVOICE.DATE</th>
                    <th>EXPENSE.DATE</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
                <tr (click)="ActionHandler('EDIT',rec.dem_pkid)">
                    <td>{{rec.dem_cfno}}</td>
                    <td>{{rec.dem_date}}</td>
                    <td>{{rec.dem_genjob_prefix}}</td>
                    <td>{{rec.dem_container}}</td>
                    <td>{{rec.dem_party_name}}</td>
                    <td>{{rec.dem_inv_date}}</td>
                    <td>{{rec.dem_exp_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="page-pager">
        <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                        (Records-{{page_rowcount}})</a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                            class="fa fa-backward"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                            class="fa fa-arrow-left"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                            class="fa fa-arrow-right"></span></a>
                </li>
                <li class="page-item"><a class="page-link" (click)="List('LAST')"><span
                            class="fa fa-forward"></span></a></li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="currentTab=='DETAILS'" class="page-details">

    <div class="page-box">
        <div class="row">
            <div class="col-sm-4">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">CF#</label>
                    <div class="col-sm-4">
                        <input type="text" style="color:red; font-weight:bold" class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_cfno" [disabled]="true" required maxlength="15" />
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm">Date</label>
                    <div class="col-sm-4">
                        <app-date #_dem_date [inputdate]="Record.dem_date" (ValueChanged)="Record.dem_date=$event">
                        </app-date>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label  col-form-label-sm">GenJob#</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.dem_genjob_no"
                            (blur)="OnBlur('dem_genjob_no')" required maxlength="10" />
                    </div>
                    <div class="col-sm-6" style="padding-left:0">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_genjob_prefix" (blur)="OnBlur('dem_genjob_prefix')" required
                            maxlength="60" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Party</label>
                    <div class="col-sm-4">
                        <app-autocomplete #PartyLov [inputdata]="PARTYRECORD" (ValueChanged)="LovSelected($event)">
                        </app-autocomplete>
                    </div>
                    <div class="col-sm-6" style="padding-left:0">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_party_name" (blur)="OnBlur('dem_party_name')" required
                            maxlength="60" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Branch#</label>
                    <div class="col-10">
                        <app-autocomplete #PartyAddLov [inputdata]="PARTYADDRECORD"
                            (ValueChanged)="LovSelected($event)">
                        </app-autocomplete>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm"></label>
                    <div class="col-10">
                        <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.dem_party_br_addr"
                            [disabled]="true" maxlength="1000"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">GST#</label>
                    <div class="col-10">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_party_br_gst" (blur)="OnBlur('dem_party_br_gst')"  />
                    </div>
                </div>

            </div>

            <div class="col-sm-4">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm">Inv.Date</label>
                    <div class="col-sm-4">
                        <app-date #_dem_inv_date [inputdate]="Record.dem_inv_date" (ValueChanged)="Record.dem_inv_date=$event">
                        </app-date>
                    </div>
                    <label class="col-sm-2 col-form-label col-form-label-sm">Exp.Date</label>
                    <div class="col-sm-4">
                        <app-date #_dem_exp_date [inputdate]="Record.dem_exp_date" (ValueChanged)="Record.dem_exp_date=$event">
                        </app-date>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Driver</label>
                    <div class="col-10">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_driver_name" (blur)="OnBlur('dem_driver_name')" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Cntr#</label>
                    <div class="col-10">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_container" (blur)="OnBlur('dem_container')" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">Vehicle#</label>
                    <div class="col-10">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_vehicle_no" (blur)="OnBlur('dem_vehicle_no')" />
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">From</label>
                    <div class="col-10">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_from" (blur)="OnBlur('dem_from')"  />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label col-form-label-sm">To</label>
                    <div class="col-10">
                        <input type="text" disabled class="form-control form-control-sm"
                            [(ngModel)]="Record.dem_to" (blur)="OnBlur('dem_to')" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="page-box">
        <div class="page-body table-responsive">
            <table class="table  table-hover table-sm">
                <thead class="page-body-thead">
                    <tr>
                        <th>SI#</th>
                        <th>CODE</th>
                        <th>NAME</th>
                        <th>NATURE</th>
                        <th *ngIf="bAdmin">A/C-CREDIT</th>
                        <th *ngIf="bAdmin">TYPE</th>
                        <th>AMOUNT</th>
                    </tr>
                </thead>
                <tbody class="page-body-tbody" *ngFor="let rec of Record.detList">
                    <tr>
                        <td>{{rec.ded_slno}}</td>
                        <td>{{rec.ded_accode}}</td>
                        <td>{{rec.ded_acname}}</td>
                        <td>{{rec.ded_nature}}</td>
                        <td *ngIf="bAdmin">{{rec.ded_accrcode}}</td>
                        <td *ngIf="bAdmin">{{rec.ded_type}}</td>
                        <td style="padding:0"> <input type="number" class="form-control form-control-sm" [disabled]="rec.rec_deleted=='Y'"
                                [(ngModel)]="rec.ded_amt" (blur)="OnBlur('ded_amt',rec)" required maxlength="15" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page-box">
        <div class="col">
            <button [hidden]="disableSave" [disabled]="loading || Record.lock_record" (click)="Save()"
                class="btn btn-success btn-sm">Save</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST','')"
                class="btn btn-success btn-sm">Return</button>
            <!-- <label *ngIf="mode=='EDIT'" class="col-form-label col-form-label-sm">
                <font color="RED">
                    <strong>
                        {{Record.lock_record == true ? 'LOCKED' : 'UNLOCKED'}}
                    </strong>
                </font>
            </label> -->
        </div>
    </div>
    <br />
    <App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
    <div *ngIf="InfoMessage" class="alert alert-success">
        {{InfoMessage}}
    </div>
    <div *ngIf="ErrorMessage" class="alert alert-danger">
        {{ErrorMessage}}
    </div>
</div>