<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
  <div class="page-search">
    <div class="row">
      <div class="col-sm-6">

        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Module</label>
          <div class="col-sm-10">
            <select class="form-control form-control-sm" [(ngModel)]="moduletype" (change)="OnChange('moduletype')">
              <option *ngFor="let rec of ModuleList" [value]="rec.code">{{rec.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Release</label>
          <div class="col-sm-10">
            <input type="checkbox" [(ngModel)]="chkdate">&nbsp;&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" [(ngModel)]="chkcc">&nbsp;&nbsp;Cost Center&nbsp;&nbsp;&nbsp;&nbsp;
            <label *ngIf="moduletype == 'MBL-AE' || moduletype == 'MBL-AI' || moduletype == 'MBL-SE' || moduletype == 'MBL-SI'"><input type="checkbox" [(ngModel)]="chkresetfldr">&nbsp;&nbsp;Reset Folder</label>
            <label *ngIf="moduletype == 'BP'||moduletype == 'JV-BP'"><input type="checkbox" [(ngModel)]="chkbpreaprvd">&nbsp;&nbsp;Reapproval</label>
          </div>
        </div>
        <!--<div class="form-group row">
          <div class="offset-2 col-sm-10">
            <input type="checkbox" [(ngModel)]="chkcc">&nbsp;&nbsp;Cost Center
          </div>
        </div>-->
        <div *ngIf="moduletype.indexOf('HR-')==0" class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Date</label>
          <div class="col-4">
            <app-date [inputdate]="unlockdate" (ValueChanged)="unlockdate=$event"></app-date>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{refnotitle}}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="refno" (blur)="OnBlur('refno')" required maxlength="100" />
          </div>
        </div>
        <div class="form-group row">
          <label style="color:red" class="offset-2 col-sm-10 col-form-label col-form-label-sm">{{refnodesc}}</label>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label col-form-label-sm">Remarks</label>
          <div class="col-sm-10">
            <textarea rows="2" class="form-control form-control-sm" [(ngModel)]="remarks" (blur)="OnBlur('remarks')" maxlength="250"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-box">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="offset-2 col-sm-10">
          <button [disabled]="loading" (click)="UnlockRecord('save')" class="btn btn-success btn-sm">Unlock</button>
          <button [disabled]="loading" (click)="UnlockRecord('lock')" class="btn btn-success btn-sm">Lock</button>
          <button [disabled]="loading" (click)="ShowHistory(history)" class="btn btn-success btn-sm">History</button>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>

<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-history [pkid]="pkid" [type]="'UN-LOCK-MODULE'"></app-history>
  </div>
</ng-template>
